.helpCenter_02_text_ul>div{
    margin: 20px;
    width: 970px;
    height: 150px;
    color: #fff;
    font-size: 30px;
    line-height: 150px;
    text-align: center;
    font-weight: bold;
}

.intro{
    background: url("../images/aboutUs/abou_us.png") no-repeat;
}

.introduce{
    background: url("../images/aboutUs/introduce.png");
}

.news{
    background: url("../images/aboutUs/news.png");
}

.call_us{
    background: url("../images/aboutUs/call_us.png");
}

.wx_div{
    width: 140px;
    float: left;
}

.kf_div{
    width: 148px;
    float: left;
    margin-left: 40px;
    text-align: center;
}

.kf_div>img{
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
}

.wx_div>img{
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
}

/* 高德地图 */
#container{
    width: 890px;
    height: 340px;
    margin: 20px 40px;
}

/* 新闻公告 */
.news_title{
    width: 690px;
    margin: 0 auto;
}

.news_title>li{
    color: #999;
    width: 120px;
    height: 45px;
    float: left;
    cursor: pointer;
    margin: 20px 55px;
    text-align: center;
    line-height: 45px;
}

.active{
    color: #fff !important;
    border-radius: 5px;
    background: #fcd391;
}

section{
    color: #999;
    margin:40px 60px;
}

.company_news{
    margin-bottom: 60px;
}

.company_news>li{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #e3e3e3;
}

.company_news>li>a>span:first-of-type{
    color: #999;
    float: left;
    margin-left: 10px;
}

.company_news>li>a:hover{
    color: #999;
}

.company_news>li>a>span:last-of-type{
    color: #999;
    float: right;
    margin-right: 10px;
}

#laypages,
#laypages_01,
#laypages_02{
    text-align: center;
}

