/* 账户总额 头部 */
.account_page_top,
.rechargr_page_top,
.withdraw_page_top{
    height: 150px;
    border-radius: 5px;
    text-align: center;
    background: #fff;
    box-shadow: 0 10px 20px #f7f3ec;
}

/* 左侧 */
.account_page_top_left,
.rechargr_page_top_left,
.withdraw_page_top_left{
    width: 210px;
    height: 100%;
    float: left;
    border-right: 1px solid #e4e4e4;
}

/* 总资产 */
.total_money{
    padding-top: 45px;
    font-size: 26px;
    color: #ffa21a;
    font-weight: bold;
    margin-left: -40px;
}

.total_img{
    margin-top: -12px;
}

/* 右侧 */
.account_page_top_right,
.rechargr_page_top_right,
.withdraw_page_top_right{
    float: right;
    width: 710px;
    height: 100%;
}

.account_page_top_right>div,
.rechargr_page_top_right>div,
.withdraw_page_top_right>div{
    float: left;
}


.income02{
    width: 198px;
    margin-top: 40px;
}

.income01,

.balance02{
    margin-top: 40px;
    width: 230px;
    text-align: center;
}

.income01>p:first-child,
.income02>p:first-child,
.balance01>p:first-child,
.balance02>p:first-child,
.lay_money>p:first-child,
.earnings_money>p:first-child{
    color: #666;
    font-size: 24px;
    margin-top: 5px;
}

/* 充值提现 按钮 */
.rechargr_withdraw01,
.rechargr_withdraw02,
.rechargr_withdraw03{
    margin: 25px 35px;
}

.call_back,
.rechargr_btn,
.withdraw_btn{
    width: 138px;
    height: 45px;
    font-size: 16px;
    border-radius: 45px;
    line-height: 45px;
    position: relative;
}

.rechargr_btn{
    color: #fff;
    cursor: pointer;
    background: #ffc776;
}

.call_back,
.withdraw_btn{
    color: #ffc776;
    margin-top: 10px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #ffc776;
}

.rechargr_btn>p{
    margin-left: 20px;
    position: absolute;
}

.withdraw_btn01>p{
    margin-left: 88px;
    position: absolute;
}

.arrows_01,
.arrows_02{
    top: 6px;
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 100%;
}

.arrows_01{
    right: 10px;
    background: #ffa21a url("../images/personal/arrows_01.png") center no-repeat;
}

.arrows_02{
    left: 10px;
    border: 1px solid #ffc776;
    background: #fff url("../images/personal/arrows_02.png") center no-repeat; 
}

/* 账户总览中间 */
.account_page_middle{
   width: 920px;
   height: 280px;
   margin: 20px 0;
}

.assets_left{
    width: 290px;
    height: 100%;
    float: left;
    margin-right: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 10px #f7f3ec;
}

.assets_right{
    width: 610px;
    height: 100%;
    float: right;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 10px #f7f3ec;
}

.assets_right_top{
    height: 95px;
    border-bottom: 1px solid #e4e4e4;
}

.lay_money,
.earnings_money{
    width: 50%;
    height: 100%;
    float: left;
    padding-top: 10px;
    text-align: center;
}

.assest_ul>li{
    width: 50%;
    height: 95px;
    float: left;
    line-height: 95px;
    text-align: center;
}

.assest_ul>li>img{
    margin-top: -2px;
    margin-right: 2px;
}

/* 充值提现页面 */
.rechargr_page,
.withdraw_page{
    display: none;
}
.all_money{
    margin: 45px 50px 40px 90px;
}

.all_money>p:first-child{
    color: #ffa21a;
    font-size: 30px;
    font-weight: bold;
}

.confirm_message,
.recharge_money{
    height: 285px;
    margin-top: 20px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 10px 20px #f7f3ec;
}

.confirm_message{
    float: left;
    width: 525px;
    color: #666;
    text-align: center;
    margin-right: 20px;
}

.recharge_money{
    width: 375px;
    float: right;
    color: #666;
    text-align: center;
}

.confirm_message>p:first-child,
.recharge_money_form>p:first-child,
.withdraw_money_form>p:first-child{
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 16px;
}

.confirm_message01{
    margin-left: -100px;
    margin-bottom: 20px;
}

.confirm_message02{
    margin-left: -90px;
    margin-bottom: 20px;
}

.confirm_message01>span:last-of-type{
    margin-left: 20px;
}

.confirm_message02>span:first-child{
    margin-right: 20px;
}

.bank_mask{
    width: 320px;
    margin: 0 auto;
}

.bank_mask02{
    width: 350px;
    margin: 0 auto;
}

.bank_message{
    width: 240px;
    height: 100px;
    float: right;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #fdaa3d;
}

.bank_img{
    height: 67px;
    border-bottom: 1px solid #e4e4e4;
}

.id_card_message{
    display: flex;
    line-height: 33px;
    justify-content: space-around;
}

.recharge_money_form>input,
.withdraw_money_form>input{
    width: 320px;
    height: 45px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
}

.recharge_money_form>input[type="text"],
.withdraw_money_form>input[type="text"]{
    padding-left: 10px;
    border: 1px solid #e4e4e4;
}

.recharge_money_form>input[type="button"],
.withdraw_money_form>input[type="button"]{
    color: #fff;
    font-size: 16px;
    background: #fdaa3d;
    border: 1px solid #fdaa3d;
}


.mask{
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0.9;
    background-color: #979694;
}

.mask,
.pay_mask,
.refere_mask,
.trader_password{
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: fixed;
    display: none;
}

.pay_mask,
.refere_mask,
.trader_password{
    top: 100px;
    width: 400px;
    height: 340px;
    background: #fff;
    margin: 0 auto;
    border-radius: 5px;
}

.pay_mask,
.refere_mask{
    height: 260px;
}

.pay_mask_top,
.refere_mask_top,
.trader_password_top{
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #e4e4e4;
}

.pay_mask_top>p,
.refere_mask_top>p,
.trader_password_top>p{
    color: #999;
    font-size: 12px;
    margin-left: 20px;
    float: left;
}

.pay_mask_top>span,
.refere_mask_top>span,
.trader_password_top>span{
    width: 25px;
    height: 25px;
    float: right;
    color: #fff;
    border-radius: 2px;
    margin-right: 20px;
    margin-top: 12.5px;
    font-size: 30px;
    cursor: pointer;
    background: #ffc695;
    text-align: center;
    line-height: 25px;
}

.pay_mask_bottom,
.refere_mask_bottom{
    text-align: center;
}

.pay_mask_bottom>p,
.refere_mask_bottom>p{
    color: #666;
}

.pay_mask_btn,
.refere_mask_btn{
    color: #fff;
    width: 300px;
    height: 45px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 45px;
    border-radius: 5px; 
    text-align: center;   
    background: #fd9c1c;
}

.refere_mask_bottom>p:first-of-type,
.pay_mask_bottom>p:first-of-type{
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 10px;
}

.pwd{
    background: url("../images/register/password_01.png") no-repeat;
}

.PIN_p1{
    font-size: 18px;
    margin-top: 30px;
    line-height: 2;
}

.trader_password>form{
    text-align: center;
}

.trader_password>form>h2{
    padding: 50px 0 45px 0;
}

.trader_password_ul>li{
    width: 320px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius:5px;
    border: 1px solid #e4e4e4;
}

.trader_password_ul>li>input{
    float:left;
    height: 100%;
    border: none;
    outline:none;
}

.trader_password_bottom{
    text-align:center;
}

.trader_password_bottom>input[type="button"]{
    width: 320px;
    margin-top: 20px;
    height: 45px;
    color: #fff;
    outline: none;
    line-height: 45px;
    border-radius: 5px;
    background: #fd9c1c;
    border: 1px solid #fd9c1c;
}

.trader_password_bottom>a{
    color:#65b9ed;
    float: right;
    margin: 10px 40px 0px 0px;
}
