
.banner,
.middle,
.bottom{
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-width: 1200px;
    max-width: 1920px;
    text-align: center;
}

.banner{
    height: 964px;
    background: url("../images/acvitity/banner.png") center no-repeat;
}

.middle{
    height: 969px;
    background: url("../images/acvitity/img_01.png") center no-repeat;
}

.bottom{
    height: 1143px;
    background: url("../images/acvitity/img_02.png") center no-repeat;
}


.activity_01{
    padding-top: 270px;
}

.activity_02{
    padding-top: 580px;    
}

.activity_03{
    padding-top: 860px;
}

.activity_04{
    color: #dad5fc;
    padding-top: 40px;
    letter-spacing: 2px;
}

.activity_01,
.activity_02,
.activity_03{
    color: #fff;
    letter-spacing: 2px;
}

.btn{
    bottom: 200px;
    width: 1200px;
    margin: 0 auto;
    height: 101px;
    position: absolute;
}

.btn1,
.btn2{
    width: 225px;
    height: 90px;
    color: #fff;
    font-size: 16px;
    line-height:58px;
    position: absolute;
    border-radius: 10%;
    background: url("../images/acvitity/btn.png") center no-repeat;
}

.btn1{
    margin-left: 595px;
}

.btn2{
    margin-left: 1110px;
}

.btn3{
    width: 300px;
    height: 101px;
    color: #fff;
    /* margin: 0 auto; */
    font-size: 16px;
    line-height: 71px;
    margin: -100px 0 0 800px;
    background: url("../images/acvitity/btn2.png") center no-repeat;
}