
.banner,
.middle,
.bottom{
    width: 100%;
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1920px;
    text-align: center;
}

.banner{
    height: 1220px;
}

.banner_01{
    height: 716px;
    background: url("../images/acvitity/active_01.png") center no-repeat;
}

.banner_02{
    height: 505px;
    background: url("../images/acvitity/active_02.png") center no-repeat;
}

.middle{
    height: 1129px;
    background: url("../images/acvitity/active_03.png") center no-repeat;
}

.bottom{
    height: 1143px;
    background: url("../images/acvitity/active_04.png") center no-repeat;
}


.activity_01{
    padding-top: 270px;
}

.activity_02{
    padding-top: 580px;    
}

.activity_03{
    padding-top: 460px;
}

.activity_04{
    color: #dad5fc;
    padding-top: 40px;
    letter-spacing: 2px;
}

.activity_01,
.activity_02,
.activity_03{
    color: #fff;
    letter-spacing: 2px;
}

.btn{
    top: 450px;
    width: 300px;
    margin: 0 auto;
    height: 101px;
    position: relative;
    display: inline-block;
    margin-top: 300px;
}

.btn3{
    width: 300px;
    height: 101px;
    color: #fff;
    font-size: 16px;
    line-height: 71px;
    position: absolute;
    background: url("../images/acvitity/btn2.png") center no-repeat;
}

.record{
    height: 860px;
    background: url("../images/acvitity/active_05.png") center no-repeat;
}

.record_ul{
    width: 996px;
    margin: 0 auto;
    padding-top: 300px;
    border-radius: 10px;
}

.record_ul>li{
    text-align: center;
}

.record_ul>li>div{
    width: 332px;
    /* height: 60px; */
    float: left;
    white-space:normal;
}

.head{
    color: #fff;
    height: 60px;
    background: #ff8a4e;
    line-height: 60px;
}

.content{
    height: 60px;
    font-size: 14px;
    color: #4936bb;
    background: #fefee7;
    padding-top: 20px;
    border-bottom: 1px solid #eaddb0;
}

.part_05_title{
    color: #fff;
    padding-top: 30px;
    text-align: center;
}

.part_05_title>p:nth-of-type(2){
    font-size: 12px;
    padding-top: 80px;
}