body {
    margin: 0;
    padding: 0;
    background: #fcfaf7;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    color: #333;
    text-decoration: none;
}

.clearfloat:after {
    display: block;
    clear: both;
    content: '';
    visibility: hidden;
    height: 0
}

.clearfloat {
    zoom: 1
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dt,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}