header {
    width: 100%;
    height: 140px;
    border-bottom: 1px solid #f8bac2;
}

@media screen and (max-width:1200px) {
    header,
    .banner,
    footer {
        width: 1200px;
    }
}

.head_top {
    height: 40px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}


/* 导航栏头部 */

.head_toubu {
    line-height: 40px;
    overflow: hidden;
}


/* 导航栏头部（左侧） */

.fleft {
    float: left;
}

.head_top_left01 {
    color: #666;
    font-size: 12px;
}

.head_top_left02,
.head_top_left03,
.head_top_left04 {
    width: 24px;
    text-align: center;
}

.head_top_left02:hover,
.head_top_left03:hover,
.head_top_left04:hover {
    border-left: 1px solid #ced2ce;
    border-right: 1px solid #ced2ce;
}

.head_top_left02:hover>.load,
.head_top_left03:hover>.head_wechat,
.head_top_left04:hover>.tell_num {
    display: block;
}

.load,
.head_wechat {
    position: absolute;
    z-index: 9;
    padding: 3px;
    margin-left: -1px;
}

.load,
.tell_num,
.head_wechat {
    display: none;
    background: #fff;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

.head_wechat {
    position: absolute;
}

.tell_num {
    width: 180px;
    height: 80px;
    margin-left: -1px;
    position: absolute;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}

.head_top_left02 {
    margin: 0px 0 0 10px;
}

.head_top_left03 {
    margin: 0px 0 0 70px;
}

.head_top_left04 {
    margin: 0px 0 0 16px;
}


/* 导航栏头部（右侧） */

.head_top_right {
    float: right;
}

.head_top_right01>a {
    color: #666;
    font-size: 12px;
}

.head_top_right01>a:first-child {
    margin-right: 20px;
}

.head_top_right01>a:last-child {
    margin-left: 20px;
}

.head_top_right01 {
    display: flex;
}

.border {
    height: 30px;
    line-height: 40px;
    margin-top: 5px;
    border-right: 1px solid #ccc;
}

.box_shadow {
    box-shadow: 0 10px 20px #f7f3ec;
}


/* 导航栏底部 */

.head_bottom {
    overflow: hidden;
    padding-top: 13px;
}

.logo {
    width: 150px;
    height: 63px;
    float: left;
    line-height: 63px;
}

.head_nav {
    float: right;
    line-height: 43px;
    padding-top: 18px;
}

.head_nav>li:hover {
    cursor: pointer;
}

.head_nav>li {
    float: left;
}

.head_nav>li {
    color: #333;
    font-size: 16px;
    width: 108px;
    text-align: center;
}

.head_nav>li:first-child {
    color: #ffa21a;
    margin: 0px 50px 0px 170px;
}

.head_nav>li:nth-child(2),
.head_nav>li:nth-child(3) {
    margin-right: 30px;
}

.head_nav>li:nth-child(4) {
    margin-right: 105px;
}

.head_nav>li:nth-child(5),
.head_nav>li:nth-child(6) {
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.head_nav>li:nth-child(5) {
    background: #ffd08c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login {
    color: #fff;
}

.register {
    color: #fbb671;
}

.head_nav>li:nth-child(6) {
    background: #fff;
    border: 1px solid #feebd0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.right_nav {
    right: 12px;
    top: 50%;
    z-index: 2;
    height: 195px;
    position: fixed;
    text-align: center;
}

.right_nav>li {
    width: 40px;
    height: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e4e1d3;
}

.down_div {
    top: 0;
    width: 80px;
    height: 80px;
    right: -160px;
    display: flex;
    background: #fff;
    position: absolute;
    align-items: center;
    transition: all 0.2s;
    justify-content: center;
    border: 1px solid #e4e1d3;
}

.kefu_num {
    top: 80px;
    right: -160px;
    width: 130px;
    height: 50px;
    line-height: 25px;
    position: absolute;
    background: #fff;
    transition: all 0.2s;
    border: 1px solid #e4e1d3;
}

.kefu_num>p {
    color: #666;
}

.up {
    margin-top: 38px;
}

.right_nav>li:nth-child(2),
.right_nav>li:nth-child(3) {
    border-top: 0;
}

.about_us:hover,
.safety:hover {
    color: #fff;
    background: #ffa219;
}

.about_us:hover>.about_us_ul,
.safety:hover>.safety_ul {
    color: #333;
    display: block;
    background: #fff;
}

.about_us_ul,
.safety_ul {
    display: none;
    position: absolute;
    height: 172px;
    width: 108px;
    line-height: 30px;
    text-align: center;
}

.about_us_ul>li,
.safety_ul>li {
    height: 43px;
    line-height: 43px;
}

.about_us_ul>li:hover,
.safety_ul>li:hover {
    background: #ffa219;
}

.about_us_ul>li>a:hover,
.safety_ul>li>a:hover {
    color: #fff;
}


/* 底部 */

footer {
    height: 404px;
    font-size: 12px;
    background: #eee;
}

.footer_ul {
    float: left;
    margin-top: 45px;
    margin-right: 60px;
}

.footer_ul>li:first-child {
    margin-bottom: 50px;
}

.footer_ewm {
    float: left;
    margin: 45px 0px 40px 40px;
}

.app,
.wechat {
    float: left;
    margin-right: 65px;
    text-align: center;
    /* background: #fab147; */
    /* text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.app>p,
.wechat>p {
    margin-top: 20px;
    text-align: center;
}

.app>img {
    display: block;
    position: relative;
}

.kefu {
    float: left;
    margin-top: 45px;
    margin-left: 100px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
}

.footer_bottom_ul {
    margin-top: 50px;
}

.footer_bottom_ul>li {
    width: 120px;
    height: 40px;
    float: left;
    background: #fff;
    margin-right: 24px;
}

.footer_bottom_ul>li:last-child {
    margin-right: 0;
}

/* 关闭选项 */
.close_ul{
    display: none;
}

/* 表单格式 */

.register_ul01>li,
.register_ul02>li,
.forget_ul01>li,
.forget_ul02>li {
    width: 320px;
    height: 45px;
    float: left;
    line-height: 45px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;
}

.pwd,
.user,
.code,
.phone,
.id_card,
.real_user,
.pwd_again,
.bank_card {
    width: 30px;
    height: 25px;
    float: left;
    margin: 10px 15px;
    border-right: 1px solid #e4e4e4;
}

.phone {
    background: url("../images/register/phone.png") no-repeat;
}

.code {
    background: url("../images/register/code.png") -10% no-repeat;
}

.code_div01,
.code_div02 {
    right: 40px;
    width: 120px;
    height: 45px;
    border-radius: 5px;
    background: #e7e3de;
    line-height: 45px;
    text-align: center;
    position: absolute;
}

.register_ul01>li>input:nth-child(2),
.forget_ul01>li>input:nth-child(2),
.register_ul02>li:nth-child(5)>input {
    width: 100px;
}

.forget_ul01>li:nth-child(2),
.register_ul01>li:nth-child(2),
.register_ul02>li:nth-child(5) {
    width: 180px;
}

.forget_ul01>li:nth-child(2),
.forget_ul02>li:nth-child(2),
.register_ul01>li:last-child,
.register_ul02>li:nth-child(5) {
    margin-bottom: 0;
}

.get,
.next,
.gift_btn,
.to_login_btn {
    width: 340px;
    height: 45px;
    color: #fff;
    outline: none;
    border: none;
    margin-bottom: 10px;
    line-height: 45px;
    background: #fe9c1c;
    border-radius: 5px;
}

#active {
    border: 1px solid #fe9c1c;
}

/* 个人中心 */
.personal_center{
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 265px;
}

/* 个人中心左侧(开始) */
.personal_center_left{
    width: 240px;
    height: 905px;
    float: left;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 10px 20px #f7f3ec;
}

/* 认证 */
.person_message{
    height: 290px;
}

.person_message>img{
    padding-top: 40px;
    padding-bottom: 20px;
}

.verify>img{
    margin: 15px 17px;
}

.approve_load{
    width: 186px;
    height: 6px;
    margin: 0 auto;
    border-radius: 5px;
    background: #eee;
}

.loading{
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #fbd585;
}

.data_progress{
    margin-top: 10px;
}

/* 左侧选项卡 */
.personal_left_ul>li{
    width: 100%;
    float: left;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
}

/* 个人中心左侧(结束) */
/* 个人中心右侧 */
.personal_center_right{
    height: 100%;
    width: 920px;
    float: right;
    margin: 0 20px; 
}

.personal_left_ul_active{
    background: #fcfaf7;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
