* {
  margin: 0;
  padding: 0;
}

.dial_active {
  width: 100%;
  height: 814px;
  margin: 0 auto;
}

.dial_all {
  width: 722px;
  height: 722px;
  margin: 0 auto;
  position: relative;
}

.dial_deng {
  width: 100%;
  height: 100%;
  background: url("../images/acvitity/deng.gif") no-repeat center;
  position: relative;
}

.dial_pan {

  text-align: center;
}

.dial_pan>img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
 margin-top: 90px;
}

.dial_zhen {
  width: 722px;
  height: 722px;
  background: url("../images/acvitity/yuan.png") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
}

.dial_btn {
  width: 161px;
  height: 161px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -80.5px;
  margin-top: -80.5px;
  cursor: pointer;
}

.dial_btn>img {
  display: inline-block;
  vertical-align: middle;
  margin-top: 65px;
}

.dials_ctall {
  position: absolute;
  left: 50%;
  margin-left: -361px;
}