.forget_content {
    width: 1200px;
    margin: 0 auto;
}

.forget_top {
    width: 766px;
    height: 160px;
    margin: 0 auto;
    line-height: 160px;
}

.forget_step {
    width: 1200px;
    margin: 0 auto;
}

form {
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 130px;
    box-shadow: 0px 10px 20px #f7f3ec;
}

.forget_part01,
.forget_part02{
    width: 400px;
}

.forget_ul01,
.forget_ul02 {
    position: relative;
    padding: 25px 40px;
}

.forget_ul01>li,
.forget_ul02>li {
    width: 320px;
    height: 45px;
    float: left;
    line-height: 45px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;
}

.forget_ul01>li:not(:last-of-type){
    margin-bottom: 20px;
}

.forget_ul01>li:last-of-type{
    width: 180px;
    margin-bottom: 0;
}

.forget_ul01>li:last-of-type>input{
    width: 100px;
}

input[type="text"],
input[type="password"] {
    width: 250px;
    height: 100%;
    float: left;
    border: none;
    outline: none;
}

.reg_code{
    width: 120px;
    height: 45px;
    float: right;
    background: #ccc;
}

.reg_success{
    padding-top: 30px;
}

.reg_success>img{
    width: 100px;
    margin: 0 auto;
    display: block;
}

.reg_success>p{
    color: #666;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    padding: 30px 0 40px 0;
}

.code_div01 {
    top: 155px;
    outline: none;
    border: none;
}

.forget_btn {
    text-align: center;
    padding-bottom: 20px;
}

.pwd {
    background: url("https://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/register/password_01.png") no-repeat;
}

.pwd_again {
    background: url("https://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/register/password_02.png") no-repeat;
}

.email{
    background: url("https://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/forget/email.png") 0% no-repeat;
}

.email{
    width: 30px;
    height: 25px;
    float: left;
    margin: 10px 15px;
    border-right: 1px solid #e4e4e4;
}

.to_index {
    width: 340px;
    height: 45px;
    color: #fe9c1c;
    outline: none;
    border: none;
    margin-bottom: 10px;
    line-height: 45px;
    background: #fff;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #fe9c1c;
}

.error_01,
.error_02,
.error_03{
    width: 320px;
    height: 20px;
    color: red;
    font-size: 12px;
}

.error_01>p,
.error_02>p,
.error_03>p{
    width: 320px;
    height: 0px;
    text-align: right;
    position: absolute;
}

.error_01{
    margin-top: 45px;
}

.error_02{
    padding-top: 45px;
}

.error_03{
    margin-top: 45px;
}

form>p{
    color: #999;
    padding: 0 30px;
}

form>span{
    display: block;
    padding: 0 30px 10px 30px;
    color:#ff9900;
}