
main{
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
}

.help_top{
    height: 200px;
    background: #fff6eb;
}

.helpCenter_01{
    width: 1200px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 50px;
}

.helpCenter_01>p{
    float: left;
    color: #ffa21a;
    font-size: 28px;
    margin-left: 190px;
    line-height: 60px;
}

.helpCenter_find{
    float: left;
    margin-left: 35px;
}

.search_input{
    width: 605px;
    height: 60px;
    outline: none;
    border: none;
    float: left;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search_btn{
    width: 60px;
    height: 60px;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #fcd391 url("../images/search.png") center no-repeat; 
}

.helpCenter_a{

    line-height: 50px;
}

.helpCenter_a>a{
    color: #666;
    margin: 0 10px;
    font-size: 16px;
    
}

.help_bottom{
    padding-top: 40px;
    padding-bottom: 145px;
    background: #fcfaf7;
}

.helpCenter_02{
    width: 1200px;
    margin: 0 auto;
}

.helpCenter_02_title,
.helpCenter_02_text{
    float: left;
}

.helpCenter_02_title{
    width: 170px;
    height: 505px;
    border-radius: 5px;
    border: 1px solid #eae5e2;
}

.helpCenter_02_title_ul{
    padding: 12px;
    cursor: pointer;
}

.helpCenter_02_title_ul>li{
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border: 1px solid transparent;
}

.helpCenter_02_title_active{
    color: #fff;
    background: #fcd391;
    border-radius: 5px;
    border: 1px solid #eae5e2 !important;
}

.helpCenter_02_text{
    width: 1010px;
    background: #fff;
    margin-left: 20px;
    border-radius: 5px;
    /* min-height: 1000px; */
}


.helpCenter_02_text_ul>li{
    letter-spacing: 1px;
    margin: 15px 70px 15px 40px;
}



.helpCenter_02_text_p{
    color: #ffaf44;
    font-size: 18px;
    line-height: 50px;
}

.helpCenter_02_text_a{
    color: #999;
    /* text-indent: 35px; */
    line-height: 25px;
    margin-left: 40px;
    text-align: justify;
}
