.swiper-container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1920px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.banner_01,
.banner_02,
.banner_03,
.banner_04 {
    width: 100%;
    height: 600px;
    min-width: 1200px;
    display: inline-block;
}

.banner_01 {
    background: url("../images/index/banner.png") center no-repeat;
    /* background-size: 100% 100%; */
}

.banner_02 {
    background: url("../images/index/banner.png") center no-repeat;
}

.banner_03 {
    background: url("../images/index/banner.png") center no-repeat;
    /* background-size: 100% 100%; */
}

.banner_04 {
    background: url("../images/index/banner.png") center no-repeat;
}


/* 公告 */

.xlnotice {
    width: 100%;
    height: 205px;
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1920px;
    background: #fff;
}

.xlnotice_top {
    width: 100%;
    height: 37px;
    border-bottom: 1px solid #e3e3e3;
}

.xlnotice_bottom {
    width: 100%;
    height: 168px;
}

.xlnotice_top_content {
    width: 1200px;
    height: 37px;
    margin: 0 auto;
    padding: 10px 0;
}

.swiper-button-next:hover {
    background-image: url("../images/index/next_02.png");
}

.swiper-button-prev:hover {
    background-image: url("../images/index/prev_02.png");
}


/* 四大特色 */

.xlFeature {
    bottom: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1920px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
}

.xlFeature_ul {
    width: 1200px;
    margin: 0 auto;
}

.xlFeature_ul>li {
    float: left;
    width: 300px;
    cursor: pointer;
    overflow: hidden;
}

.xlFeature_ul>li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.xlFeature_ul>li:hover>.featureUl_right {
    color: #ff9900;
}

.featureUl_right {
    width: 190px;
    height: 100px;
    float: right;
    color: #fff;
    padding-top: 30px;
}

.featureUl_right>p:first-of-type {
    font-size: 16px;
}

.featureUl_left {
    float: left;
    width: 110px;
    height: 100px;
    text-align: right;
    padding-top: 39px;
    padding-left: 20px;
}

.xlFeature_ul>li>a {
    display: inline-block;
}

.xlFeature_ul>li:nth-of-type(1)>div:first-of-type {
    background: url("../images/index/feature_01.png") center no-repeat;
}

.xlFeature_ul>li:nth-of-type(2)>div:first-of-type {
    background: url("../images/index/feature_02.png") center no-repeat;
}

.xlFeature_ul>li:nth-of-type(3)>a>div:first-of-type {
    background: url("../images/index/feature_03.png") center no-repeat;
}

.xlFeature_ul>li:nth-of-type(4)>div:first-of-type {
    background: url("../images/index/feature_04.png") center no-repeat;
}

.xlFeature_ul>li:nth-of-type(1):hover>div:first-of-type {
    background: url("../images/index/feature_05.png") center no-repeat;
}

.xlFeature_ul>li:nth-of-type(2):hover>div:first-of-type {
    background: url("../images/index/feature_06.png") center no-repeat;
}

.xlFeature_ul>li:nth-of-type(3):hover>a>div:first-of-type {
    background: url("../images/index/feature_07.png") center no-repeat;
}

.xlFeature_ul>li:nth-of-type(4):hover>div:first-of-type {
    background: url("../images/index/feature_08.png") center no-repeat;
}


/* 小喇叭 */

.xlnotice_icon {
    float: left;
    width: 22px;
    height: 16px;
    background: url("../images/index/notice.png") center no-repeat;
}

.xlnotice_ul {
    float: left;
    width: 680px;
    height: 20px;
    margin: 0 auto;
    padding-left: 20px;
}

.xlnotice_ul>li {
    float: left;
    width: 220px;
    height: 20px;
    text-align: center;
    border-right: 1px solid #e3e3e3;
}

.xlnotice_ul>li:last-of-type {
    border-right: 0;
}

.xlnotice_ul>li>a {
    width: 200px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.xlnotice_more {
    float: right;
}


/* 公告底部 */

.xlnotice_bottom_content {
    width: 1200px;
    height: 168px;
    margin: 0 auto;
}

.xlnotice_bottom_ul {
    width: 975px;
    margin: 0 auto;
}

.xlnotice_bottom_ul>li {
    float: left;
    width: 195px;
    height: 60px;
    margin: 55px 0;
    cursor: pointer;
    text-align: center;
    border-right: 1px solid #ff9900
}

.xlnotice_bottom_ul>li:last-of-type {
    border-right: 0;
}

.xlnotice_bottom_ul>li>p {
    font-size: 26px;
    color: #ff9900;
}

.xlnotice_bottom_ul>li>span {
    color: #999;
}


/* 标的 */

.xlmark {
    width: 1200px;
    height: 630px;
    margin: 0 auto;
    padding-top: 15px;
}

.xlmark_ul {
    width: 1200px;
    height: 570px;
    margin: 0 auto;
}

.xlmark_li {
    float: left;
    width: 380px;
    height: 260px;
    margin-top: 25px;
    background: #fff;
    margin-right: 30px;
    border-radius: 5px;
    position: relative;
}

.xlmark_li>a {
    width: 380px;
    height: 260px;
    display: block;
    padding: 24px 35px 24px 24px;
}

.xlmark_li:nth-child(3),
.xlmark_li:nth-child(6) {
    margin-right: 0;
}

.xlmark_title {
    height: 26px;
    font-size: 16px;
}


/* 年化和投资期限 */

.xlmark_content {
    height: 150px;
    padding-top: 50px;
    padding-bottom: 45px;
}

.xlmark_content>span {
    width: 70px;
    text-align: center;
}

.xlmark_content>span:first-of-type {
    float: left;
}

.xlmark_content>span:last-of-type {
    float: right;
}

.xlmark_rate01,
.xlmark_rate02 {
    width: 50%;
    float: left;
    font-size: 40px;
}

.xlmark_day02,
.xlmark_rate02 {
    color: #ccc;
}

.xlmark_day01,
.xlmark_day02 {
    width: 50%;
    float: right;
    font-size: 40px;
    text-align: right;
}

.xlmark_day01 {
    color: #999999;
}

.xlmark_day01>span,
.xlmark_day02>span,
.xlmark_rate01>span,
.xlmark_rate02>span {
    font-size: 20px;
    margin-left: 10px;
}

.xlmark_bottom {
    height: 60px;
}

.xlmark_startMoney {
    float: left;
}

.xlmark_endMoney {
    float: right;
}


/* 查看更多 */

.xlmark_more {
    width: 120px;
    height: 30px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid #e3e3e3;
}


/* 合作伙伴 */

.xlfriends {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    max-width: 1920px;
    min-width: 1200px;
    background: #fff;
}

.xlfriendsContent {
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

.xlfriendsContent>p {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    padding: 25px 0 35px 0;
}


/* 合作伙伴 背景图 */

.friends_ul {
    height: 60px;
    width: 1200px;
    margin: 0 auto;
}

.friends_ul>li {
    float: left;
    width: 190px;
    height: 60px;
    margin-right: 12px;
    border: 1px solid #E3E3E3;
}

.friends_ul>li>a {
    height: 60px;
    display: block;
}

.friends_ul>li:last-of-type {
    margin-right: 0;
}

.friends_ul>li:nth-child(1)>a {
    background: url("../images/index/friends_01.png") center no-repeat;
}

.friends_ul>li:nth-child(2)>a {
    background: url("../images/index/friends_02.png") center no-repeat;
}

.friends_ul>li:nth-child(3)>a {
    background: url("../images/index/friends_03.png") center no-repeat;
}

.friends_ul>li:nth-child(4)>a {
    background: url("../images/index/friends_04.png") center no-repeat;
}

.friends_ul>li:nth-child(5)>a {
    background: url("../images/index/friends_05.png") center no-repeat;
}

.friends_ul>li:nth-child(6)>a {
    background: url("../images/index/friends_06.png") center no-repeat;
}


/* 下载专区 */

.downloadApp,
.downloadApp02 {
    width: 1200px;
    height: 496px;
    margin: 0 auto;
}

.downloadApp {
    background: url("../images/index/app_bg.png") center no-repeat;
}

.downloadApp02 {
    background: url("../images/index/download_bg.png") center no-repeat;
}

.downloadApp_text {
    width: 1200px;
    margin: 0 auto;
    padding-top: 200px;
    padding-left: 60px;
}

.downloadApp_text>p:first-of-type {
    color: #fff;
    font-size: 34px;
}

.downloadApp_text>p:last-of-type {
    color: #fff;
    font-size: 34px;
}

.iPhone,
.Android {
    float: left;
    width: 250px;
    height: 60px;
    color: #fff;
    cursor: pointer;
    margin-top: 85px;
    line-height: 65px;
    text-align: center;
    border-radius: 60px;
    border: 1px solid #fff;
}

.iPhone:hover,
.Android:hover {
    color: #ff9900;
    background: #fff;
    /* border: 1px solid #ff9900; */
}

.iPhone {
    margin-right: 60px;
}

.iPhone_content,
.Android_content {
    width: 180px;
    height: 60px;
    margin: 0 auto;
}

.iPhone_bg,
.Android_bg,
.iPhone_bg02,
.Android_bg02 {
    width: 26px;
    float: left;
    height: 60px;
    margin-right: 10px;
}

.iPhone_bg {
    background: url("../images/index/iPhone_01.png") center no-repeat;
}

.iPhone_bg02 {
    background: url("../images/index/iPhone_02.png") center no-repeat;
}

.Android_bg {
    background: url("../images/index/Android_01.png") center no-repeat;
}

.Android_bg02 {
    background: url("../images/index/Android_02.png") center no-repeat;
}

.iPhone_text,
.Android_text {
    float: left;
    font-size: 16px;
}


/* 媒体 */

.news {
    width: 1200px;
    height: 475px;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 45px;
}

.media,
.company {
    float: left;
    width: 580px;
    height: 350px;
    background: #fff;
}

.company {
    margin-right: 40px;
}

.media_top,
.company_top {
    height: 80px;
    padding: 20px 30px 20px 20px;
}

.company_top {
    background: url("../images/index/company.png") center no-repeat;
}

.media_top {
    background: url("../images/index/media.png") center no-repeat;
}

.media_top_text,
.company_top_text {
    color: #fff;
}

.media_top_text>li:first-of-type,
.company_top_text>li:first-of-type {
    font-size: 18px;
}

.xlmark_endMoney,
.xlmark_startMoney,
.xlmark_content>span,
.media_top_text>li:last-of-type,
.company_top_text>li:last-of-type {
    font-size: 12px;
}

.media_top_text a,
.company_top_text a {
    color: #fff;
    float: right;
}

.xlmark_rate01,
.media_top a:hover,
.company_top a:hover,
.xlnotice_more>a:hover,
.xlnotice_ul>li>a:hover {
    color: #ff9900;
}

.media_bottom,
.company_bottom {
    height: 270px;
    padding: 20px 15px 5px 15px;
}

.media_content_img,
.company_content_img {
    float: left;
    width: 110px;
    height: 100px;
    margin-right: 20px;
}

.media_content,
.company_content {
    margin-bottom: 25px;
}

.media_content_text,
.company_content_text {
    float: right;
}

.media_content_ul,
.company_content_ul {
    width: 420px;
}

.media_content_ul>li:first-of-type,
.company_content_ul>li:first-of-type {
    height: 24px;
    font-size: 16px;
    margin-bottom: 10px;
}

.media_content_ul>li:first-of-type a:hover,
.company_content_ul>li:first-of-type a:hover {
    color: #ff9900;
}

.news_title {
    float: left;
    width: 305px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news_date {
    float: right;
    color: #999;
}

.news_content {
    width: 420px;
    overflow: hidden;
    line-height: 1.7;
    display: -webkit-box;
    word-break: break-all;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}