.information>li{
    color: #666;
    margin-bottom: 10px;
}

.information_title{
    height: 60px;
    color: #666;
    font-size: 18px;
    line-height: 60px;
}

/* 页面公用部分 */
.slide_up{
    border-radius: 5px;
    box-shadow: 0 10px 20px #f7f3ec;
}
.login_password_left{
    /* width: 310px; */
    float: left;
}

.change_01{
    color: #ffa21a;
    float: right;
    cursor: pointer;
}

.border_bottom{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #e4e4e4;
}

.border_radius{
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.slide_down{
    display: none;
}

.login_form{
    height: 280px;
    padding: 35px 155px;
}

.login_form_ul>li,
.email_form_ul>li,
.approve_ul>li{
    float: left;
    width: 320px;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #e4e4e4;
}

.now_password,
.new_password1,
.new_password2{
    width: 30px;
    height: 25px;
    float: left;
    margin: 10px;
    border-right: 1px solid #e4e4e4;
}

.email_input,
.real_name,
.idCard_input,
.bank_input,
.now_password_input,
.new_password_input1,
.new_password_input2,
.deal_password_input,
.deal_password_input1,
.deal_password_input2{
    width: 250px;
    border: 0;
    outline: none;
}

.affirm_btn3,
.affirm_btn1,
.affirm_div,
.register_end{
    width: 320px;
}

.affirm_btn2{
    width: 210px;
}

.affirm_btn1,
.affirm_btn2,
.affirm_btn3{
    height: 45px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    background: #ffa21a;
    border-radius: 5px;
    border: 1px solid #ffa21a;
}

/* 登录密码部分 */
.login_password{
    height: 80px;
    background: #fff;
    line-height: 80px;
    padding-left: 40px;
    padding-right: 60px;
}

.now_password{
    background: url("../images/personal/now_password.png") no-repeat;
}

.new_password1{
    background: url("../images/register/password_01.png") no-repeat;
}

.new_password2{
    background: url("../images/register/password_02.png") no-repeat;
}

/* 交易密码部分 */
.affirm_div>a{
    margin-left: 5px;
}

/* 实名认证 */
.approve_form{
    height: 390px;
    padding: 35px 155px;
}

#chooseBank{
    color: #666;
    width: 320px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    
}

.approve_ul{
    width: 400px;
    position: relative;
}

.approve_ul>li:nth-of-type(4){
    border: none;
}

.approve_ul>li:nth-of-type(5){
    width: 180px;
    position: relative;
}

.approve_ul>li:nth-of-type(5)>input{
    width: 100px;
    border: 0;
    outline: none;
}

.code_div02{
    right: 0;
    left: 200px;
    bottom: 10px;
}

.real_user {
    background: url("../images/register/real_user.png") no-repeat;
}

.id_card {
    background: url("../images/register/id_card.png") no-repeat;
}

.bank_card {
    background: url("../images/register/bank_card.png") 0 60% no-repeat;
}
/* 手机号码 */
.phone_text{
    letter-spacing: 1px;
    padding: 35px 160px;
}

/* 电子邮箱 */
.email_form{
    height: 170px;
    padding: 35px 155px;
}

.error_01>p,
.error_02>p,
.error_03>p,
.error_04>p,
.error_05>p,
.error_06>p,
.error_07>p,
.error_08>p,
.error_09>p,
.error_10>p,
.error_11>p,
.error_12>p{
    width: 80px;
    float: left;
    color: red;
    padding-left: 10px;
    line-height: 45px;
}

.error_12>p{
    padding-left: 150px;
}