.new_part01{
    height: 680px;
    min-width: 1200px;
    max-width: 1920px;
    margin: 0 auto;
    margin-bottom: 120px;
    background: url("../images/newbie/banner.png") center no-repeat;
}
/* 我们的业务模式 */
.business{
    height: 475px;
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px #f7f3ec;
}

.business_top{
    width: 320px;
    height: 70px;
    margin: 0 auto;
    top: -35px;
    position: relative;
    line-height: 70px;
    text-align: center;
    background: #fcf6ec;
    border-radius: 5px;
}

.business_img{
    width: 850px;
    height: 230px;
    margin: 0 auto;
    margin-top: 20px;
    background: url("../images/newbie/business.png") center no-repeat;
}

.business_img>p{
    top: 260px;
    color: #666;
    line-height: 2;
    position: relative;
    text-align: center;
    letter-spacing: 1.5px;
}

.new_part03{
    position: relative;
    margin-bottom: 145px;
}

.part3_top{
    width: 100%;
    height: 325px;
    margin: 100px auto;
    color: #fff;
    padding: 50px 0;
    text-align: center;
    background: #8eD3DA;
}

.part3_middle{
    height: 250px;
    width: 1200px;
    margin: 0 auto;
}
.part3_ul{
    top: 195px;
    width: 1200px;
    margin: 0 auto;
    position: absolute;
}

.part3_ul>li{
    float: left;
    width: 345px;
    height: 415px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 1px #f7f3ec;
}

.part3_ul>li:nth-child(2){
    margin: 0 82.5px;
}

.register_img,
.approve_img,
.pay_img{
    width: 155px;
    height: 155px;
    border-radius: 50%;
    margin: 40px auto;
    position: relative;
}

.register_img{
    background: url("../images/newbie/register.png") center no-repeat;
}

.approve_img{
    background: url("../images/newbie/approve.png") center no-repeat
}

.pay_img{
    background: url("../images/newbie/pay.png") center no-repeat;
}

.register_img>span,
.approve_img>span,
.pay_img>span{
    bottom: -10px;
    left: 43%;
    width: 24px;
    height: 24px;
    display: block;
    color: #ffae32;
    line-height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    text-align: center;
    border: 3px solid #ffae32;
}

.part3_bottom{
    width: 400px;
    height: 60px;
    margin: 0 auto;
}

button{
    width: 400px;
    outline: none;
    font-size: 18px;
    color: #8ed3da;
    line-height: 60px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #8ed3da;
}

.part04_top{
    width: 100%;
    text-align: center;
}

.part04_bottom{
    height: 600px;
    width: 1200px;
    margin: 0 auto;
}

.new_part04{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    background: #fff;
}

.part04_ul>li{
    width: 1200px;
    margin: 0 auto;
}

.question{
    height: 45px;
    color: #fff;
    line-height: 45px;
    background: #ffd08c;
}


.question>p{
    padding-left: 45px;
    font-size: 18px;
}

.answer{
    color: #666;
    height: 105px;
    padding-left: 75px;
    line-height: 105px;
}