.xlOpinion {
    color: #666;
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1920px;
    background: #fff;
    padding: 25px 0 30px 0;
}

.xlOpinion_content {
    width: 1200px;
    height: 780px;
    padding: 25px;
    margin: 0 auto;
    border: 1px solid #e3e3e3;
}

.xlOpinion_top {
    height: 85px;
    border-bottom: 1px solid #e3e3e3;
}

.xlOpinion_top>p>span {
    font-size: 24px;
}

.xlOpinion_top>p {
    font-size: 16px;
    line-height: 80px;
}

.xlOpinion_phone{
    margin: 30px 0px; 
}

.xlOpinion_phone>label{
    margin-top: 5px;
}

.error_01,
.error_02,
.xlOpinion_phone>label,
.xlOpinion_phone>input{
    float: left;
}

.error_01,
.error_02{
    color: red;
    margin: 5px 0 0 20px;
}

.error_03{
    height: 20px;
    color: red;
    margin: 3px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


input[type="number"]{
    width: 240px;
    height: 30px;
    border: 1px solid #e3e3e3;
}

input[type="number"]:focus{
    outline: none;
    border: 1px solid #ff9900;
}

input[type="radio"],
.xlOpinion_type{
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none;
    user-select: none;
}

.xlOpinion_type>label{
    float: left;
    margin-right: 20px;
    line-height: 30px;
}

input[type="checkbox"] {
    display: none;
}

.deal{
    float: left;
    margin: 5px 50px 0 0;
    
}

.deal>input:checked+label {
    border: 1px solid #fe9c1c;
}

.deal>input+label {
    top: 5px;
    margin-right: 5px;
    padding: 9px;
    /* border-radius: 5px; */
    display: inline-block;
    position: relative;
    border: 1px solid #e4e4e4;
}

.deal>input:checked+label::after {
    top: 0;
    left: 0;
    width: 100%;
    line-height: 20px;
    font-size: 18px;
    color: #fe9c1c;
    content: "\2713";
    position: absolute;
    text-align: center;
    vertical-align: text-top;
}

.xlOpinion_details{
    position: relative;
}

textarea{
    resize:none;    
    color: #999;
    width: 1150px;
    height: 240px;
    padding: 15px;
    margin: 25px 0 5px 0;
    text-align: justify;
    border: 1px solid #e3e3e3;
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

textarea:focus{
    outline: none;
    border: 1px solid #ff9900;
}

.words{
    right: 25px;
    bottom: 50px;
    color: #999;
    position: absolute;
}

.chooseImg{
    width: 201px;
    height: 100px;
    position: relative;
    margin: 10px 0 20px 0;
    border: 1px solid #e3e3e3;
}

.chooseImg>img{
    width: 100%;
    height: 100%;
}

input[type="file"]{
    display: none;
}

.delete{
    bottom: 0;
    width: 200px;
    height: 30px;
    opacity: 0;
    position: absolute;
    background: url("../images/opinion/delete.png") center no-repeat;
}

.tickling>label{
    margin-right: 20px;
}

button[type="submit"]{
    width: 200px;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 40px;
    margin: 20px 0 10px 0;
    background: #ff9900;
}