.content {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.content_top,
.content_top_left,
.content_top_right {
    height: 300px;
}

.content_top_left,
.content_top_right {
    float: left;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 10px 20px #f7f3ec;
}

.content_top_left {
    width: 760px;
    position: relative;
    margin-right: 20px;
}

.content_top_right {
    padding: 40px;
    width: 420px;
    font-size: 16px;
}

.series_text {
    top: 40px;
}

.series_middle {
    margin: 0;
    padding: 70px 40px 40px 40px;
}

.content_top_left_bottom {
    height: 125px;
    padding: 30px 150px 40px 40px;
}

.content_ul_01 {
    height: 20px;
}

.content_ul_01>li {
    float: left;
    color: #666;
    font-size: 12px;
}

.content_top_right_div_01{
    display: flex;
    line-height: 60px;
}

.content_top_right_div_01 span{
    color:#999;
}

.content_top_right_div_01 a{
    color: #00a0f4;
    margin: 0 4px;
}

.invest_btn,
.invest_money{
    width: 340px;
    height: 50px;
    outline: none;
    line-height: 50px;
    border-radius: 5px; 
}

.invest_money{
    padding-left: 5%;
    border: 1px solid #e4e4e4;
}

.invest_money:focus{
    border: 1px solid #fc9c1c;
}

.invest_btn{
    color: #fff;
    margin-top: 10px;
    background: #fc9c1c;
    border: 1px solid #fc9c1c;
}

input::-webkit-outer-spin-button,  
input::-webkit-inner-spin-button{  
    -webkit-appearance: none !important;  
}  

input[type="number"]{
    -moz-appearance: textfield;
}

.content_main{
    margin-top: 20px;
    border-radius: 5px; 
    background: #fff;
    box-shadow: 0px 10px 20px #f7f3ec;
}

.content_main_ul{
    height: 55px;
    line-height: 53px;
    border-bottom: 1px solid #e4e4e4;
}

.content_main_ul>li{
    width: 13%;
    float: left;
    text-align: center;
    border-bottom: 2px solid #fca218;
}

.content_main_ul,
.prooject_details01_title{
    font-size: 16px;
}

.prooject_details01_title,
.prooject_details02_title,
.prooject_details03_title,
.prooject_details04_title,
.prooject_details05_title{
    line-height: 74px;
    width: 100%;
    background: #fff;
}

i{
    width: 4px;
    height: 12px;
    margin: 0 10px 0 50px;
    background-color: #ffa214;
    display: inline-block;
}

.prooject_details01_text,
.prooject_details02_text,
.prooject_details03_text,
.prooject_details04_text,
.prooject_details05_text{
    color: #666;
    padding: 0 80px;
}

.prooject_details01_text p{
    text-align: justify;
}

.prooject_details01_textul{
    line-height: 40px;
    overflow: hidden;
}

.prooject_details01_textul>li{
    width: 25%;
    float: left;
}

.prooject_details01_textul>li>b{
    font-weight: normal;
}