.content{
    width: 1200px;
    margin: 0  auto;    
    padding: 40px 0;
}

.content_top,
.content_top_left,
.content_top_right{
    height: 300px;
}

.content_top_left,
.content_top_right{
    float: left;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 10px 20px #f7f3ec;
}

.content_top_left{
    width: 760px;
    position: relative;
    margin-right: 20px;
}

.content_top_right{
    width: 420px;
}

.series_text{
    top:40px;
}

.series_middle{
    margin: 0;
    padding: 70px 40px 40px 40px;
}

.content_top_left_bottom{
    height: 125px;
    padding: 30px 150px 40px 40px;
}

.content_ul_01{
    height: 20px;
}
.content_ul_01>li{
    float: left;
    color: #666;
    font-size: 12px;
}