.content {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.content_top,
.content_top_left,
.content_top_right {
    height: 300px;
}

.content_top_left,
.content_top_right {
    float: left;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 10px 20px #f7f3ec;
}

.content_top_left {
    width: 760px;
    position: relative;
    margin-right: 20px;
}

.content_top_right {
    padding: 40px;
    width: 420px;
    font-size: 16px;
}

.series_text {
    top: 40px;
}

.series_middle {
    margin: 0;
    padding: 70px 40px 40px 40px;
}

.content_top_left_bottom {
    height: 125px;
    padding: 30px 150px 40px 40px;
}

.content_ul_01 {
    height: 20px;
}

.content_ul_01>li {
    float: left;
    color: #666;
    font-size: 12px;
}

.content_top_right_div_01{
    display: flex;
    line-height: 60px;
}

.content_top_right_div_01 span{
    color:#999;
}

.content_top_right_div_01 a{
    color: #00a0f4;
    margin: 0 4px;
}

.invest_money{
    width: 340px;
    height: 50px;
    outline: none;
    border-radius: 1px; 
   
    border: 1px solid #e4e4e4;
}

input::-webkit-outer-spin-button,  
input::-webkit-inner-spin-button{  
    -webkit-appearance: none !important;  
}  

input[type="number"]{
    -moz-appearance: textfield;
}