#set($page_title="用户提现	")
#parse("layout/head.vm")
#set($flow=true)
#set($MoneyStatisticS=true)
<link rel="stylesheet" href="https://yiqifustyle.oss-cn-hangzhou.aliyuncs.com/myAccount/css/incentiveManagement.css">
<link rel="stylesheet" href="https://yiqifustyle.oss-cn-hangzhou.aliyuncs.com/myAccount/css/pay.css">
#parse("layout/head2New.vm") 
<div id="jl02" class="fuenter_borderrt">
                <div class="fuenter_bdrttitle">
                    <h4>账户提现</h4>
                </div>
                <div class="fuenter_bdrtxuangzhe">
                </div>
                <div class="fupay_title">
                    <h2>安全保障：数据安全由阿里云全程保障，稳健安全！</h2>
                </div>
<!--提现金额大于提现账户余额  开始-->
<div class="fupay_succeed">
    <div class="fupay_sdtitle">
        <h3>$!{errorMsg}</h3>
    </div>
    <div class="fupay_sdtxt">
        <h4>温馨提示</h4>
        <span>请联系客服（客服时间：周一至周五 9:00-21:00，双休日 9:00-21:00）</span>
        <span>客服热线：400-163-8178</span>
    </div>
</div>
<!--提现金额大于提现账户余额  结束-->
</div>
</div>
</div>
#parse("layout/foot.vm")
