.xlAboutUs {
    width: 1200px;
    margin: 0 auto;
}

.xlAboutUs_left {
    float: left;
    width: 300px;
    height: 860px;
    text-align: center;
    background: #ff9900;
}

.xlAboutUs_right {
    float: right;
    width: 900px;
    padding: 30px;
    background: #fff;
}

.xlAboutUs_lful {
    cursor: pointer;
    margin-top: 90px;
}

.xlAboutUs_lful>li {
    width: 300px;
    /* height: 70px; */
    color: #fff;
    font-size: 18px;
    line-height: 70px;
    position: relative;
}

.xlAboutUs_lful>li>a{
    border: none;
    outline: none;    
    color: #fff;
    display: block;
}

.xlActive {
    background: #fff;
    color: #ff9900 !important;
}

.add_01,
.add_02{
    top: 25px;
    left: 195px;
    width: 16px;
    height: 16px;
    line-height: 15px;
    text-align: center;
    position: absolute;   
}

.add_01{
    border: 1px solid #fff;
}

.add_02{
    color: #ff9900;
    border: 1px solid #ff9900;
}

.xlCompany_title{
    width: 100%;    
    height: 110px;
    border-bottom: 1px solid #e3e3e3;
}

.profile_title{
    font-size: 30px;
    color: #ff9900;
}

.profile_01{
    color: #666;
    font-size: 18px;
}

.profile_02{
    float: left;
    color: #ff9900;
    font-size: 16px;
}

.profile_03{
    margin-top: 10px;
    color: #999999;
    text-align: right;
}

.xlUs_textItem,
.xlNews_textItem,
.xlCompany_textItem{
    height: 20px;
    margin-top: 35px;
    line-height: 20px;
}

.icon{
    float: left;
    width: 4px;
    height: 18px;
    margin-right: 10px;
    background: #ff9900;
}

.xlOur_text>p,
.xlOur_text_left>p,
.xlOur_text_right>p,
.xlNews_text_left>a,
.xlNews_floor_content>a,
.xlCompany_textContent>p,
.xlCompany_textBottom_left>p{
    color: #666;
    line-height: 1.8;  
    text-align: justify;
    margin: 15px 0 0 15px;
}

.xlNews_text_left>a:hover,
.xlNews_floor_content>a:hover{
    color: #666;
}

.xlCompany_textBottom_left{
    float: left;
    width: 335px;
}

b{
    color: #333;
    font-weight: normal;
}


.xlCompany_textBottom_right{
    float: left;
    height: 364px;
    width: 500px;
    background: url("../../images/aboutUs/company.png") center no-repeat;
}

/* 关于我们 */
.xlOur{
    display: none;
}

.xlOur_text_left{
    width: 50%;
    float: left;
}

.xlOur_text_right{
    width: 50%;
    float: right;
}

.channel{
    width: 295px;
}

.koji{
    width: 295px;
    margin-top: 65px;
}

.xlOur_qq,
.xlOur_down,
.xlOur_weixin01,
.xlOur_weixin02{
    text-align: center;
    margin: 15px 0 0 15px;;
}

.xlOur_qq>img,
.xlOur_down>img,
.xlOur_weixin01>img,
.xlOur_weixin02>img{
    margin-bottom: 10px;
    border: 1px solid #e3e3e3;
}

.xlOur_qq>p,
.xlOur_down>p,
.xlOur_weixin01>p,
.xlOur_weixin02>p{
    color: #666;
}

.xlOur_qq,
.xlOur_weixin01{
    float: left;
}

.xlOur_down,
.xlOur_weixin02{
    float: right;
}

#container{
    width: 800px;
    height: 300px;
    margin-top: 10px;
}

/* 新闻中心 */
.news_ul{
    width: 100%;
    height: 150px;
    background: #fff;
}

.news_ul>li{
    float: left;
    width: 100%;
    height: 50px;
    color: #999;
    font-size: 16px;
    line-height: 30px;
    text-indent: 35px;
}

.xlNews_text_left{
    float: left;
    width: 580px;
    overflow: hidden;
    padding-right: 50px;
    text-align: justify;
}

.xlNews_text_right{
    float: right;
    width: 260px;
    margin-top: 40px;
}

.xlNews_textItem>a,
.xlNews_textItem>p{
    width: 515px;
    float: left;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
}

.xlNews_textItem>a:hover{
    color: #ff9900;
}

.xlNews_text_left>a,
.xlNews_floor_content>a{
    overflow: hidden;
    display: -webkit-box;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.xlNews_text_left>a{
    width: 530px;
    -webkit-line-clamp:3;
}

.xlNews_floor_content>a{
    width: 840px;
    padding-right: 15px;
    -webkit-line-clamp:2;
}

.xlNews_text_left>span{
    float: right;
    color: #999;
    font-size: 12px;
    margin-top: 15px;
}

.xlNews_textItem>span{
    color: #999;
    float: right;
}

.xlNews_media,
.xlNews_floor{
    display: none;
}

#laypages,
#laypages_01,
#laypages_02{
    text-align: center;
    margin-top: 20px;
}
