<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>关于我们-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/css/common.css">
    <link rel="stylesheet" href="../../newVersion/css/aboutUs.css">
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.0&key=1569a1ecc188e1e32315737178561997"></script>
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <div class="xlAboutUs clearfloat">
        <div class="xlAboutUs_left">
            <ul class="xlAboutUs_lful">
                <li>
                    <a href="javascript:;" class="xlActive">公司简介</a>
                </li>
                <li>
                    <a href="newsCenter.html">新闻中心</a>
                    <div class="add_01">+</div>
                </li>
                <li>
                    <a href="javascript:;">关于我们</a>
                </li>
            </ul>
        </div>
        <div class="xlAboutUs_right">
            <div class="xlCompany">
                <div class="xlCompany_title">
                    <p class="profile_title">INTRODUCTION</p>
                    <p class="profile_01">公司简介</p>
                </div>
                <div class="xlCompany_text">
                    <div class="xlCompany_textTop">
                        <div class="xlCompany_textItem clerfloat">
                            <div class="icon"></div>
                            <p class="profile_02">鑫路简介</p>
                        </div>
                        <div class="xlCompany_textContent">
                            <p>鑫路金融平台，隶属于浙江汉坤金融信息服务有限公司，成立月2015年3月，注册资金2千万，于2017年11月15日上线，是一家为有金融需求的用户提供金融信息中介服务的平台，立足华东、辐射中国、服务全球。鑫路金融致力于服务、并整合全国各地及环球资本与资源，推动互联网金融与科技创新发展，尤其是金融科技领域。通过互联网技术，让价值和资金进行等效流通，让每一笔资金都能找到他的最佳位置，发挥出最大的价值。</p>
                            <p>鑫路金融的创始人以及核心团队，均出身于金融、银行、法律、互联网行业，有着资深的行业背景与专业知识技能。在技术研发、金融产品、风险控制等方面有丰富的经验以及独到的见解。围绕“将以用户为中心”的服务模式，为有投资理财需求的个人提供多元化的金融产品及优质的服务，使用户在实现财富增值的同时，享受卓越的互联网金融体验。</p>
                            <p>目前平台已获得ICP、软著权等相关认证，拥抱监管，规范行业。将普惠金融深入发展到中国广大的二三线城市，以此为基石，统建集抵押贷款、消费金融、融资租赁、点对点借条业务为一体的集团化平台，为有投融资需求的用户提供一站式全方位的服务。</p>
                        </div>
                    </div>
                    <div class="xlCompany_textBottom clearfloat">
                        <div class="xlCompany_textBottom_left">
                            <div class="xlCompany_textItem clerfloat">
                                <div class="icon"></div>
                                <p class="profile_02">公司远景</p>
                            </div>
                            <p>成为互联网金融技术革新的中流砥柱</p>
                            <div class="xlCompany_textItem clerfloat">
                                <div class="icon"></div>
                                <p class="profile_02">企业文化</p>
                            </div>
                            <p>
                                <b>领悟</b>，才是最迅速的成长方式；
                                <br>
                                <b>奋斗</b>，才是最灿烂的青春记忆；
                                <br>
                                <b>合作</b>，才是最完美的未来旅程</p>
                            <div class="xlCompany_textItem clerfloat">
                                <div class="icon"></div>
                                <p class="profile_02">鑫路简介</p>
                            </div>
                            <p>
                                <b>以风控立身，以技术说话</b>
                            </p>
                        </div>
                        <div class="xlCompany_textBottom_right"></div>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="xlOur">
                <div class="xlCompany_title">
                    <p class="profile_title">ABOUT US</p>
                    <p class="profile_01">关于我们</p>
                    <p class="profile_03">关注鑫路，关注理财，期待您的来访</p>
                </div>
                <div class="xlOur_text clearfloat">
                    <div class="xlOur_text_left">
                        <div class="xlUs_textItem clerfloat">
                            <div class="icon"></div>
                            <p class="profile_02">客服服务</p>
                        </div>
                        <p>客服热线：
                            <span style="font-size:20px;color:#666;">400-087-0808</span>
                            <br> 服务时间：9:00-18:00 （工作日）
                            <br> &#x3000;&#x3000;&#x3000;&#x3000;&#x3000;10:00-17:00（节假日）
                            <br>客服邮箱：service@xinlujinrong.com
                        </p>
                    </div>
                    <div class="xlOur_text_right">
                        <div class="xlUs_textItem clerfloat">
                            <div class="icon"></div>
                            <p class="profile_02">商务/媒体合作</p>
                        </div>
                        <p>联系邮箱：bd@xinlujinrong.com
                            <br> 联系电话：400-087-0808
                        </p>
                    </div>
                </div>
                <div class="xlOur_text clearfloat">
                    <div class="xlOur_text_left">
                        <div class="xlUs_textItem clerfloat">
                            <div class="icon"></div>
                            <p class="profile_02">官方渠道</p>
                        </div>
                        <p>官网网站：www.xinlujinrong.com
                            <br> 官方微博：@汉坤鑫路金融
                        </p>
                        <div class="channel clearfloat">
                            <div class="xlOur_weixin01">
                                <img src="https://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/weixin_01.png">
                                <p>HKxinlujinrong</p>
                                <p>官方微信</p>
                            </div>
                            <div class="xlOur_down">
                                <img src="https://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/download.png">
                                <p>鑫路金融APP下载</p>
                            </div>
                        </div>
                    </div>
                    <div class="xlOur_text_right">
                        <div class="xlUs_textItem clerfloat">
                            <div class="icon"></div>
                            <p class="profile_02">官方小二号</p>
                        </div>
                        <div class="koji">
                            <div class="xlOur_qq">
                                <img src="https://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/qq.png">
                                <p>3403752149</p>
                                <p>QQ小二号</p>
                            </div>
                            <div class="xlOur_weixin02">
                                <img src="https://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/weixin_02.png">
                                <p>XinLuJR</p>
                                <p>微信小二号</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="xlOur_text clearfloat">
                    <div class="xlOur_text">
                        <div class="xlUs_textItem clerfloat">
                            <div class="icon"></div>
                            <p class="profile_02">公司地址</p>
                        </div>
                        <p>公司地址：浙江省杭州市滨江区西兴街道闻涛路与阡陌路交叉口寰宇商务中心A座301-302室
                        </p>
                    </div>
                    <div id="container"></div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/js/base.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/js/common.js"></script>
<script>
    $(".xlAboutUs_lful>li>a").click(function () {
        $(this).addClass("xlActive").parent().siblings().children("a").removeClass("xlActive");
        $(".xlAboutUs_right>div").eq($(this).parent().index()).show().siblings().hide();
    })

    // 高德地图
    var map = new AMap.Map('container', {
        resizeEnable: true,
        zoom: 14,
        center: [120.216336, 30.220518]
    });
    var marker = new AMap.Marker({
        position: [120.216336, 30.220518],
        map: map
    });
    AMap.plugin(['AMap.ToolBar', 'AMap.Scale', 'AMap.OverView'],
        function () {
            map.addControl(new AMap.ToolBar());
            map.addControl(new AMap.Scale());
            map.addControl(new AMap.OverView({
                isOpen: true
            }));
        });
</script>