<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融、短期理财、p2p平台、理财投资、短期投资平台">
    <meta name="description" content="鑫路金融官网（www.xinlujinrong.com）是由浙江汉坤金融信息服务有限公司全力打造的互联网金融信息服务中介平台。鑫路金融专注小额分散的消费金融领域，以直融的业务模式，促成借款人与投资人在平台上直接达成借贷关系。致力于为所有用户打造一个周期灵活、安全诚信、收益可观的p2p短期投资理财平台！">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>活动专区 -值得信赖的P2P短期投资理财平台</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/css/common.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/activityArea.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/css/layui.css">    
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/swiper/swiper.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
    <style>
        .swiper-button-prev,
        .swiper-container-rtl .swiper-button-next {
            background-image: url("http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/prev_01.png");
            left: 10px;
            right: auto
        }
        .swiper-button-next,
        .swiper-container-rtl .swiper-button-prev {
            background-image: url("http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/next_01.png");
            right: 10px;
            left: auto
        }
    </style>
</head>

<body>
    <div class="xlActivity">
        <!-- 头部 -->
        <div class="xlActivity_top">
            <ul class="xlActivity_top_ul clearfloat">
                <li>
                    <a href="">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_01.png">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_02.png">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_03.png">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_04.png">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_05.png">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_06.png">
                    </a>
                </li>
            </ul>
            <ul class="xlActivity_title_left">
                <li>
                    <p>元宵活动</p>
                    <p>2018/03/02</p>
                </li>
                <li>
                    <p>安全保障</p>
                    <p>2018/03/02</p>
                </li>
                <li>
                    <p>登录注册</p>
                    <p>2018/03/02</p>
                </li>
                <li>
                    <p>筑梦活动</p>
                    <p>2018/03/02</p>
                </li>
                <li>
                    <p>春节活动</p>
                    <p>2018/03/02</p>
                </li>
            </ul>
            <ul class="xlActivity_title_right">
                <li>
                    <p>安全保障</p>
                    <p>2018/03/02</p>
                </li>
                <li>
                    <p>登录注册</p>
                    <p>2018/03/02</p>
                </li>
                <li>
                    <p>筑梦活动</p>
                    <p>2018/03/02</p>
                </li>
                <li>
                    <p>春节活动</p>
                    <p>2018/03/02</p>
                </li>
                <li>
                    <p>注册有礼</p>
                    <p>2018/03/02</p>
                </li>
            </ul>
        </div>
        <!-- 中间 -->
        <div class="xlActivity_middle">
            <div class="xlActivity_title">往期精彩活动回顾</div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <ul class="activityArea_ul">
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_07.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_08.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_09.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_10.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="activityArea_ul">
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_07.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_08.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_09.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_10.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="swiper-slide">
                        <ul class="activityArea_ul">
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_10.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_09.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_08.png">
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_07.png">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="xlActivity_bottom">
            <div class="xlActivity_title">往期海报页面</div>
            <div class="xlActivity_notice clearfloat">
                <div class="notice_left">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_11.png">
                </div>
                <div class="notice_right">
                    <div class="notice_right_content">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_12.png">
                            <div>2018.1.5 小寒</div>
                    </div>
                    <div class="notice_right_content">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_13.png">
                            <div>2017.12.25 圣诞节</div>
                    </div>
                    <div class="notice_right_content">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/acvitityArea/img_14.png">
                            <div>2018.2.15 春节</div>
                    </div>
                </div>
            </div>
            <div id="laypages_02"></div>
        </div>
    </div>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/activityArea.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/layui.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/swiper/swiper.min.js"></script>
<script>
    // 中间轮播
    var swiper = new Swiper('.swiper-container', {
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    // 分页
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage,
            layer = layui.layer;
        laypage.render({
            elem: 'laypages_02',
            count: 100,
            theme: "#ffa21a",
        });
    });
</script>