<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>银行存管-鑫路金融官网</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/bankSave.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <main>
        <div class="banner"></div>
        <!-- 存管银行简介 -->
        <div class="bankSave_part01">
            <div class="bankSave_content cleafloat">
                <div class="intro_left">
                    <img src="../../images/bankSave/bankSave_img01.png">
                    <div class="intro_left_text">
                        <p style="color:#666;font-size:40px;padding-top:230px;padding-bottom:30px;">存管银行简介</p>
                        <p style="color:#999;line-height:2;margin-bottom:25px;">上海银行是全国城市商业银行系统中唯一一家获得四类资格的存管银行
                            <br>完全符合《网络借贷资金存管业务指引》政策要求</p>
                        <p style="color:#999;line-height:2;">上海银行曾获得“区域性商业银行最佳网上银行用户体验奖”，并且已与多家平台开展资
                            <br>金存管业务，在技术研发经验和用户体验上均具有优势。</p>
                    </div>
                </div>
                <div class="intro_right">
                </div>
            </div>
        </div>
        <!-- 银行存管对用户的好处 -->
        <div class="bankSave_part02">
            <div class="bankSave_content cleafloat">
                <div class="good_img">
                    <img src="../../images/bankSave/bankSave_img02.png">
                </div>
                <ul class="good_ul">
                    <div class="good_text">银行存管对用户的好处</div>
                    <li>
                        <img src="../../images/bankSave/goods_01.png" alt="">
                        <p>真正的资金隔离</p>
                        <p style="text-align:justify;color:#999;">上海银行拥有专业的资金存管业务流程操作规范，对用户资金发生的交易、 流转和资金流向进行全面监督并保留记录。</p>
                    </li>
                    <li>
                        <img src="../../images/bankSave/goods_02.png" alt="">
                        <p>交易更安全</p>
                        <p style="text-align:justify;color:#999;">所有出借人与借款人均开通独立存管账户，与平台账户分开，各账户间全面隔离。平台上资金和交易分开，平台无法直接触及资金，用户更放心</p>
                    </li>
                    <li>
                        <img src="../../images/bankSave/goods_03.png" alt="">
                        <p>用户授权操作</p>
                        <p style="text-align:justify;color:#999;">资金交易均由用户授权银行操作，存管银行对客户身份及交易授权进行认证，保障用户资金安全。</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="bankSave_part03">
            <div class="bankSave_content cleafloat">
                <div class="process_left">
                    <img src="../../images/bankSave/bankSave_img03.png" alt="">
                </div>
                <div class="process_right clearfloat">
                    <p style="font-size:40px;color:#666;margin-top:160px;">银行存管流程解读</p>
                    <div class="process_img"></div>
                </div>
            </div>
        </div>
    </main>
    <!-- 尾部 -->
    <footer></footer>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/common.js"></script>
<script>
    $("header").load("head.html");
    $("footer").load("footer.html");
</script>