<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>鑫路金融 银行资金存管 值得信赖的短期理财平台</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>
<body>
    <footer>
        <div class="xlfooter">
            <div class="xlfooter_top clearfloat">
                <div class="xlfooter_top_left clearfloat">
                    <ul>
                        <li>关于鑫路</li>
                        <li><a href="https://www.xinlujinrong.com/other/aboutUs?anchor=1">公司简介</a></li>
                        <li><a href="https://www.xinlujinrong.com/other/aboutUs?anchor=4">公司动态</a></li>
                        <li><a href="javascript:;">业务模式</a></li>
                        <li><a href="https://www.xinlujinrong.com/sys/team">团队架构</a></li>
                    </ul>
                    <ul>
                        <li>信息披露</li>
                        <li><a href="https://www.xinlujinrong.com/sys/safety">安全保障</a></li>
                        <li><a href="javascript:;">运营报告</a></li>
                        <li><a href="https://www.xinlujinrong.com/sys/catti">证书执照</a></li>
                    </ul>
                    <ul> 
                        <li>帮助中心</li>
                        <li><a href="https://www.xinlujinrong.com/sys/newbie">鑫手指南</a></li>
                        <li><a href="https://www.xinlujinrong.com/sys/counter">收益计算器</a></li>
                        <li><a href="javascript:;">意见反馈</a></li>
                        <li><a href="https://www.xinlujinrong.com/other/aboutUs?anchor=4">联系我们</a></li>
                       
                    </ul>
                </div>
                <div class="xlfooter_top_middle">
                    <div class="logo_03"></div>
                </div>
                <div class="xlfooter_top_right">
                    <ul class="xlfooter_top_service clearfloat">
                        <li></li>
                        <li>
                            <p class="serviceNumber">400-087-0808</p>
                            <p class="serviceTime">工作日9:00-18:00&#x3000;节假日10:00-17:00</p>
                        </li>
                    </ul>
                    <ul class="xlfooter_top_icon clearfloat">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li onclick="window.open('https://weibo.com/u/6363624631?topnav=1&wvr=6&is_hot=1')"></li>
                    </ul>
                </div>
            </div>
            <div class="xlfooter_bottom">
                <ul class="xlfooter_bottom_ul clearfloat">
                    <li>
                        <p>市场有风险，投资需谨慎</p>
                        <p>Copyright&nbsp;&copy2016-2017 浙江汉坤金融信息服务有限公司 www.xinlujinrong.com</p>
                        <p>浙ICP备17044452号-2</p>
                    </li>
                    <li>
                        <a href="https://v.pinpaibao.com.cn/cert/site/?site=www.xinlujinrong.com&at=business" target="_blank" rel="nofollow" class="safety_icon"></a>
                        <a href="https://credit.cecdc.com/CX20171113036707231539.html" target="_blank" rel="nofollow" class="integrity_icon"></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<!-- <script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script> -->
<script src="../../js/base.js"></script>