<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>鑫路金融 银行资金存管 值得信赖的短期理财平台</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css">
</head>

<body>
    <footer>
        <div class="w1200 footer_top clearfloat">
            <ul class="footer_ul clearfloat">
                <li>关于鑫路</li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/catti">公司简介</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/aboutUs">高管团队</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/aboutUs">联系我们</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/catti">资格证书</a>
                </li>
            </ul>
            <ul class="footer_ul">
                <li>信息披露</li>
                <!-- <li>
                    <a href="bankSave.html">银行存管</a>
                </li> -->
                <li>
                    <a href="https://www.xinlujinrong.com/sys/team">团队架构</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/catti">证书执照</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/safety">安全保障</a>
                </li>
            </ul>
            <ul class="footer_ul">
                <li>平台指南</li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/help">帮助中心</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/newbie">新手课堂</a>
                </li>
                <li>
                    <a href="javascript:;">资费说明</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/counter">收益计算器</a>
                </li>
            </ul>
            <ul class="footer_ul">
                <li>安全保障</li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/safety#1">严谨风控体系</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/safety#2">合规直融模式</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/safety#3">强大技术保障</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/safety#4">专业法律支持</a>
                </li>
                <li>
                    <a href="https://www.xinlujinrong.com/sys/safety#5">合规合法操作</a>
                </li>
            </ul>
            <div class="footer_ewm clearfloat">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/logo.png" alt="">
                <p style="padding-top:30px;font-size:18px">客服电话：400-087-0808</p>
                <p style="padding-bottom:30px;line-height:26px;">（工作日9:00-18:00，节假日10:00-17:00）</p>
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/qq_code.png" class="qq_code">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/kf_weixin.png" class="weixin_code">
                <span>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/qq.png" alt="">3403752149
                </span>
                <span style="margin-left:55px;">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/weixin.png" alt="">wxid_s4ygpxvcd422</span>
            </div>
            <div class="kefu">
                <div class="app">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/load_01.png">
                    <p>手机端下载</p>
                </div>

                <div class="wechat">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/weixin_code.png">
                    <p>关注我们的微信</p>
                </div>
            </div>

        </div>
        <div class="footer_hr">
            <div class="footer_bottom w1200 ">
                <div style="margin-top:30px;">
                    <p>市场有风险，投资需谨慎</p>
                    <p>Copyright&nbsp;&copy2016-2017 浙江汉坤金融信息服务有限公司 www.xinlujinrong.com</p>
                    <p>浙ICP备17044452号-2</p>
                </div>
                <ul class="footer_bottom_ul">
                    <li>
                        <a href="javascript:;" target="_blank" rel="nofollow">
                            <img >
                        </a>
                    </li>
                    <li>
                        <a href="https://v.pinpaibao.com.cn/cert/site/?site=www.xinlujinrong.com&at=business" target="_blank" rel="nofollow">
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/footer_02.png">
                        </a>
                    </li>
                    <li>
                        <a href="https://credit.cecdc.com/CX20171113036707231539.html" target="_blank" rel="nofollow">
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/footer_01.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>

<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>