<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>忘记交易密码-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/css/forget.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <main>
        <div class="forget_content">
            <div class="forget_top">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/forget/forget_02.png" class="forget_top_img">
            </div>
            <div class="forget_step">
                <!-- 第二步 -->
                <form action="" class="forget_part02" style="height:240px;">
                    <ul class="forget_ul02 clearfloat">
                        <input type="hidden" class="mobile" name="moblie" maxlength="11" value="${moblie}">
                        <li>
                            <div class="pwd"></div>
                            <input type="password" class="newpwd" placeholder="请输入新的交易密码" minlength="6" maxlength="6">
                        </li>
                        <div class="error_01">
                            <p></p>
                        </div>
                        <li>
                            <div class="pwd_again"></div>
                            <input type="text" class="newpwd2" placeholder="确认新的交易密码" minlength="6" maxlength="6">
                        </li>
                        <div class="error_02">
                            <p></p>
                        </div>
                    </ul>
                    <div class="forget_btn">
                        <input type="button" class="to_login_btn" value="确认重置">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- 尾部 -->
    <footer></footer>

</body>

</html>

<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/forget.js"></script>
<script>
   $(".to_login_btn").click(function(){
       if(!/^([0-9a-zA-Z]{6,20})$/.test($(".newpwd").val())){
           $(".error_01>p").html("请输入6-20位英文或数字密码");
           return false;
       };
       if($(".newpwd").val()!=$(".newpwd2").val()){
           $(".error_02>p").html("两次输入的密码不一致");
           return false;
       };
       $.ajax({
           type : 'post',
           url: '//retrieve/secondNew',
           data:{
               moblie: $(".moblie").val(),
               password:$(".newpwd").val(),
               User_confirmpass:$(".newpwd2").val(),
           },
           success:function(data){
               if(data==1){
                //   登录
               }else{
                   $(".error_02>p").html(data.msg);
               }
           },
           error:function(XMLHttpRequest,textStatus,errorThrown){

           }
       })
   });
</script>