<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>忘记密码-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/css/forget.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <main>
        <div class="forget_content">
            <div class="forget_top">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/forget/forget_01.png" class="forget_top_img">
            </div>
            <div class="forget_step">
                <!-- 第一步 -->
                <form action="" class="forget_part01">
                    <ul class="forget_ul01 clearfloat">
                        <li>
                            <div class="phone"></div>
                            <input type="text" placeholder="请输入手机号码" class="mobile" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                        <div class="error_01">
                            <p></p>
                        </div>
                        <li>
                            <div class="code"></div>
                            <input type="text" placeholder="图片验证码" class="aco">
                        </li>
                        <div class="reg_code"><img src=""></div> 
                        <div class="error_03">
                            <p></p>
                        </div>
                        <li>
                            <div class="email"></div>
                            <input type="text" placeholder="短信验证码" class="aco" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                        <div class="code_div01">获取验证码</div>
                        <div class="error_02">
                            <p></p>
                        </div>
                    </ul>
                    <div class="forget_btn">
                        <input type="button" class="next" value="下一步">
                    </div>
                    <p>温馨提示:如果绑定的手机号因停机、注销、丢失等情况无法接收验证，请与鑫路客服联系。</p>
                    <span>客服热线:400-087-0808</span>
                </form>
            </div>
        </div>
    </main>
    <!-- 尾部 -->
    <footer></footer>

</body>

</html>

<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/forget.js"></script>
<script type="text/javascript">
    /*//错误提示
                    $("#qluser_true02").click(function(){
                    $("#qluser02").addClass("user_active");
                	});
                	$("#dowm").click(function(){
                	    $("#qluser02").addClass("user_active");
                	});*/

    $(".mobile").blur(function () {
        if ($(this).val() == "") {
            $(".error_01>p").html("手机号码不能为空");
        } else if (!/^(13|15|18|14|17)[0-9]{9}$/.test($(this).val())) {
            $(".error_01>p").html("手机号码格式不正确");
        }
    });

    var mobileUrl = "118.31.20.195:8083/reg/authUserExist";
    var mobileVal = '';
    var out = false;

    function validMobile(not_valid_empty, ss) {
        var mv = $.trim($('.mobile').val());
        var t = "";
        var mobile = /^(13|15|18|14|17)[0-9]{9}$/;

        if (!mv) not_valid_empty ? undefined : tishi(-3);
        else if (!mobile.test(mv)) {
            tishi(-1);
        } else {
            if (mobileVal != mv) {
                mobileVal = mv;
                //验证手机是否存在
                $.ajax({
                    type: "post",
                    url: "118.31.20.195:8083/reg/authUserExist",
                    dataType: "json",
                    data: "mobile=" + mv,
                    success: function (data) {
                        console.log("code");
                        var code = data.code;
                        if (data.code == 1) {
                            if (ss == 1) {
                                submit();
                            } else {
                                getCode();
                            }

                        } else {
                            tishi();
                        }

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
            } else {
                if (ss == 1) {
                    submit();
                } else {
                    getCode();
                }
            }
        }
    }
    $(".code_div01").click(function () {
        validMobile();
    });

    function getCode() {

        $.ajax({
            type: 'POST',
            url: '118.31.20.195:8083/retrieve/getCodePhoneNew',
            data: {
                mobiles: $.trim($('.mobile').val()),

            },
            success: function (data) {
                if (data.success == true) {
                    $(".code_div01").attr("disabled", "disabled");
                    downTime();
                }
                $(".code_div01").html(data.msg);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    function downTime() {
        var at = 30;
        var MyTime = setInterval(function () {
            if (at > 0) {
                at--;
                $(".code_div01").val("重新获取(" + at + ")").addClass("noBut");

            } else if (at == 0) {
                $(".code_div01").val("重获验证码").removeAttr("disabled").removeClass("noBut");
                clearInterval(MyTime);
            }
        }, 1000);
    }

    function tishi(code) {
        if (code == -3) {
            $(".error_01>p").html("手机号码不能为空");
            return false;
        } else if (code == -1) {
            $(".error_01>p").html("手机号码格式不正确");
            return false;
        } else if (code == -2) {
            $(".error_01>p").html("该手机号已经被注册,请更换手机号");
            return false;
        } else if (code == -4) {
            $(".error_01>p").html("该手机号未注册");
            return false;
        } else if (code == 1) {
            $(".error_01>p").html("1");
            return true;
        } else if (code = -4) {
            $(".error_01>p").html("图形验证码为空");
            return false;
        }
    };
</script>