<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>鑫路金融 银行资金存管 值得信赖的短期理财平台</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/css/common.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/head.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <header class="xlHead_active">
        <div class="xlHead clearfloat">
            <div class="logo_02">
                <a href="../index.html"></a>
            </div>
            <div class="xlHead_right clearfloat">
                <div class="xlHead_topbar clearfloat">
                    <ul class="topbar clearfloat">
                        <li id="xlWelcome" style="display:none">
                            欢迎用户
                            <a href="个人中心">183****5873</a>
                            <a href="">安全退出</a>
                        </li>
                        <li id="xlLogin">
                            <a href="登录">登录</a>
                            <span>-</span>
                            <a href="注册">注册</a>
                        </li>
                        <span>|</span>
                        <li>
                            <a href="https://www.xinlujinrong.com/sys/newbie">鑫手指引</a>
                        </li>
                        <span>|</span>
                        <li>
                            <a href="javascript:;">活动专区</a>
                        </li>
                        <span>|</span>
                        <li>
                            <a href="https://www.xinlujinrong.com/sys/help">帮助中心</a>
                        </li>
                        <span>|</span>
                        <li class="xlPay_weixin">
                            <a href="javascript:;">关注微信</a>
                            <div class="weixin_div">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="xlHead_bottombar clearflot">
                    <ul class="bottombar claerfloat">
                        <li>
                            <a href="首页">首页</a>
                        </li>
                        <li>
                            <a href="投资专区">投资专区</a>
                        </li>
                        <li class="xlMessage_li">
                            <a href="javascript:;">信息披露</a>
                        </li>
                        <li class="xlUs_li">
                            <a href="javascript:;">关于鑫路</a>
                        </li>
                    </ul>
                    <div class="xlUser clearfloat">
                        <div class="xlUser_bg01"></div>
                        <a href="个人中心">我的账户</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="xlMessage">
            <ul class="xlMessage_ul">
                <li>
                    <a href="">公司简介</a>
                </li>
                <li>
                    <a href="">团队架构</a>
                </li>
                <li>
                    <a href="">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="xlUs">
            <ul class="xlUs_ul">
                <li>
                    <a href="">证书执照</a>
                </li>
                <li>
                    <a href="">安全保障</a>
                </li>
            </ul>
        </div>
    </header>
    
    <ul class="right_nav">
        <li>
            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/download.png" class="down">
            <div class="down_div">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/load_03.png" alt="">
            </div>
        </li>

        <li>
            <a href="counter.html">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/jisuanqi.png" class="jisuan">
            </a>
        </li>
        <li>
            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/kefu.png" class="servive">
            <div class="kefu_num">
                <p>客服热线</p>
                <p>400-087-0808</p>
            </div>
        </li>
        <li class="up">
            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/up.png">
        </li>
    </ul>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="../../js/base.js"></script>
<script src="../../js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/head.js"></script>