<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>鑫路金融 银行资金存管 值得信赖的短期理财平台</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="../../css/index.css">
    <link rel="stylesheet" href="../../css/common.css">
    <!-- <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css"> -->
    <!-- <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/index.css"> -->
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header>
        <div class="head_top">
            <div class="head_toubu clearfloat w1200">
                <div class="head_top_left">
                    <div class="head_top_left01 fleft">
                        <p>鑫路金融App</p>
                    </div>
                    <div class="head_top_left02 fleft">
                        <div class="load">
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/load.png" alt="">
                        </div>
                    </div>
                    <div class="head_top_left03 fleft">
                        <div class="head_wechat">
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/weixin_qr.png" alt="">
                        </div>
                    </div>
                    <div class="head_top_left04 fleft">
                    </div>
                </div>
                <div class="head_top_right">
                    <div class="head_top_right01">
                        <a href="newbie.html">鑫手指南</a>
                        <div class="border"></div>
                        <a href="help.html">帮助中心</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="head_bottom w1200">
            <div class="logo">
                <a href="index.html">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/logo.png" alt="">
                </a>
            </div>
            <ul class="head_nav">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <a href="matters.html">我要理财</a>
                </li>
                <li class="safety">信息披露
                    <ul class="safety_ul">
                        <li>
                            <a href="bankSave.html">银行存管</a>
                        </li>
                        <li>
                            <a href="">团队架构</a>
                        </li>
                        <li>
                            <a href="">证书执照</a>
                        </li>
                        <li>
                            <a href="safety.html">安全保障</a>
                        </li>
                    </ul>
                </li>
                <li class="about_us">关于鑫路
                    <ul class="about_us_ul">
                        <li>
                            <a href="aboutUs.html">公司简介</a>
                        </li>
                        <li>
                            <a href="aboutUs.html">平台介绍</a>
                        </li>
                        <li>
                            <a href="aboutUs.html">新闻公告</a>
                        </li>
                        <li>
                            <a href="aboutUs.html">联系我们</a>
                        </li>
                    </ul>
                </li>
                <!-- 登录后 默认隐藏  用户登录后出现-->
                <li id="login_state">
                    <img src="../../images/user.png" alt="">
                    <!-- <a href="" class="login" style="background:url('../../images/user.png') center no-repeat;">欢迎</a> -->
                    <ul class="login_state_ul">
                        <li>
                            <a href="">我要充值</a>
                        </li>
                        <li>
                            <a href="">我要提现</a>
                        </li>
                        <li>
                            <a href="">我要投资</a>
                        </li>
                        <li>
                            <a href="">推荐好友</a>
                        </li>
                        <li>
                            <a href="">我的奖励</a>
                        </li>
                        <li>
                            <a href="">安全退出</a>
                        </li>
                    </ul>
                </li>
                <li id="login_user">
                    <a href="" class="register">151****2821</a>
                </li>
                <!-- 未登录 默认显示 用户登录后显示 -->
                <li class="login_state" style="display:none;">
                    <a href="/login/login" class="login">登录</a>
                </li>
                <li class="login_user" style="display:none;">
                    <a href="register.html" class="register">注册有礼</a>
                </li>
            </ul>
        </div>
    </header>
    <!-- banner -->
    <div class="banner">
        <ul class="banner_ul">
            <li>
                <a href="registerGift.html"></a>
            </li>
            <li>
                <a href="safety.html"></a>
            </li>
            <li>
                <a href="product_01.html"></a>
            </li>
            <li>
                <a href="activity.html"></a>
            </li>
        </ul>
        <div class="banner_bottom">
            <ul class="banner_btn">
                <li class="banner_active">注册有礼</li>
                <li class="banner_unactive">注册有礼</li>
                <li class="banner_unactive">注册有礼</li>
                <li class="banner_unactive">注册有礼</li>
            </ul>
        </div>

    </div>

    <!-- 四大特色 -->
    <div class="feature">
        <ul class="feature_ul w1200">
            <li class="feature01">
                <a href="javascript:;">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/feature_01.png" alt="">
                    <div class="feature_text">
                        <p>小额分散投资，灵活自由理财</p>
                        <span>普惠金融</span>
                    </div>
                </a>
            </li>
            <li class="feature02">
                <a href="javascript:;">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/feature_02.png" alt="">
                    <div class="feature_text">
                        <p>直融业务模式，安全高效运作</p>
                        <span>合规模式</span>
                    </div>
                </a>
            </li>
            <li class="feature03">
                <a href="javascript:;">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/feature_03.png" alt="">
                    <div class="feature_text">
                        <p>多重安全保障，真正理财无忧</p>
                        <span>严密风控</span>
                    </div>
                </a>
            </li>
            <li class="feature04">
                <a href="javascript:;">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/feature_04.png" alt="">
                    <div class="feature_text">
                        <p>实力明星团队，多年行业经验</p>
                        <span>专业高效</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- 右边栏 -->
    <ul class="right_nav">
        <li>
            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/download.png" class="down">
            <div class="down_div">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/load.png" alt="">
            </div>
        </li>

        <li>
            <a href="counter.html">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/jisuanqi.png" class="jisuan">
            </a>
        </li>
        <li>
            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/kefu.png" class="servive">
            <div class="kefu_num">
                <p>客服热线</p>
                <p>400-087-0808</p>
            </div>
        </li>
        <li class="up">
            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/up.png">
        </li>
    </ul>
    <!-- 鑫手专享 -->
    <div class="novice w1200">
        <p>鑫手专享</p>
        <ul class="novice_ul">
            <li class="novice_register">
                <div>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/novice_01.png">
                    <div>
                        <a href="javascript:;" class="novice_btn">注册领588元红包</a>
                    </div>
                </div>
            </li>
            <li class="novice_series">
                <a href="product-detaols.html">
                    <p class="series_text">鑫客户专享系列</p>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/series_mark.png" class="series_mark">
                    <div class="series_middle">
                        <div>
                            <p class="series_middle_p1">
                                <span>13.00</span>%</p>
                            <p class="series_middle_p4">年化率</p>
                        </div>
                        <div style="margin:0 90px 0 95px;">
                            <p class="series_middle_p2">
                                <span>0</span>天</p>
                            <p class="series_middle_p4">投资期限</p>
                        </div>
                        <div>
                            <p class="series_middle_p3">
                                <span>1000</span>元</p>
                            <p class="series_middle_p4">年化率</p>
                        </div>
                    </div>

                    <div class="loading_01">
                        <div class="loading_div01" style="width:30%">
                            <div class="radius"></div>
                        </div>
                        <p style="color:#666;position:absolute;right:15px;margin-top:-12px;">已售30%</p>
                    </div>
                </a>
            </li>
            <li class="novice_gulde" onclick="location.href='newbie.html'">
                <div>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/novice_02.png">
                    <div>
                        <p class="gulde_text">鑫手指南</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- 投资专区 -->
    <div class="invest w1200">
        <p>投资专区</p>
        <ul class="invest_ul">
            <li>
                <a href="javascript:;">
                    <div class="invest_top">
                        <p>鑫火稳健</p>
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_top_01.png" class="invest_img_01">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_top_05.png" class="invest_img_02">
                    </div>
                    <div class="invest_middle">
                        <div class="invest_loading">
                            <div id="invest_01">
                            </div>
                        </div>
                        <div class="invest_text">
                            <div style="margin-right:60px;">
                                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_text_05.png" alt="">
                                <a href="javascript:;" style="margin-left:8px;color:#888;font-size:12px;">投资期限</a>
                                <p style="color:#999;font-size:12px;">60天</p>
                            </div>
                            <div>
                                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_text_06.png" alt="">
                                <a href="javascript:;" style="margin-left:5px;color:#888;font-size:12px;">起投金额</a>
                                <p style="color:#999;font-size:12px;">1000元</p>
                            </div>
                        </div>
                    </div>
                    <div class="invest_bottom">
                        <p>立即投资</p>
                    </div>
                </a>
            </li>
            <li>
                <div class="invest_top">
                    <p>家嘉富利</p>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_top_02.png" class="invest_img_01">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_top_06.png" class="invest_img_02">
                </div>
                <div class="invest_middle">
                    <div class="invest_loading">
                        <div id="invest_02">
                        </div>
                    </div>
                    <div class="invest_text">
                        <div style="margin-right:60px;">
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_text_05.png" alt="">
                            <a href="javascript:;" style="margin-left:8px;color:#888;font-size:12px;">投资期限</a>
                            <p style="color:#999;font-size:12px;">60天</p>
                        </div>
                        <div>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_text_06.png" alt="">
                            <a href="javascript:;" style="margin-left:5px;color:#888;font-size:12px;">起投金额</a>
                            <p style="color:#999;font-size:12px;">1000元</p>
                        </div>
                    </div>
                </div>
                <div class="invest_bottom">
                    <p>立即投资</p>
                </div>
            </li>
            <li>
                <div class="invest_top">
                    <p>鑫火复利</p>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_top_03.png" class="invest_img_01">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_top_07.png" class="invest_img_02">
                </div>
                <div class="invest_middle">
                    <div class="invest_loading">
                        <div id="invest_03">
                        </div>
                    </div>
                    <div class="invest_text">
                        <div style="margin-right:60px;">
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_text_05.png" alt="">
                            <a href="javascript:;" style="margin-left:8px;color:#888;font-size:12px;">投资期限</a>
                            <p style="color:#999;font-size:12px;">60天</p>
                        </div>
                        <div>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_text_06.png" alt="">
                            <a href="javascript:;" style="margin-left:5px;color:#888;font-size:12px;">起投金额</a>
                            <p style="color:#999;font-size:12px;">1000元</p>
                        </div>
                    </div>
                </div>
                <div class="invest_bottom">
                    <p>立即投资</p>
                </div>
            </li>
            <li>
                <div class="invest_top">
                    <p>复利稳健</p>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_top_04.png" class="invest_img_01">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_top_08.png" class="invest_img_02">
                </div>
                <div class="invest_middle">
                    <div class="invest_loading">
                        <div id="invest_04">
                        </div>
                    </div>
                    <div class="invest_text">
                        <div style="margin-right:60px;">
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_text_05.png" alt="">
                            <a href="javascript:;" style="margin-left:8px;color:#888;font-size:12px;">投资期限</a>
                            <p style="color:#999;font-size:12px;">60天</p>
                        </div>
                        <div>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/invest_text_06.png" alt="">
                            <a href="javascript:;" style="margin-left:5px;color:#888;font-size:12px;">起投金额</a>
                            <p style="color:#999;font-size:12px;">1000元</p>
                        </div>
                    </div>
                </div>
                <div class="invest_bottom">
                    <p>立即投资</p>
                </div>
            </li>
        </ul>
    </div>

    <!-- 咨询报道 -->
    <div class="message w1200">
        <p>资讯报道</p>
        <div class="message_div_01 w1200">
            <ul class="message_ul">
                <li class="message_active xl_message">媒体报道</li>
                <li class="xl_commpany">公司动态</li>
                <li class="xl_terrace">平台公告</li>
            </ul>
            <div class="message_div_02" id="xl_message">
                <div class="message_div_03">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/news_01.png">
                </div>
                <div class="message_div_04">
                    <div class="message_div_05">
                        <a class="clearfloat" href="javascpipt:;">更多</a>
                    </div>
                    <ul class="message_div_ul">
                        <li>
                            <a href="javascript:;">
                                <span>06-28</span>
                                <span>消费金融大发展的市场环境正加速形成</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>06-06</span>
                                <span>互金对银行冲击有多大?业内：是补充非取代</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>05-27</span>
                                <span>陆家嘴十三五规划：推互金领域的陆家嘴标准</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>05-03</span>
                                <span>中国网：打造真正的高收益低风险</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="message_div_02" id="xl_commpany">
                <div class="message_div_03">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/news_02.png" alt="" srcset="">
                </div>
                <div class="message_div_04">
                    <div class="message_div_05">
                        <a class="clearfloat" href="javascpipt:;">更多</a>
                    </div>
                    <ul class="message_div_ul">
                        <li>
                            <a href="javascript:;">
                                <span>07-28</span>
                                <span>鑫路金融携手民泰银行 正式签署资金存取ceshi</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>10-06</span>
                                <span>新财网：积极落实信批标准，打造透明平台</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>05-12</span>
                                <span>蚂蚁金服：从金融科技转型科技金融</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>05-03</span>
                                <span>第一财经：互金2.0，BATJ牵手4大行</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="message_div_02" id="xl_terrace">
                <div class="message_div_03">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/news_03.jpg" alt="" srcset="">
                </div>
                <div class="message_div_04">
                    <div class="message_div_05">
                        <a class="clearfloat" href="javascpipt:;">更多</a>
                    </div>
                    <ul class="message_div_ul">
                        <li>
                            <a href="javascript:;">
                                <span>08-28</span>
                                <span>钱路理财携手民泰银行 正式签署资金存取ceshi</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>09-06</span>
                                <span>中国网：3分钟干货，如何选择新老平台？</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>10-27</span>
                                <span>凤凰网：如何摆脱你的收入焦虑？</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <span>05-03</span>
                                <span>中国网：打造真正的高收益低风险</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- 战略合作 -->
    <div class="cooperate w1200">
        <p>战略合作</p>
        <div class="coo_friends">
            <section class="coo_sec">
                <ul class="friends_ul">
                    <li>
                        <a href="http://www.wdzj.com/" target="_blank" rel="nofollow"><img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/friends_01.png" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.p2peye.com/" target="_blank" rel="nofollow"><img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/friends_02.png" alt=""></a> 
                    </li>
                    <li>
                        <a href="https://www.aliyun.com/" target="_blank" rel="nofollow"><img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/friends_03.png" alt=""></a>
                    </li>
                    <li>
                        <a href="https://www.fuiou.com/" target="_blank" rel="nofollow"><img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/friends_04.png" alt=""></a>
                    </li>
                    <li>
                        <a href="http://www.dahantc.com/Index/home.html" target="_blank" rel="nofollow"><img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/friends_05.png" alt=""></a>
                    </li>
                    <li>
                        <a href="http://www.sanminlaw.com/" target="_blank" rel="nofollow"><img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/friends_06.png" alt=""></a>
                    </li>
                </ul>
            </section>
        </div>
    </div>

    <footer>
        <div class="w1200 footer_top clearfloat">
            <ul class="footer_ul clearfloat">
                <li>关于鑫路</li>
                <li>
                    <a href="javascript:;">公司简介</a>
                </li>
                <li>
                    <a href="javascript:;">高管团队</a>
                </li>
                <li>
                    <a href="javascript:;">联系我们</a>
                </li>
                <li>
                    <a href="javascript:;">资格证书</a>
                </li>
            </ul>
            <ul class="footer_ul">
                <li>信息披露</li>
                <li>
                    <a href="bankSave.html">银行存管</a>
                </li>
                <li>
                    <a href="javascript:;">团队架构</a>
                </li>
                <li>
                    <a href="catti.html">证书执照</a>
                </li>
                <li>
                    <a href="javascript:;">安全保障</a>
                </li>
            </ul>
            <ul class="footer_ul">
                <li>平台指南</li>
                <li>
                    <a href="help.html">帮助中心</a>
                </li>
                <li>
                    <a href="javascript:;">新手课堂</a>
                </li>
                <li>
                    <a href="javascript:;">资费说明</a>
                </li>
                <li>
                    <a href="matters.html">收益计算器</a>
                </li>
            </ul>
            <ul class="footer_ul">
                <li>安全保障</li>
                <li>
                    <a href="safety.html">合作保障机构</a>
                </li>
                <li>
                    <a href="safety.html">信息风控体系</a>
                </li>
                <li>
                    <a href="safety.html">政策法规保障</a>
                </li>
                <li>
                    <a href="safety.html">网站技术保障</a>
                </li>
                <li>
                    <a href="safety.html">自我保障意识</a>
                </li>
            </ul>
            <div class="footer_ewm clearfloat">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/logo.png" alt="">
                <p style="padding-top:50px;font-size:18px">客服电话：400-087-0808</p>
                <p style="padding-bottom:30px;">（工作日9:00-24:00，节假日10:00-17:00）</p>
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/qq_code.png" class="qq_code">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/kf_weixin.png" class="weixin_code">
                <span>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/qq.png" alt="">3403752149
                </span>
                <span style="margin-left:55px;">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/weixin.png" alt="">wxid_s4ygpxvcd422</span>
            </div>
            <div class="kefu">
                <div class="app">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/weixin_code.png">
                    <p>手机端下载</p>
                </div>

                <div class="wechat">
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/weixin_code.png">
                    <p>关注我们的微信</p>
                </div>
            </div>

        </div>
        <div class="footer_hr">
            <div class="footer_bottom w1200 ">
                <div style="margin-top:30px;">
                    <p>市场有风险，投资需谨慎</p>
                    <p>Copyright&nbsp;&copy2016-2017 杭州汉坤金融信息服务有限公司 www.xinlujinrong.com</p>
                    <p>浙ICP备17044452号-2</p>
                </div>
                <ul class="footer_bottom_ul">
                    <li></li>
                    <li>
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/footer_02.png">
                    </li>
                    <li>
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/footer_01.png">
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<!-- <script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script> -->
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/index.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/echarts.min.js"></script>
<script>
    $(".message_ul>li").click(function () {
        $(this).addClass("message_active").siblings().removeClass("message_active");
    })

    $(".xl_message").click(function () {
        $("#xl_message").show();
        $("#xl_commpany").hide();
        $("#xl_terrace").hide();
    });

    $(".xl_commpany").click(function () {
        $("#xl_message").hide();
        $("#xl_commpany").show();
        $("#xl_xl_terrace").hide();
    });

    $(".xl_terrace").click(function () {
        $("#xl_message").hide();
        $("#xl_commpany").hide();
        $("#xl_terrace").show();
    });

    function echartsMathed(eleID, per) {
        var eleID = document.getElementById(eleID);
        var myChart = echarts.init(eleID);
        var option = optionStr(per);
        myChart.setOption(option)
    }

    function optionSt(per) {
        option = {
            backgroundColor: '#fff',
            grid: {
                left: '13%',
                right: '4%',
                bottom: '30%',
                // containLabel: true
            },
            graphic: {
                type: 'text',
                left: 'center',
                top: '45%',
                style: {
                    text: '售出进度',
                    fill: '#ffa49a',
                    font: 'normal 18px "Microsoft YaHei", sans-serif',
                },
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            series: [{
                name: '售出进度',
                type: 'pie',
                radius: ['70%', '62%'],
                center: ['50%', '50%'],
                avoidLabelOverlap: false,
                color: ["#Fbd26d", "#Fdecc2"],
                label: {
                    normal: {
                        show: false,
                        position: 'center'
                    },
                },
                labelLine: {
                    normal: {
                        show: true,
                    }
                },
                itemStyle: {
                    top: 20,
                },
                data: [{
                        value: 40,
                        name: '已售出'
                    },
                    {
                        value: 60,
                        name: '未售出'
                    }
                ]
            }]
        };
        return option;
    }

    // 使用刚指定的配置项和数据显示图表。
    // myChart1.setOption(option);

    // var myChart2 = echarts.init(document.getElementById('invest_02'));
    // option = {
    //     backgroundColor: '#fff',
    //     grid: {
    //         left: '13%',
    //         right: '4%',
    //         bottom: '30%',
    //         // containLabel: true
    //     },
    //     graphic: {
    //         type: 'text',
    //         left: 'center',
    //         top: '45%',
    //         style: {
    //             text: '售出进度 \n 1',
    //             fill: '#8ed7be',
    //             font: 'normal 18px "Microsoft YaHei", sans-serif',
    //         },
    //     },
    //     tooltip: {
    //         trigger: 'item',
    //         formatter: "{a} <br/>{b}: {c} ({d}%)"
    //     },
    //     series: [{
    //         name: '售出进度',
    //         type: 'pie',
    //         radius: ['70%', '62%'],
    //         center: ['50%', '50%'],
    //         avoidLabelOverlap: false,
    //         color: ["#8ed7be", "#d0eee4"],
    //         label: {
    //             normal: {
    //                 show: false,
    //                 position: 'center'
    //             },
    //         },
    //         labelLine: {
    //             normal: {
    //                 show: true,
    //             }
    //         },
    //         itemStyle: {
    //             top: 20,
    //         },
    //         data: [{
    //                 value: 40,
    //                 name: '已售出'
    //             },
    //             {
    //                 value: 60,
    //                 name: '未售出'
    //             }
    //         ]
    //     }]
    // };
    // myChart2.setOption(option);

    // var myChart3 = echarts.init(document.getElementById('invest_03'));
    // option = {
    //     backgroundColor: '#fff',
    //     grid: {
    //         left: '13%',
    //         right: '4%',
    //         bottom: '30%',
    //         // containLabel: true
    //     },
    //     graphic: {
    //         type: 'text',
    //         left: 'center',
    //         top: '45%',
    //         style: {
    //             text: '售出进度',
    //             fill: '#fbd26d',
    //             font: 'normal 18px "Microsoft YaHei", sans-serif',
    //         },
    //     },
    //     tooltip: {
    //         trigger: 'item',
    //         formatter: "{a} <br/>{b}: {c} ({d}%)"
    //     },
    //     series: [{
    //         name: '售出进度',
    //         type: 'pie',
    //         radius: ['70%', '62%'],
    //         center: ['50%', '50%'],
    //         avoidLabelOverlap: false,
    //         color: ["#Fbd26d", "#Fdecc2"],
    //         label: {
    //             normal: {
    //                 show: false,
    //                 position: 'center'
    //             },
    //         },
    //         labelLine: {
    //             normal: {
    //                 show: true,
    //             }
    //         },
    //         itemStyle: {
    //             top: 20,
    //         },
    //         data: [{
    //                 value: 40,
    //                 name: '已售出'
    //             },
    //             {
    //                 value: 60,
    //                 name: '未售出'
    //             }
    //         ]
    //     }]
    // };
    // // 使用刚指定的配置项和数据显示图表。
    // myChart3.setOption(option);

    // var myChart4 = echarts.init(document.getElementById('invest_04'));
    // option = {
    //     backgroundColor: '#fff',
    //     grid: {
    //         left: '13%',
    //         right: '4%',
    //         bottom: '30%',
    //         // containLabel: true
    //     },
    //     graphic: {
    //         type: 'text',
    //         left: 'center',
    //         top: '45%',
    //         style: {
    //             text: '售出进度',
    //             fill: '#9bd5dc',
    //             font: 'normal 18px "Microsoft YaHei", sans-serif',
    //         },
    //     },
    //     tooltip: {
    //         trigger: 'item',
    //         formatter: "{a} <br/>{b}: {c} ({d}%)"
    //     },
    //     series: [{
    //         name: '售出进度',
    //         type: 'pie',
    //         radius: ['70%', '62%'],
    //         center: ['50%', '50%'],
    //         avoidLabelOverlap: false,
    //         color: ["#9bd5dc", "#d0edf0"],
    //         label: {
    //             normal: {
    //                 show: false,
    //                 position: 'center'
    //             },
    //         },
    //         labelLine: {
    //             normal: {
    //                 show: true,
    //             }
    //         },
    //         itemStyle: {
    //             top: 20,
    //         },
    //         data: [{
    //                 value: 40,
    //                 name: '已售出'
    //             },
    //             {
    //                 value: 60,
    //                 name: '未售出'
    //             }
    //         ]
    //     }]
    // };
    // // 使用刚指定的配置项和数据显示图表。
    // myChart4.setOption(option);
</script>