<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>投资专区-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/matters.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/css/layui.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <header></header>
    <div class="banner"></div>
    <div class="xlmatters_navbar">
        <div class="navbar">
            <div class="navbar_div">
                <ul class="navbar_ul clearfloat">
                    <li class="choose_01">全部</li>
                    <li>鑫火</li>
                    <li>鑫享</li>
                    <li>鑫周期</li>
                    <li>鑫远</li>
                </ul>
                <div class="navbar_content">
                    <ul class="rate_ul clearfloat">
                        <li class="choose_02">全部年化率</li>
                        <li><a href="" class="choose_02">低于8%</a></li>
                        <li>8%-10%</li>
                        <li>10%-12%</li>
                        <li>大于12%</li>
                    </ul>
                    <ul class="day_ul clearfloat">
                        <li class="choose_02">全部周期</li>
                        <li>7天</li>
                        <li>14天</li>
                        <li>28天</li>
                        <li>30天</li>
                        <li>60天</li>
                        <li>90天</li>
                    </ul>
                    <ul class="deadline_ul clearfloat">
                        <li class="choose_02">全部到期还款</li>
                        <li>等额本息</li>
                        <li>一次性本息</li>
                        <li>按周等额本息</li>
                        <li>先息后本</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="xlmatters_content">
        <ul class="xlmatters_mark clearfloat">
            <li class="xllist_item clearfloat">
                <div class="xlmark_badge">这是傻虎</div>
                <div class="xllist_item_left">
                    <div class="xllist_item_left_title">鑫火001期</div>
                    <div class="xllist_item_left_text">
                        <p>13
                            <span>%</span>
                        </p>
                        <span>年化率</span>
                    </div>
                </div>
                <div class="xllist_item_right clearfloat">
                    <div class="xllist_item_right_content">
                        <div class="xllist_item_layout clearfloat">
                            <p class="xllist_item_day">14
                                <span>天</span>
                                <br>
                                <span>投资周期</span>
                            </p>
                            <p class="xllist_item_money">100000
                                <span>元</span>
                                <br>
                                <span>剩余可投</span>
                            </p>
                        </div>
                        <div class="xllist_item_progress clearfloat">
                            <div class="xlmatters_progress_bg">
                                <div class="progress_01" style="width:60%"></div>
                            </div>
                            <div class="progress_text">已投：
                                <span>0.00</span>%</div>
                        </div>
                    </div>
                    <div class="xlinvest">
                        <a href="跳到标的详情">立即投资</a>
                    </div>
                </div>
            </li>
            <li class="xllist_item">
                <div class="xllist_item_left">
                    <div class="xllist_item_left_title">鑫火001期</div>
                    <div class="xllist_item_left_text">
                        <p>13
                            <span>%</span>
                        </p>
                        <span>年化率</span>
                    </div>
                </div>
                <div class="xllist_item_right clearfloat">
                    <div class="xllist_item_right_content">
                        <div class="xllist_item_layout clearfloat">
                            <p class="xllist_item_day">14
                                <span>天</span>
                                <br>
                                <span>投资周期</span>
                            </p>
                            <p class="xllist_item_money">100000
                                <span>元</span>
                                <br>
                                <span>剩余可投</span>
                            </p>
                        </div>
                        <div class="xllist_item_progress clearfloat">
                            <div class="xlmatters_progress_bg">
                                <div class="progress_01" style="width:60%"></div>
                            </div>
                            <div class="progress_text">已投：
                                <span>0.00</span>%</div>
                        </div>
                    </div>
                    <div class="xlinvest">
                        <a href="跳到标的详情">立即投资</a>
                    </div>
                </div>
            </li>
            <li class="xllist_item">
                <div class="xllist_item_left">
                    <div class="xllist_item_left_title">鑫火001期</div>
                    <div class="xllist_item_left_text">
                        <p>13
                            <span>%</span>
                        </p>
                        <span>年化率</span>
                    </div>
                </div>
                <div class="xllist_item_right clearfloat">
                    <div class="xllist_item_right_content">
                        <div class="xllist_item_layout clearfloat">
                            <p class="xllist_item_day">14
                                <span>天</span>
                                <br>
                                <span>投资周期</span>
                            </p>
                            <p class="xllist_item_money">100000
                                <span>元</span>
                                <br>
                                <span>剩余可投</span>
                            </p>
                        </div>
                        <div class="xllist_item_progress clearfloat">
                            <div class="xlmatters_progress_bg">
                                <div class="progress_01" style="width:60%"></div>
                            </div>
                            <div class="progress_text">已投：
                                <span>0.00</span>%</div>
                        </div>
                    </div>
                    <div class="xlinvest">
                        <a href="跳到标的详情">立即投资</a>
                    </div>
                </div>
            </li>
            <li class="xllist_item">
                <div class="xllist_item_left">
                    <div class="xllist_item_left_title">鑫火001期</div>
                    <div class="xllist_item_left_text">
                        <p>13
                            <span>%</span>
                        </p>
                        <span>年化率</span>
                    </div>
                </div>
                <div class="xllist_item_right clearfloat">
                    <div class="xllist_item_right_content">
                        <div class="xllist_item_layout clearfloat">
                            <p class="xllist_item_day">14
                                <span>天</span>
                                <br>
                                <span>投资周期</span>
                            </p>
                            <p class="xllist_item_money">100000
                                <span>元</span>
                                <br>
                                <span>剩余可投</span>
                            </p>
                        </div>
                        <div class="xllist_item_progress clearfloat">
                            <div class="xlmatters_progress_bg">
                                <div class="progress_01" style="width:60%"></div>
                            </div>
                            <div class="progress_text">已投：
                                <span>0.00</span>%</div>
                        </div>
                    </div>
                    <div class="xlinvest">
                        <a href="跳到标的详情">立即投资</a>
                    </div>
                </div>
            </li>
            <li class="xllist_item">
                <div class="xllist_item_left">
                    <div class="xllist_item_left_title">鑫火001期</div>
                    <div class="xllist_item_left_text">
                        <p>13
                            <span>%</span>
                        </p>
                        <span>年化率</span>
                    </div>
                </div>
                <div class="xllist_item_right clearfloat">
                    <div class="xllist_item_right_content">
                        <div class="xllist_item_layout clearfloat">
                            <p class="xllist_item_day">14
                                <span>天</span>
                                <br>
                                <span>投资周期</span>
                            </p>
                            <p class="xllist_item_money">100000
                                <span>元</span>
                                <br>
                                <span>剩余可投</span>
                            </p>
                        </div>
                        <div class="xllist_item_progress clearfloat">
                            <div class="xlmatters_progress_bg">
                                <div class="progress_01" style="width:60%"></div>
                            </div>
                            <div class="progress_text">已投：
                                <span>0.00</span>%</div>
                        </div>
                    </div>
                    <div class="xlinvest">
                        <a href="跳到标的详情">立即投资</a>
                    </div>
                </div>
            </li>
            <li class="xllist_item">
                <div class="xllist_item_left">
                    <div class="xllist_item_left_title">鑫火001期</div>
                    <div class="xllist_item_left_text">
                        <p>13
                            <span>%</span>
                        </p>
                        <span>年化率</span>
                    </div>
                </div>
                <div class="xllist_item_right clearfloat">
                    <div class="xllist_item_right_content">
                        <div class="xllist_item_layout clearfloat">
                            <p class="xllist_item_day">14
                                <span>天</span>
                                <br>
                                <span>投资周期</span>
                            </p>
                            <p class="xllist_item_money">100000
                                <span>元</span>
                                <br>
                                <span>剩余可投</span>
                            </p>
                        </div>
                        <div class="xllist_item_progress clearfloat">
                            <div class="xlmatters_progress_bg">
                                <div class="progress_01" style="width:60%"></div>
                            </div>
                            <div class="progress_text">已投：
                                <span>0.00</span>%</div>
                        </div>
                    </div>
                    <div class="xlinvest">
                        <a href="跳到标的详情">立即投资</a>
                    </div>
                </div>
            </li>
            <li class="xllist_item">
                <div class="xllist_item_left">
                    <div class="xllist_item_left_title">鑫火001期</div>
                    <div class="xllist_item_left_text">
                        <p>13
                            <span>%</span>
                        </p>
                        <span>年化率</span>
                    </div>
                </div>
                <div class="xllist_item_right clearfloat">
                    <div class="xllist_item_right_content">
                        <div class="xllist_item_layout clearfloat">
                            <p class="xllist_item_day">14
                                <span>天</span>
                                <br>
                                <span>投资周期</span>
                            </p>
                            <p class="xllist_item_money">100000
                                <span>元</span>
                                <br>
                                <span>剩余可投</span>
                            </p>
                        </div>
                        <div class="xllist_item_progress clearfloat">
                            <div class="xlmatters_progress_bg">
                                <div class="progress_01" style="width:60%"></div>
                            </div>
                            <div class="progress_text">已投：
                                <span>0.00</span>%</div>
                        </div>
                    </div>
                    <div class="xlinvest">
                        <a href="跳到标的详情">立即投资</a>
                    </div>
                </div>
            </li>
            <li class="xllist_item">
                <div class="xllist_item_left">
                    <div class="xllist_item_left_title">鑫火001期</div>
                    <div class="xllist_item_left_text">
                        <p>13
                            <span>%</span>
                        </p>
                        <span>年化率</span>
                    </div>
                </div>
                <div class="xllist_item_right clearfloat">
                    <div class="xllist_item_right_content">
                        <div class="xllist_item_layout clearfloat">
                            <p class="xllist_item_day">14
                                <span>天</span>
                                <br>
                                <span>投资周期</span>
                            </p>
                            <p class="xllist_item_money">100000
                                <span>元</span>
                                <br>
                                <span>剩余可投</span>
                            </p>
                        </div>
                        <div class="xllist_item_progress clearfloat">
                            <div class="xlmatters_progress_bg">
                                <div class="progress_01" style="width:60%"></div>
                            </div>
                            <div class="progress_text">已投：
                                <span>0.00</span>%</div>
                        </div>
                    </div>
                    <div class="xlinvest">
                        <a href="跳到标的详情">立即投资</a>
                    </div>
                </div>
            </li>
            <li class="xllist_item">
                <div class="xllist_item_left">
                    <div class="xllist_item_left_title">鑫火001期</div>
                    <div class="xllist_item_left_text">
                        <p>13
                            <span>%</span>
                        </p>
                        <span>年化率</span>
                    </div>
                </div>
                <div class="xllist_item_right clearfloat">
                    <div class="xllist_item_right_content">
                        <div class="xllist_item_layout clearfloat">
                            <p class="xllist_item_day">14
                                <span>天</span>
                                <br>
                                <span>投资周期</span>
                            </p>
                            <p class="xllist_item_money">100000
                                <span>元</span>
                                <br>
                                <span>剩余可投</span>
                            </p>
                        </div>
                        <div class="xllist_item_progress clearfloat">
                            <div class="xlmatters_progress_bg">
                                <div class="progress_01" style="width:60%"></div>
                            </div>
                            <div class="progress_text">已投：
                                <span>0.00</span>%</div>
                        </div>
                    </div>
                    <div class="xlinvest">
                        <a href="跳到标的详情">立即投资</a>
                    </div>
                </div>
            </li>
            <li class="xllist_item">
                <div class="xllist_item_left soldOut_02">
                    <div class="xllist_item_left_title">鑫火001期</div>
                    <div class="xllist_item_left_text">
                        <p>13
                            <span>%</span>
                        </p>
                        <span>年化率</span>
                    </div>
                </div>
                <div class="xllist_item_right clearfloat">
                    <div class="xllist_item_right_content">
                        <div class="xllist_item_layout clearfloat soldOut_01">
                            <p class="xllist_item_day">14
                                <span>天</span>
                                <br>
                                <span>投资周期</span>
                            </p>
                            <p class="xllist_item_money">100000
                                <span>元</span>
                                <br>
                                <span>剩余可投</span>
                            </p>
                        </div>
                        <div class="xllist_item_progress clearfloat">
                            <div class="xlmatters_progress_bg">
                                <div class="progress_02"></div>
                            </div>
                            <div class="progress_text soldOut_01">已投：
                                <span>0.00</span>%</div>
                        </div>
                    </div>
                    <div class="xlinvest">
                        <input type="button" class="soldOut_02" disabled="disabled" value="已售罄">
                    </div>
                </div>
            </li>
        </ul>
        <div id="laypages_02">

        </div>
    </div>
    <footer></footer>
</body>

</html>

<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/layui.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="../../js/base.js"></script>
<script>
    // 标的点击
    $(".navbar_ul li").click(function () {
        $(this).addClass("choose_01").siblings().removeClass("choose_01");
    });
    // 年化率点击
    $(".rate_ul li").click(function () {
        $(this).addClass("choose_02").siblings().removeClass("choose_02");
    })
    // 周期点击
    $(".day_ul li").click(function () {
        $(this).addClass("choose_02").siblings().removeClass("choose_02");
    })
    // 到期还款点击
    $(".deadline_ul li").click(function () {
        $(this).addClass("choose_02").siblings().removeClass("choose_02");
    })



    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage,
            layer = layui.layer;
        laypage.render({
            elem: 'laypages_02',
            count: 100,
            theme: "#ffa21a",
        });
    });
</script>