<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>我要理财-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/help.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/matters.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/css/layui.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <!-- 尾部 -->
    <main>
        <div class="banner"></div>
        <div class="matters_middle">
            <div class="matters_list">
                <div class="matters_list01 clearfloat">
                    <div class="matters_list_title">
                        项目期限：
                    </div>
                    <ul class="matters_list_ul01">
                        <li class="choose_01">全部</li>
                        <li>0-3个月</li>
                    </ul>
                </div>
                <div class="matters_list02 clearfloat">
                    <div class="matters_list_title">
                        项目期限：
                    </div>
                    <ul class="matters_list_ul02">
                        <li class="choose_01">全部</li>
                        <li>可投资</li>
                        <li>还款中</li>
                        <li>已售罄</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="matters_bottom">
            <div class="matters_bid">
                <div class="bid_top">
                    <span>鑫手稳健</span>
                    <div class="bid_mask">新手</div>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/matters/mask_01.png" alt="">
                </div>
                <div class="bid_bottom">
                    <ul class="bid_ul">
                        <li>
                            <p class="bid_rate" style="color:#ffa21a;">13.00</p>
                            <p>年化率</p>
                        </li>
                        <li>
                            <p class="bid_date">0</p>
                            <p>投资期限</p>
                        </li>
                        <li>
                            <p class="bid_start">1000</p>
                            <p>起投金额</p>
                        </li>
                        <li>
                            <p class="bid_end">50000</p>
                            <p>项目总额</p>
                        </li>
                        <li>
                            <p class="bid_residue">50000</p>
                            <p>剩余可投</p>
                        </li>
                        <li>
                            <input type="button" value="立即投资" class="btn_01">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="matters_bid">
                <div class="bid_top">
                    <span>鑫手稳健</span>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/matters/mask_01.png" alt="">
                </div>
                <div class="bid_bottom">
                    <ul class="bid_ul">
                        <li>
                            <p class="bid_rate" style="color:#ffa21a;">13.00</p>
                            <p>年化率</p>
                        </li>
                        <li>
                            <p class="bid_date">0</p>
                            <p>投资期限</p>
                        </li>
                        <li>
                            <p class="bid_start">1000</p>
                            <p>起投金额</p>
                        </li>
                        <li>
                            <p class="bid_end">50000</p>
                            <p>项目总额</p>
                        </li>
                        <li>
                            <p class="bid_residue">50000</p>
                            <p>剩余可投</p>
                        </li>
                        <li>
                            <input type="button" value="立即投资" class="btn_01">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="matters_bid">
                <div class="bid_top">
                    <span>鑫手稳健</span>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/matters/mask_01.png" alt="">
                </div>
                <div class="bid_bottom">
                    <ul class="bid_ul">
                        <li>
                            <p class="bid_rate" style="color:#ffa21a;">13.00</p>
                            <p>年化率</p>
                        </li>
                        <li>
                            <p class="bid_date">0</p>
                            <p>投资期限</p>
                        </li>
                        <li>
                            <p class="bid_start">1000</p>
                            <p>起投金额</p>
                        </li>
                        <li>
                            <p class="bid_end">50000</p>
                            <p>项目总额</p>
                        </li>
                        <li>
                            <p class="bid_residue">50000</p>
                            <p>剩余可投</p>
                        </li>
                        <li>
                            <input type="button" value="立即投资" class="btn_01">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="matters_bid01">
                <div class="bid_top">
                    <span>鑫手稳健</span>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/matters/mask_03.png" alt="">
                </div>
                <div class="bid_bottom">
                    <ul class="bid_ul">
                        <li>
                            <p class="bid_rate" style="color:#ffa21a;">13.00</p>
                            <p>年化率</p>
                        </li>
                        <li>
                            <p class="bid_date">0</p>
                            <p>投资期限</p>
                        </li>
                        <li>
                            <p class="bid_start">1000</p>
                            <p>起投金额</p>
                        </li>
                        <li>
                            <p class="bid_end">50000</p>
                            <p>项目总额</p>
                        </li>
                        <li>
                            <p class="bid_residue">50000</p>
                            <p>剩余可投</p>
                        </li>
                        <li>
                            <input type="button" value="已售罄" class="btn_02">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="matters_bid01">
                <div class="bid_top">
                    <span>鑫手稳健</span>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/matters/mask_03.png" alt="">
                </div>
                <div class="bid_bottom">
                    <ul class="bid_ul">
                        <li>
                            <p class="bid_rate" style="color:#ffa21a;">13.00</p>
                            <p>年化率</p>
                        </li>
                        <li>
                            <p class="bid_date">0</p>
                            <p>投资期限</p>
                        </li>
                        <li>
                            <p class="bid_start">1000</p>
                            <p>起投金额</p>
                        </li>
                        <li>
                            <p class="bid_end">50000</p>
                            <p>项目总额</p>
                        </li>
                        <li>
                            <p class="bid_residue">50000</p>
                            <p>剩余可投</p>
                        </li>
                        <li>
                            <input type="button" value="已售罄" class="btn_02">
                        </li>
                    </ul>
                </div>
            </div>
            <div id="laypages_02"></div>
        </div>
    </main>
    <footer></footer>
</body>

</html>

<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/layui.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script>
    $("header").load("head.html");
    $("footer").load("footer.html");

    $(".matters_list ul li").click(function () {
        $(this).addClass("choose_01").siblings().removeClass("choose_01");
    })

    $(".matters_bid").hover(function () {
        $(this).find("img").attr("src", "http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/matters/mask_02.png");
    }, function () {
        $(this).find("img").attr("src", "http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/matters/mask_01.png");
    });

    $(".matters_bid01").hover(function () {
        $(this).find("img").attr("src", "http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/matters/mask_04.png");
    }, function () {
        $(this).find("img").attr("src", "http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/matters/mask_03.png");
    });

    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage,
            layer = layui.layer;
    laypage.render({
        elem: 'laypages_02',
        count: 100,
        theme: "#ffa21a",
    });
    });
</script>