<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>新闻中心-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/css/common.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/css/aboutUs.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/css/layui.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <div class="xlAboutUs clearfloat">
        <div class="xlAboutUs_left">
            <ul class="xlAboutUs_lful">
                <li>
                    <a href="aboutUsNew.html">公司简介</a>
                </li>
                <li>
                    <a href="javascript:;" class="xlActive">新闻中心</a>
                    <div class="add_02">-</div>
                    <ul class="news_ul">
                        <li class="xlActive" id="3">公司动态</li>
                        <li id="4">平台公告</li>
                        <li id="5">媒体动态</li>
                    </ul>
                </li>
                <li>
                    <a href="aboutUsNew.html?shuzi=2">关于我们</a>
                </li>
            </ul>
        </div>
        <div class="xlAboutUs_right">
            <div class="xlNews">
                <div class="xlCompany_title">
                    <p class="profile_title">NEWS CENTER</p>
                    <p class="profile_01">了解鑫路最新动态，全面掌握平台信息</p>
                    <p class="profile_03">关注鑫路，关注理财，期待您的来访</p>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div id="laypages"></div>
            </div>
            <div class="xlNews_floor">
                <div class="xlCompany_title">
                    <p class="profile_title">NEWS CENTER</p>
                    <p class="profile_01">了解鑫路最新动态，全面掌握平台信息</p>
                    <p class="profile_03">关注鑫路，关注理财，期待您的来访</p>
                </div>
                <div class="xlNews_floor_text">
                    <div class="xlNews_floor_content">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                            <span>2018-01-22</span>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                    </div>
                </div>
                <div class="xlNews_floor_text">
                    <div class="xlNews_floor_content">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                            <span>2018-01-22</span>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                    </div>
                </div>
                <div class="xlNews_floor_text">
                    <div class="xlNews_floor_content">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                            <span>2018-01-22</span>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                    </div>
                </div>
                <div class="xlNews_floor_text">
                    <div class="xlNews_floor_content">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                            <span>2018-01-22</span>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                    </div>
                </div>
                <div class="xlNews_floor_text">
                    <div class="xlNews_floor_content">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                            <span>2018-01-22</span>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                    </div>
                </div>
                <div class="xlNews_floor_text">
                    <div class="xlNews_floor_content">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                            <span>2018-01-22</span>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                    </div>
                </div>
                <div id="laypages_01"></div>
            </div>
            <div class="xlNews_media">
                <div class="xlCompany_title">
                    <p class="profile_title">NEWS CENTER</p>
                    <p class="profile_01">了解鑫路最新动态，全面掌握平台信息</p>
                    <p class="profile_03">关注鑫路，关注理财，期待您的来访</p>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div class="xlNews_text clearfloat">
                    <div class="xlNews_text_left">
                        <div class="xlNews_textItem clerfloat">
                            <div class="icon"></div>
                            <a class="profile_02">鑫路金融荣获“浙江省诚信经营示范单位”称号</a>
                        </div>
                        <a>近日,在浙江省诚信企业评选活动中,鑫路金融凭借优异的信用记录以及合规经营模式,成功荣获“浙江省诚信经营示范单位”称号。鑫路金融成立于成立于2015年3月,注册资金2千万,是一家为有金融需求的用户提供中介服务的平台。经企业家日报社和浙江信用网的征信调查和综合评定,专家评审委员会评审,鑫路金融通过并获得了此项“浙江省诚信经营示范单位”荣誉。此殊荣代表着鑫路金融的综合运营能力获得了权威机构的高度认可。此次被评选为“浙江省诚信经营示范单位”,是大众及领导给予的最高褒奖。鑫路金融定会珍惜荣誉、依法经营,全面加强质量体系、诚信体系建设,勇挑重担、创新创优,不断提高自身实力,为用户创造价值!</a>
                        <span>发布时间:2018-01-16 11:10:47</span>
                    </div>
                    <div class="xlNews_text_right">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/aboutUs/new.png">
                    </div>
                </div>
                <div id="laypages_02"></div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/js/base.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/layui.js"></script>
<script>
    var number = 0;
    $(".xlAboutUs_lful>li>div").click(function () {
        $(".news_ul").slideToggle();
        if (number % 2 == 0) {
            $(this).text("+");
        } else {
            $(this).text("-");
        }
        number++;
    });

    // 新闻中心切换
    $(".news_ul>li").click(function () {
        $(this).addClass("xlActive").siblings().removeClass("xlActive");
        $(".xlAboutUs_right>div").eq($(this).index()).show().siblings().hide();
    });


    var url = window.location;
    function getUrlParam(url, name) {
        var pattern = new RegExp("[?&amp;]" + name + "\=([^&amp;]+)", "g");
        var matcher = pattern.exec(url);
        var items = null;
        if (matcher != null) {
            try {
                items = decodeURIComponent(decodeURIComponent(matcher[1]));
            } catch (e) {
                try {
                    items = decodeURIComponent(matcher[1]);
                } catch (e) {
                    items = matcher[1];
                }
            }
        }
        return items;
    }
    var shuzi = window.getUrlParam(url, "shuzi");
    if (shuzi == 1) {
        $("#1").addClass("xlActive").parent().siblings().children("a").removeClass("xlActive");
    }
    if (shuzi == 2) {
        $("#2").addClass("xlActive").parent().siblings().children("a").removeClass("xlActive");

    }
    if (shuzi == 3) {
        $("#3").addClass("xlActive").siblings().removeClass("xlActive");
    }
    if (shuzi == 4) {
        $("#4").addClass("xlActive").siblings().removeClass("xlActive");
    }
    if(shuzi == 5){
        $("#5").addClass("xlActive").siblings().removeClass("xlActive");
    }

    // 分页
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage,
            layer = layui.layer;
        //完整功能
        laypage.render({
            elem: 'laypages',
            count: 100,
            theme: "#ffa21a",
            layout: ['prev', 'page', 'next'],
        });
        laypage.render({
            elem: 'laypages_01',
            count: 100,
            theme: "#ffa21a",
            layout: ['prev', 'page', 'next'],
        });
        laypage.render({
            elem: 'laypages_02',
            count: 100,
            theme: "#ffa21a",
            layout: ['prev', 'page', 'next'],
        });
    });
</script>