<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>意见反馈-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/newVersion/css/common.css">
    <link rel="stylesheet" href="../../css/opinion.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <div class="xlOpinion">
        <form class="xlOpinion_content" action="" method="">
            <div class="xlOpinion_top">
                <p>
                    <span>意见反馈</span>&#x3000;尊敬的用户：为了给您更好的服务，请详细描述您的问题或建议，我们将及时跟进解决，不断优化产品！</p>
            </div>
            <div class="xlOpinion_middle">
                <div class="xlOpinion_phone clearfloat">
                    <label>请输入您的手机号：</label>
                    <input type="number" minlength="11" maxlength="11">
                    <div class="error_01">
                        <p></p>
                    </div>
                </div>
                <div class="xlOpinion_type clearfloat">
                    <label>请选择反馈类型：</label>
                    <div class="deal">
                        <input type="radio" id="refer" name="type">
                        <span>咨询</span>
                    </div>
                    <div class="deal">
                        <input type="radio" name="type" id="proposal">
                        <span>建议</span>
                    </div>
                    <div class="deal">
                        <input type="radio" name="type" id="complaint">
                        <span>投诉</span>
                    </div>
                    <div class="deal">
                        <input type="radio" name="type" id="else">
                        <span>其他</span>
                    </div>
                    <div class="error_02">
                        <p></p>
                    </div>
                </div>
                <div class="xlOpinion_details">
                    <textarea name="details" id="details" cols="100" rows="10" maxlength="500" placeholder="请输入您的反馈内容"></textarea>
                    <p class="words">
                        <span>0</span>/500</p>
                    <div class="error_03">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="xlOpinion_bottom">
                <div class="state">
                    <p>辅助说明</p>
                    <div class="chooseImg">
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/opinion/add.png">
                        <input type="file">
                        <div class="delete"></div>
                    </div>
                </div>
                <div class="tickling">
                    <label for="">请选择回复方式:</label>
                    <input type="radio" name="reply" checked>
                    <span>电话回复&#x3000;</span>
                    <input type="radio" name="reply">
                    <span>不要回复</span>
                </div>
                <button type="submit" value="提交">提交</button>
            </div>
        </form>
        <!-- 遮罩层 -->
        <div class="mask"></div>
        <!-- 登录弹窗 -->
        <div class="login_mask">
            <div class="login_mask_top  clearfloat">
                <p>意见反馈</p>
                <span class="close_btn">×</span>
            </div>
            <p>客服正在处理您的意见反馈</p>
            <button>返回首页</button>
        </div>
    </div>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<!-- <script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script> -->
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>
<script>
    // 字数判断
    $(document).ready(function () {
        $("#details").keyup(function () {
            var str = $("#details").val();
            var length = $("#details").val().length;
            var len = 0;
            for (var i = 0; i < length; i++) {
                if (str.charCodeAt(i) > 255) {
                    len += 1;
                } else {
                    len += 0.5;
                }
            }
            var result = Math.ceil(len);
            $(".words>span").html(result)
        })
    })

    // 上传图片
    function clickFile() {
        var aImg = $('.chooseImg img');
        for (var i = 0; i < aImg.length; i++) {
            aImg[i].onclick = function () {
                this.nextElementSibling.click();
            }
        }
        var aInput = $('.chooseImg input[type=file]')
        for (var i = 0; i < aInput.length; i++) {
            aInput[i].onchange = function () {
                var file = this.files[0];
                if (file.type.startsWith('image')) {
                    this.previousElementSibling.src = URL.createObjectURL(file);
                } else {
                    alert('只能上传图片');
                }
            }
        }
    }
    clickFile();

    // 删除图片
    $(".delete").click(function () {
        $(".chooseImg img").attr("src",
            "http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/opinion/add.png");
        $(this).stop().animate({
            opacity: 0,
        }, )
    })
    var number = 0
    if (number % 2 == 0) {
        $(".chooseImg").mouseenter(function () {
            $(".delete").stop().animate({
                opacity: 1,
            })
        })
        $(".chooseImg ").mouseleave(function () {
            $(".delete").stop().animate({
                opacity: 0,
            })
        })
    } else {
        $(".chooseImg ").mouseenter(function () {
            $(".delete").stop().animate({
                opacity: 1,
            })
        })
        $(".chooseImg ").mouseleave(function () {
            $(".delete").show().stop().animate({
                opacity: 0,
            })
        })
    }

    $(".xlOpinion_phone>input").focus(function () {
        $(".error_01>p").html("");
    });

    $(".deal>input").change(function () {
        $(".error_02>p").html("");
    });

    $("textarea").focus(function () {
        $(".error_03>p").html("");
    });

    $("form").submit(function () {
        if ($(".xlOpinion_phone>input").val() == "") {
            $(".error_01>p").html("请输入您的手机号码");
            return false;
        } else if ($(".xlOpinion_phone>input").val().length < 11) {
            $(".error_01>p").html("请输入11位手机号码");
            return false;
        } else if ($(".deal>input").is(':checked') == false) {
            $(".error_02>p").html("请选择反馈类型");
            return false;
        } else if ($("textarea").val() == "") {
            $(".error_03>p").html("请输入您的反馈内容");
            return false;
        } else {
            return true;
        }
    })

    // 关闭弹窗
    $(".close_btn").click(function () {
        $(".mask").hide();
        $(".login_mask").hide();
    });

    // 意见反馈弹窗
    function idea(){
        $(".mask").show();
        $(".login_mask").show();
    }
</script>