<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>确认付款</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css">
    <link rel="stylesheet" href="../../css/payMoney.css">
    <!-- <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/payMoney.css"> -->
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <header></header>
    <main>
        <div class="payContent">
            <div class="payTitle">
                <p>确认支付信息</p>
            </div>
            <div class="payDetail">
                <ul class="payUl clearfloat">
                    <li>
                        <span>投资金额：</span>
                        <span class="payMoney">1000元</span>
                        <a href="" style="color:#67b8e9;padding-left:30px;">修改</a>
                    </li>
                    <li>
                        <span>项目名称：</span>
                        <span class="payname">鑫手标xxx期</span>
                    </li>
                    <li>
                        <span>真实姓名：</span>
                        <span class="realname">xxx</span>
                    </li>
                    <li>
                        <span>预期年化收益：</span>
                        <span class="income_01">8.5%</span>
                    </li>
                    <li>
                        <span>身份证号:</span>
                        <span class="idcard">3**************665</span>
                    </li>
                    <li>
                        <span>预期总收益：</span>
                        <span class="income_02">39.13元</span>
                    </li>
                    <li>
                        <span>手机号码：</span>
                        <span class="mobile">150****8006</span>
                    </li>
                    <li>
                        <span>理财期限：</span>
                        <span class="date">167天</span>
                    </li>
                </ul>
                <div class="deal">
                    <input type="checkbox" id="deal_input" checked>
                    <label for="deal_input"> </label>
                    <span style="color:#666;">我同意按如下
                        <a href="" style="color:#65b9ed">《借款协议范本》</a>的格式和条款生成的借款协议</span>
                </div>
            </div>
            <div class="payBottom">
                <form action="" class="payForm">
                    <div style="margin-bottom:20px;">
                        <label>使用账户金额：</label>
                        <input type="text" class="userMoney">
                        <label style="padding-left:30px;">账户余额:</label>
                        <span class="balance">13.05</span>
                    </div>
                    <div>
                        <label>使用红包余额：</label>
                        <select name="" id="">
                            <option value="">红包余额</option>
                        </select>
                    </div>
                    <input type="button" value="确认支付" class="pay_btn">
                </form>
            </div>
        </div>
    </main>
    <footer></footer>

    <!-- 遮罩效果 -->
    <div class="mask">
        <div class="trader_password">
            <div class="trader_password_top  clearfloat">
                <p>交易密码</p>
                <span class="close_btn">×</span>
            </div>
            <form action="">
                <h2>请输入交易密码</h2>
                <ul class="trader_password_ul">
                    <li class="clearfloat">
                        <div class="pwd"></div>
                        <input type="password" name="password" class="paypwd" placeholder="请输入交易密码" minlength="6" maxlength="20">
                    </li>
                    <div class="pay_hint" style="margin-right:40px;text-align:right;color:red;">
                            <p></p>
                        </div>
                </ul>
            </form>
            <div class="error_01">
                <p></p>
            </div>
            <div class="trader_password_bottom">
                <input type="button" value="确定"><br>
                <a>忘记交易密码</a>
            </div>
        </div>
        <div class="complete" >
            <div class="complete_top  clearfloat">
                <p>交易密码</p>
                <span class="close_btn">×</span>
            </div>
            <div class="complete_bottom">
                <h2>投资成功</h2>
                <div class="pay_btn01"><a href="javascript:;">继续投资</a></div>
                <div class="pay_btn02"><a href="javascript:;">查看记录</a></div>
            </div>
        </div> 
    </div>
</body>

</html>

<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>
<script>
    $(".pay_btn").click(function(){
        $(".mask").show();
        $(".trader_password").show();
    })

    $(".close_btn").click(function(){
        $(".mask").hide();
        $(".trader_password").hide();
    })

    $(".trader_password_bottom").click(function(){
        $(".complete").show();
        $(".trader_password").hide();
    })

    // 未同意注册协议
    $("#deal_input").click(function () {
        var ii = $("input[type='checkbox']").prop("checked");
        if (ii === true) {
            $(".pay_btn").css("background-color", "#fe9c1c").removeAttr("disabled");
        } else if (ii === false) {
            $(".pay_btn").css({"background-color":"#ccc","border":"none"}).attr("disabled", "disabled");
        };
    });
</script>