<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>个人中心-鑫路金融官网</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/account.css">
    <link rel="stylesheet" href="../../css/property.css">
    <link rel="stylesheet" href="../../css/information.css">
    <link rel="stylesheet" href="../../css/redPaket.css">
    <link rel="stylesheet" href="../../css/friends.css">
    <link rel="stylesheet" href="../../css/messages.css">
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <main class="personal_center clearfloat">
        <!-- 个人中心左侧 -->
        <div class="personal_center_left">
            <!-- 认证 -->
            <div class="person_message">
                <img src="../../images/personal/avatar.png">
                <p>150XXXXXX56</p>
                <div class="verify">
                    <img src="../../images/personal/phone_01.png">
                    <img src="../../images/personal/approve_01.png">
                    <img src="../../images/personal/id_card_01.png">
                    <img src="../../images/personal/email_01.png">
                </div>
                <div class="approve_load">
                    <div class="loading" style="width:25%"></div>
                </div>
                <div class="data_progress">
                    <span>资料完成度</span>
                    <span>25%</span>
                </div>
            </div>
            <!-- 左侧选项卡 -->
            <div>
                <ul class="personal_left_ul clearfloat">
                    <li class="personal_left_ul_active">账户总览</li>
                    <li>资产记录</li>
                    <li>个人资料</li>
                    <li>我的红包</li>
                    <li>推荐好友</li>
                    <li>消息管理</li>
                </ul>
            </div>
        </div>
        <!-- 个人中心右侧 -->
        <div class="personal_center_right">
            <!-- 账户总览 -->
            <ul class="account">
                <!-- 账户总览页面 -->
                <li class="account_page">
                    <!-- 账户总览头部 -->
                    <div class="account_page_top clearfloat">
                        <div class="account_page_top_left">
                            <p class="total_money">0.00</p>
                            <span>总资产（元）</span>
                            <img src="../../images/personal/total_img.png" title="总资产" class="total_img">
                        </div>
                        <div class="account_page_top_right clearfloat">
                            <div class="income01">
                                <p>0.00</p>
                                <p>累计收益</p>
                            </div>
                            <div class="balance02">
                                <p>0.00</p>
                                <p>可用余额</p>
                            </div>
                            <div class="rechargr_withdraw01">
                                <div class="rechargr_btn">
                                    <p>充值</p>
                                    <div class="arrows_01"></div>
                                </div>
                                <div class="withdraw_btn tx_btn">
                                    <p>提现</p>
                                    <div class="arrows_02"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 账户总览中间 -->
                    <div class="account_page_middle">
                        <div class="assets_left" id="main"></div>
                        <div class="assets_right">
                            <div class="assets_right_top">
                                <div class="lay_money">
                                    <p>0.00</p>
                                    <p>投资进行中总额</p>
                                </div>
                                <div class="earnings_money">
                                    <p>0.00</p>
                                    <p>赚取收益</p>
                                </div>
                            </div>
                            <ul class="assest_ul clearfloat">
                                <li>
                                    <img src="../../images/personal/wait.png" alt="">
                                    <span>待收总额:</span>
                                    <span>0.00</span>
                                </li>
                                <li>
                                    <img src="../../images/personal/yellow.png" alt="">
                                    <span>可提现余额:</span>
                                    <span>0.00</span>
                                </li>
                                <li>
                                    <img src="../../images/personal/frost.png" alt="">
                                    <span>冻结金额:</span>
                                    <span>0.00</span>
                                </li>
                                <li>
                                    <img src="../../images/personal/wait.png" alt="">
                                    <span>不可提现余额:</span>
                                    <span>0.00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="account_page_bottom">
                        <!-- <input type="text" id="calendar1">
                        <div id="calendar2"></div> -->
                    </div>
                </li>
                <!-- 充值页面 -->
                <li class="rechargr_page">
                    <div class="rechargr_page_top clearfloat">
                        <div class="rechargr_page_top_left">
                            <div class="rechargr_withdraw02">
                                <div class="rechargr_btn tx_btn">
                                    <p>提现</p>
                                    <div class="arrows_01"></div>
                                </div>
                                <div class="call_back">
                                    <p>返回</p>
                                    <div class="arrows_02"></div>
                                </div>
                            </div>
                        </div>
                        <div class="rechargr_page_top_right clearfloat">
                            <div class="all_money">
                                <p>0.00</p>
                                <p>总资产</p>
                            </div>
                            <div class="income02">
                                <p>0.00</p>
                                <p>累计收益</p>
                            </div>
                            <div class="balance02">
                                <p>0.00</p>
                                <p>可用余额</p>
                            </div>
                        </div>
                    </div>
                    <div class="rechargr_page_bottom clearfloat">
                        <div class="confirm_message">
                            <p>确认信息</p>
                            <div class="confirm_message01">
                                <span>身份信息</span>
                                <span>*双（3308******236）</span>
                                <br>
                            </div>
                            <div class="bank_mask">
                                <span>银行卡号</span>
                                <div class="bank_message">
                                    <div class="bank_img"></div>
                                    <div class="id_card_message">
                                        <span>**** **** **** 2766</span>
                                        <span>储蓄卡</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="recharge_money">
                            <form action="" class="recharge_money_form">
                                <p>充值金额</p>
                                <input type="text" placeholder="请输入充值金额">
                                <input type="button" value="立即充值">
                            </form>
                        </div>
                    </div>
                </li>
                <!-- 提现页面 -->
                <li class="withdraw_page">
                    <div class="withdraw_page_top clearfloat">
                        <div class="withdraw_page_top_left">
                            <div class="rechargr_withdraw03">
                                <div class="rechargr_btn">
                                    <p>充值</p>
                                    <div class="arrows_01"></div>
                                </div>
                                <div class="call_back">
                                    <p>返回</p>
                                    <div class="arrows_02"></div>
                                </div>
                            </div>
                        </div>
                        <div class="withdraw_page_top_right clearfloat">
                            <div class="all_money">
                                <p>0.00</p>
                                <p>总资产</p>
                            </div>
                            <div class="income02">
                                <p>0.00</p>
                                <p>累计收益</p>
                            </div>
                            <div class="balance02">
                                <p>0.00</p>
                                <p>可用余额</p>
                            </div>
                        </div>
                    </div>
                    <div class="rechargr_page_bottom clearfloat">
                        <div class="confirm_message">
                            <p>确认提现信息</p>
                            <div class="confirm_message02">
                                <span>身份信息</span>
                                <span>*双（3308******236）</span>
                                <br>
                            </div>
                            <div class="bank_mask02">
                                <span>提现到银行卡</span>
                                <div class="bank_message">
                                    <div class="bank_img"></div>
                                    <div class="id_card_message">
                                        <span>**** **** **** 2766</span>
                                        <span>储蓄卡</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="recharge_money">
                            <form action="" class="withdraw_money_form">
                                <p>提现金额</p>
                                <input type="text" placeholder="请输入提现金额">
                                <input type="button" value="立即提现">
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- 资产记录 -->
            <ul class="property close_ul">
                <li class="property_top">
                    <ul class="property_top_ul clearfloat">
                        <li>
                            <p>0.00</p>
                            <p>待回本金(元)</p>
                        </li>
                        <li>
                            <p>0.00</p>
                            <p>代收利息</p>
                        </li>
                        <li>
                            <p>0.00</p>
                            <p>累计投资</p>
                        </li>
                        <li>
                            <p>0.00</p>
                            <p>累计收益</p>
                        </li>
                    </ul>
                </li>
                <li class="property_bottom">
                    <ul class="property_bottom_ul">
                        <li class="active_01 ">理财计划</li>
                        <li>充值提现</li>
                    </ul>
                    <!-- 理财计划部分 -->
                    <div class="property_bottom_content_01">
                        <div class="property_bottom_content_top">
                            <ul class="property_bottom_content_ul">
                                <li class="active_02">持有中</li>
                                <li>以回款</li>
                            </ul>

                        </div>
                        <table class="property_table">
                            <tr style="background:#fff6e8;border:none;">
                                <td>标的名称</td>
                                <td>投资金额(元)</td>
                                <td>年化(%)</td>
                                <td>应收利息(元)</td>
                                <td>投资时间</td>
                                <td>回款时间</td>
                            </tr>
                            <tr>
                                <td>鑫手XX期</td>
                                <td>1000元</td>
                                <td>13%</td>
                                <td>33.3元</td>
                                <td>2017-11-11</td>
                                <td>2017-12-12</td>
                            </tr>
                            <tr>
                                <td>鑫手XX期</td>
                                <td>1000元</td>
                                <td>13%</td>
                                <td>33.3元</td>
                                <td>2017-11-11</td>
                                <td>2017-12-12</td>
                            </tr>
                            <tr>
                                <td>鑫手XX期</td>
                                <td>1000元</td>
                                <td>13%</td>
                                <td>33.3元</td>
                                <td>2017-11-11</td>
                                <td>2017-12-12</td>
                            </tr>
                            <tr>
                                <td>鑫手XX期</td>
                                <td>1000元</td>
                                <td>13%</td>
                                <td>33.3元</td>
                                <td>2017-11-11</td>
                                <td>2017-12-12</td>
                            </tr>
                            <tr>
                                <td>鑫手XX期</td>
                                <td>1000元</td>
                                <td>13%</td>
                                <td>33.3元</td>
                                <td>2017-11-11</td>
                                <td>2017-12-12</td>
                            </tr>
                        </table>

                        <div id="laypages"></div>
                    </div>
                    <!-- 充值提现部分 -->
                    <div class="property_bottom_content_02">
                        <div class="property_bottom_content_top">
                            <ul class="property_bottom_content_ul">
                                <li class="active_02">充值记录</li>
                                <li>提现记录</li>
                            </ul>

                        </div>
                        <table class="property_table">
                            <tr style="background:#fff6e8;border:none;">
                                <td>标的名称</td>
                                <td>投资金额(元)</td>
                                <td>年化(%)</td>
                                <td>应收利息(元)</td>
                                <td>投资时间</td>
                                <td>回款时间</td>
                            </tr>
                            <tr>
                                <td>鑫手XX期</td>
                                <td>1000元</td>
                                <td>13%</td>
                                <td>33.3元</td>
                                <td>2017-11-11</td>
                                <td>2017-12-12</td>
                            </tr>
                            <tr>
                                <td>鑫手XX期</td>
                                <td>1000元</td>
                                <td>13%</td>
                                <td>33.3元</td>
                                <td>2017-11-11</td>
                                <td>2017-12-12</td>
                            </tr>
                            <tr>
                                <td>鑫手XX期</td>
                                <td>1000元</td>
                                <td>13%</td>
                                <td>33.3元</td>
                                <td>2017-11-11</td>
                                <td>2017-12-12</td>
                            </tr>
                            <tr>
                                <td>鑫手XX期</td>
                                <td>1000元</td>
                                <td>13%</td>
                                <td>33.3元</td>
                                <td>2017-11-11</td>
                                <td>2017-12-12</td>
                            </tr>
                            <tr>
                                <td>鑫手XX期</td>
                                <td>1000元</td>
                                <td>13%</td>
                                <td>33.3元</td>
                                <td>2017-11-11</td>
                                <td>2017-12-12</td>
                            </tr>
                        </table>

                        <div id="laypages_02"></div>
                    </div>
                </li>
            </ul>
            <!-- 个人资料 -->
            <ul class="information close_ul">
                <div class="information_title">个人资料</div>
                <!-- 登录密码 -->
                <li>
                    <div class="login_password slide_up">
                        <div class="login_password_left">
                            <img src="../../images/personal/wait.png">
                            <span style="margin:0 40px 0 10px">登录密码</span>
                            <span>登录鑫路金融时需要输入的密码</span>
                        </div>
                        <div class="change_01">修改</div>
                    </div>
                    <div class="slide_down">
                        <form action="" class="login_form slide_form">
                            <ul class="login_form_ul">
                                <li>
                                    <div class="now_password"></div>
                                    <input type="password" placeholder="请输入现在的密码" class="now_password_input">
                                </li>
                                <li>
                                    <div class="new_password1"></div>
                                    <input type="password" placeholder="请输入新密码" class="new_password_input1">
                                </li>
                                <li>
                                    <div class="new_password2"></div>
                                    <input type="password" placeholder="确认新密码" class="new_password_input2">
                                </li>
                            </ul>
                            <input type="button" value="确认修改" class="affirm_btn1">
                        </form>
                    </div>
                </li>
                <!-- 交易密码 -->
                <li>
                    <div class="login_password login_password_acgtive">
                        <div class="login_password_left">
                            <img src="../../images/personal/frost.png">
                            <span style="margin:0 40px 0 10px">交易密码</span>
                            <span>请定期更换交易密码，并确保交易密码设置与登录密码不同</span>
                        </div>
                        <div class="change_01">修改</div>
                    </div>
                    <div class="slide_down">
                        <form action="" class="login_form slide_form">
                            <ul class="login_form_ul">
                                <li>
                                    <div class="now_password"></div>
                                    <input type="password" placeholder="请输入现在的支付密码" class="deal_password_input">
                                </li>
                                <li>
                                    <div class="new_password1"></div>
                                    <input type="password" placeholder="请输入新交易密码" class="deal_password_input1">
                                </li>
                                <li>
                                    <div class="new_password2"></div>
                                    <input type="password" placeholder="确认新交易密码" class="deal_password_input2">
                                </li>
                            </ul>
                            <div class="affirm_div">
                                <input type="button" value="确认修改" class="affirm_btn2">
                                <a href="">忘记交易密码？</a>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- 实名认证 -->
                <li>
                    <div class="login_password login_password_acgtive">
                        <div class="login_password_left">
                            <img src="../../images/personal/yellow.png">
                            <span style="margin:0 40px 0 10px">实名认证</span>
                            <span>投资前需要通过公安部实名认证系统才能投资！请先认证</span>
                        </div>
                        <div class="change_01">修改</div>
                    </div>
                    <div class="slide_down">
                        <form action="" class="approve_form slide_form">
                            <ul class="approve_ul clearfloat">
                                <li>
                                    <div class="real_user"></div>
                                    <input type="password" placeholder="请输入真实姓名" class="real_name">
                                </li>
                                <li>
                                    <div class="id_card"></div>
                                    <input type="text" placeholder="请输入身份证号码" class="idCard_input">
                                </li>
                                <li>
                                    <div class="bank_card"></div>
                                    <input type="text" placeholder="请输入银行卡号码" class="bank_input">
                                </li>
                                <li>
                                    <select name="" id="">
                                        <option selected="selected">选择所属银行</option>
                                    </select>
                                </li>
                                <li>
                                    <div class="code"></div>
                                    <input type="text" cla placeholder="请输入验证码" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                                </li>
                                <div class="code_div02">获取验证码</div>
                            </ul>
                            <div class="register_end">
                                <input type="button" class="gift_btn" value="完成领取红包 ">
                            </div>
                        </form>
                    </div>
                </li>
                <!-- 手机号码 -->
                <li>
                    <div class="login_password login_password_acgtive">
                        <div class="login_password_left">
                            <img src="../../images/personal/no_with.png">
                            <span style="margin:0 40px 0 10px">手机号码</span>
                            <span>150****5556</span>
                        </div>
                        <div class="change_01">修改</div>
                    </div>
                    <div class="slide_down">
                        <div class="phone_text">
                            <p>手机号码牵扯到你的
                                <b>账户资金安全</b>
                            </p>
                            <p>如
                                <b>确认修改</b>，请联系客服（客服时间：周一至周五 9:00-18:00）</p>
                            <p>客服热线：
                                <b>400-807-0808</b>
                            </p>
                        </div>
                    </div>
                </li>
                <!-- 银行卡 -->
                <li>
                    <div class="login_password login_password_acgtive">
                        <div class="login_password_left">
                            <img src="../../images/personal/wait.png">
                            <span style="margin:0 40px 0 10px">银行卡</span>
                            <span>请先实名认证并绑定银行卡</span>
                        </div>
                        <div class="change_01">修改</div>
                    </div>
                    <div class="slide_down">
                        <div class="phone_text">
                            <p>银行卡牵扯到你的
                                <b>账户资金安全</b>
                            </p>
                            <p>如
                                <b>确认修改</b>，请联系客服（客服时间：周一至周五 9:00-18:00）</p>
                            <p>客服热线：
                                <b>400-807-0808</b>
                            </p>
                        </div>
                    </div>
                </li>
                <!-- 电子邮箱 -->
                <li>
                    <div class="login_password login_password_acgtive">
                        <div class="login_password_left">
                            <img src="../../images/personal/yellow.png">
                            <span style="margin:0 40px 0 10px">电子邮箱</span>
                            <span>绑定邮箱，轻松梳理理财信息（未绑定）</span>
                        </div>
                        <div class="change_01">修改</div>
                    </div>
                    <div class="slide_down">
                        <form action="" class="email_form">
                            <ul class="email_form_ul">
                                <li>
                                    <div class="now_password"></div>
                                    <input type="email" placeholder="请输入邮箱地址" class="email_input">
                                </li>
                            </ul>
                            <input type="button" value="提交绑定邮箱" class="affirm_btn3">
                        </form>
                    </div>
                </li>
            </ul>
            <!-- 我的红包 -->
            <ul class="redPaket close_ul">
                <li class="redPaket_top">
                    <div class="redPaket_title">我的红包</div>
                    <div class="redPaket_text">
                        <ul class="redPaket_top_ul clearfloat">
                            <li>
                                <p>0.00</p>
                                <p>可用红包(元)</p>
                            </li>
                            <li>
                                <p>0.00</p>
                                <p>过期红包</p>
                            </li>
                            <li>
                                <p>0.00</p>
                                <p>已使用红包</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="redPaket_bottom">
                    <ul class="redPaket_bottom_ul clearfloat">
                        <li class="active_01 usable_btn">可用红包</li>
                        <li class="expire_btn">过期红包</li>
                        <li class="used_btn">已使用红包</li>
                    </ul>
                    <!-- 可用红包部分 -->
                    <div class="redPaket_bottom_content_01">
                        <!-- 可用红包 -->
                        <ul class="usable_redPaket_ul">
                            <li>
                                <div class="usable_money">
                                    <p class="usable_p01">28</p>
                                    <p class="usable_p02">投资满1000元以上可用</p>
                                    <p class="usable_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="state_ring">可用</div>
                                <div class="usable_bottom">
                                    <span class="usable_bottom_details">新手标28元</span>
                                    <span class="usable_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                            <li>
                                <div class="usable_money">
                                    <p class="usable_p01">28</p>
                                    <p class="usable_p02">投资满1000元以上可用</p>
                                    <p class="usable_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="state_ring">可用</div>
                                <div class="usable_bottom">
                                    <span class="usable_bottom_details">新手标28元</span>
                                    <span class="usable_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                            <li>
                                <div class="usable_money">
                                    <p class="usable_p01">28</p>
                                    <p class="usable_p02">投资满1000元以上可用</p>
                                    <p class="usable_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="state_ring">可用</div>
                                <div class="usable_bottom">
                                    <span class="usable_bottom_details">新手标28元</span>
                                    <span class="usable_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                            <li>
                                <div class="usable_money">
                                    <p class="usable_p01">28</p>
                                    <p class="usable_p02">投资满1000元以上可用</p>
                                    <p class="usable_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="state_ring">可用</div>
                                <div class="usable_bottom">
                                    <span class="usable_bottom_details">新手标28元</span>
                                    <span class="usable_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 过期红包部分 -->
                    <div class="redPaket_bottom_content_02">
                        <!-- 过期红包 -->
                        <ul class="expire_redPaket_ul">
                            <li>
                                <div class="expire_money">
                                    <p class="expire_p01">28</p>
                                    <p class="expire_p02">投资满1000元以上可用</p>
                                    <p class="expire_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="expire_ring">失效</div>
                                <div class="expire_bottom">
                                    <span class="expire_bottom_details">新手标28元</span>
                                    <span class="expire_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                            <li>
                                <div class="expire_money">
                                    <p class="expire_p01">28</p>
                                    <p class="expire_p02">投资满1000元以上可用</p>
                                    <p class="expire_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="expire_ring">失效</div>
                                <div class="expire_bottom">
                                    <span class="expire_bottom_details">新手标28元</span>
                                    <span class="expire_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                            <li>
                                <div class="expire_money">
                                    <p class="expire_p01">28</p>
                                    <p class="expire_p02">投资满1000元以上可用</p>
                                    <p class="expire_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="expire_ring">失效</div>
                                <div class="expire_bottom">
                                    <span class="expire_bottom_details">新手标28元</span>
                                    <span class="expire_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                            <li>
                                <div class="expire_money">
                                    <p class="expire_p01">28</p>
                                    <p class="expire_p02">投资满1000元以上可用</p>
                                    <p class="expire_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="expire_ring">失效</div>
                                <div class="expire_bottom">
                                    <span class="expire_bottom_details">新手标28元</span>
                                    <span class="expire_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 已使用红包 -->
                    <div class="redPaket_bottom_content_03">
                        <!-- 已使用红包 -->
                        <ul class="used_redPaket_ul">
                            <li>
                                <div class="used_money">
                                    <p class="used_p01">28</p>
                                    <p class="used_p02">投资满1000元以上可用</p>
                                    <p class="used_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="used_ring">已用</div>
                                <div class="used_bottom">
                                    <span class="used_bottom_details">新手标28元</span>
                                    <span class="used_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                            <li>
                                <div class="used_money">
                                    <p class="used_p01">28</p>
                                    <p class="used_p02">投资满1000元以上可用</p>
                                    <p class="used_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="used_ring">已用</div>
                                <div class="used_bottom">
                                    <span class="used_bottom_details">新手标28元</span>
                                    <span class="used_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                            <li>
                                <div class="used_money">
                                    <p class="used_p01">28</p>
                                    <p class="used_p02">投资满1000元以上可用</p>
                                    <p class="used_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="used_ring">已用</div>
                                <div class="used_bottom">
                                    <span class="used_bottom_details">新手标28元</span>
                                    <span class="used_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                            <li>
                                <div class="used_money">
                                    <p class="used_p01">28</p>
                                    <p class="used_p02">投资满1000元以上可用</p>
                                    <p class="used_p02">使用投资期限29以上标的投资</p>
                                </div>
                                <div class="used_ring">已用</div>
                                <div class="used_bottom">
                                    <span class="used_bottom_details">新手标28元</span>
                                    <span class="used_bottom_date">2017-09-22到2017-11-21</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <!-- 推荐好友 -->
            <ul class="friends close_ul">
                <li class="friends_top clearfloat">
                    <div class="friends_top_left">
                        <p style="color:#666;font-size:18px;line-height:3;padding-left:30px;">分享链接给好友</p>
                        <div class="total_award">
                            <p>累计红包奖励:</p>
                            <p>50</p>
                        </div>
                        <div class="total_person">
                            <p>累计推广人数:</p>
                            <p>1</p>
                        </div>
                        <div class="link_btn">
                            <p>复制邀请链接</p>
                            <div class="arrows_01"></div>
                        </div>
                    </div>
                    <div class="friends_top_right">
                        <p style="color:#666;font-size:18px;line-height:3;padding-left:30px;">邀请好友流程</p>
                        <ul class="friends_step_ul clearfloat">
                            <li>
                                <img src="../../images/personal/friends_01.png" alt="">
                                <p>分享链接给好友&nbsp;!</p>
                            </li>
                            <li></li>
                            <li>
                                <img src="../../images/personal/friends_02.png" alt="">
                                <p>好友通过链接注册
                                    <br>并投资</p>
                            </li>
                            <li></li>
                            <li>
                                <img src="../../images/personal/friends_03.png" alt="">
                                <p>50元红包归你了
                                    <br>红包无上限哦</p>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="friends_middle">
                    <p style="color:#666;font-size:18px;line-height:3;padding-left:30px;">邀请好友领取奖励规则</p>
                    <p style="padding-left:30px;line-height:1.8;">1.先登陆鑫路金融账户，进入我的账户，点击“邀请好友”，点击“复制推荐链接”按钮，再发送给你的好友即可。</p>
                    <p style="padding-left:30px;line-height:1.8;">2.在好友注册并首次投资成功达到1000元后，你即可获得50元推荐红包；若好友首次投资成功达到10000，红包福利可增加至100元。</p>
                    <p style="padding-left:30px;line-height:1.8;">3.以上活动鑫路金融保留法律许可范围内的解释权。</p>
                </li>
                <li class="friends_bottom">
                    <p style="color:#666;font-size:18px;line-height:3;padding-left:30px;">我的邀请记录</p>
                    <table class="friends_table">
                        <tr style="background:#fff6e8;border:none;">
                            <td>被邀请人账号</td>
                            <td>注册时间</td>
                            <td>是否投资</td>
                            <td>获得红包</td>
                        </tr>
                        <tr>
                            <td>1586887991</td>
                            <td>2017-11-11</td>
                            <td>是</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>1586887991</td>
                            <td>2017-11-11</td>
                            <td>是</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>1586887991</td>
                            <td>2017-11-11</td>
                            <td>是</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>1586887991</td>
                            <td>2017-11-11</td>
                            <td>是</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>1586887991</td>
                            <td>2017-11-11</td>
                            <td>是</td>
                            <td>50</td>
                        </tr>
                    </table>
                    <div id="laypages_03"></div>
                </li>
            </ul>
            <!-- 消息管理 -->
            <ul class="messages close_ul">
                <div class="messages_content">
                    <div class="messages_title">消息管理</div>
                    <div class="messages_text clearfloat">
                        <div class="messages_text_left">
                            <div class="e_ring">E</div>
                            <p>赠送的注册红包的套餐价值588.0元，请尽快使用以免过期作废</p>
                        </div>
                        <div class="messages_text_right">2017-09-22 11:40:58</div>
                    </div>
                    <div class="messages_text clearfloat">
                        <div class="messages_text_left">
                            <div class="m_ring">M</div>
                            <p>赠送的注册红包的套餐价值588.0元，请尽快使用以免过期作废</p>
                        </div>
                        <div class="messages_text_right">2017-09-22 11:40:58</div>
                    </div>
                    <div class="messages_text clearfloat">
                        <div class="messages_text_left">
                            <div class="a_ring">A</div>
                            <p>赠送的注册红包的套餐价值588.0元，请尽快使用以免过期作废</p>
                        </div>
                        <div class="messages_text_right">2017-09-22 11:40:58</div>
                    </div>
                </div>
            </ul>
        </div>
    </main>
    <!-- 尾部 -->
    <footer></footer>
</body>

</html>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../plugins/echarts.min.js"></script>
<script src="../../plugins/layui/layui.js"></script>
<script type="text/javascript">
    $("header").load("head.html");
    $("footer").load("footer.html");

    // 选项卡效果
    $(".personal_left_ul>li").click(function () {
        $(this).addClass("personal_left_ul_active").siblings().removeClass("personal_left_ul_active")
        $(".personal_center_right>ul").eq($(this).index()).removeClass("close_ul").siblings().addClass(
            "close_ul")
    });

    // 资产记录页面效果
    $(".property_bottom_ul>li").eq(0).click(function () {
        $(".property_bottom_content_01").show();
        $(".property_bottom_content_02").hide();
        $(this).addClass("active_01").siblings().removeClass("active_01");
    });

    $(".property_bottom_ul>li").eq(1).click(function () {
        $(".property_bottom_content_01").hide();
        $(".property_bottom_content_02").show();
        $(this).addClass("active_01").siblings().removeClass("active_01");
    });

    $(".property_bottom_content_ul>li").click(function () {
        $(this).addClass("active_02").siblings().removeClass("active_02");
    });

    // 图表
    var myChart = echarts.init(document.getElementById('main'));
    option = {
        backgroundColor: '#fff',
        title: {
            top: 10,
            text: '资产状况',
            x: 'center',
        },
        grid: {
            left: '13%',
            right: '4%',
            bottom: '30%',
            // containLabel: true
        },
        graphic:{
            type: 'text',
            left: 'center',
            top: '48%',
            style:{
                text : '总资产',
                font :'normal 16px "Microsoft YaHei", sans-serif',
            },
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b}: {c} ({d}%)"
        },
        series: [{
            name: '总资产',
            type: 'pie',
            radius: ['50%', '60%'],
            center: ['50%', '55%'],
            avoidLabelOverlap: false,
            color: ["#fbd26d", "#8ed3da", "#8ed7be", "#ff998c", ],
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
            },
            labelLine: {
                normal: {
                    show: true,
                }
            },
            itemStyle: {
                top: 20,
            },
            data: [{
                    value: 25,
                    name: '可提现余额'
                },
                {
                    value: 25,
                    name: '不可提现余额'
                },
                {
                    value: 25,
                    name: '冻结金额'
                },
                {
                    value: 25,
                    name: '待收总金额'
                }
            ]
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);

    // 点击充值按钮
    $(".rechargr_btn").click(function () {
        $(".rechargr_page").show();
        $(".account_page").hide();
        $(".withdraw_page").hide();
    })

    // 点击提现按钮
    $(".tx_btn").click(function () {
        $(".withdraw_page").show();
        $(".account_page").hide();
        $(".rechargr_page").hide();
    })

    // 点击返回按钮
    $(".call_back").click(function () {
        $(".account_page").show();
        $(".rechargr_page").hide();
        $(".withdraw_page").hide();
    })


    
    // 分页效果
    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage,
            layer = layui.layer;
        //完整功能
        laypage.render({
            elem: 'laypages',
            count: 100,
            theme: "#ffa21a",
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            // jump: function (obj) {
            //     console.log(obj)
            // }
        });

        laypage.render({
            elem: 'laypages_02',
            count: 100,
            theme: "#ffa21a",
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            // jump: function (obj) {
            //     console.log(obj)
            // }
        });
        laypage.render({
            elem: 'laypages_03',
            count: 100,
            theme: "#ffa21a",
            layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            // jump: function (obj) {
            //     console.log(obj)
            // }
        });

        // 我的红包页面
        $(".redPaket_bottom_ul>li").click(function () {
            $(this).addClass("active_01").siblings().removeClass("active_01");
        });
        // 点击可用红包
        $(".usable_btn").click(function () {
            $(".redPaket_bottom_content_01").show();
            $(".redPaket_bottom_content_02").hide();
            $(".redPaket_bottom_content_03").hide();
        });
        // 点击过期红包
        $(".expire_btn").click(function () {
            $(".redPaket_bottom_content_01").hide();
            $(".redPaket_bottom_content_02").show();
            $(".redPaket_bottom_content_03").hide();
        });
        // 点击已使用红包
        $(".used_btn").click(function () {
            $(".redPaket_bottom_content_01").hide();
            $(".redPaket_bottom_content_02").hide();
            $(".redPaket_bottom_content_03").show();
        });

        // 我的资料
        $(".change_01").click(function () {
            if ($(this).parent().next().css("display") == "none") {
                $(this).text("收起");
                $(this).parent().next().addClass("border_radius");
                $(this).parent().addClass("border_bottom").removeClass("slide_up");
            } else if ($(this).parent().next().css("display") == "block") {
                $(this).text("修改");
                $(this).parent().removeClass("border_bottom").addClass("slide_up");
            }
            $(this).parent().next().slideToggle("slow");
        });
        $(".slide_form>ul>li").click(function () {
            $(this).attr("id", "active").siblings().removeAttr("id", "active");
        });
        $(".slide_form>ul>li").click(function () {
            $(this).attr("id", "active").siblings().removeAttr("id", "active");
        })

    })
</script>

<script>
</script>