<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>鑫路金融 银行资金存管 值得信赖的短期理财平台</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/index.css">
    <link rel="stylesheet" href="../../css/productDetails.css">
    <!-- <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/productDetails.css"> -->
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/css/layui.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <!-- 主体 -->
    <div class="content">
        <!-- 顶部 -->
        <div class="content_top clearfloat">
            <!-- 项目左侧展示 -->
            <div class="content_top_left">
                <div style="height:175px;border-bottom:1px solid #e4e4e4;">
                    <p class="series_text">鑫火稳健</p>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/content_top.png" class="series_mark">
                    <div class="series_middle">
                        <div>
                            <p class="series_middle_p1"><span>13.00</span>%</p>
                            <p class="series_middle_p4">年化率</p>
                        </div>
                        <div style="margin:0 90px 0 95px;">
                            <p class="series_middle_p2"><span>0</span>天</p>
                            <p class="series_middle_p4">投资期限</p>
                        </div>
                        <div>
                            <p class="series_middle_p3"><span>1000</span>元</p>
                            <p class="series_middle_p4">年化率</p>
                        </div>
                    </div>
                </div>
                <div class="content_top_left_bottom">
                    <ul class="content_ul_01">
                        <li>还款方式：到期还本付息</li>
                        <li style="margin:0 100px">发布日期：2017-09-30</li>
                        <li>起息时间：满标计算</li>
                    </ul>
                    <br>
                    <ul class="content_ul_01">
                        <li>交易进度：</li>
                        <li style="margin:0 10px">
                            <div class="progress">
                                <div class="progress_width" style="width:80%"></div>
                            </div>
                        </li>
                        <li>已售80%</li>
                    </ul>
                </div>
            </div>
            <!-- 项目右侧 -->
            <div class="content_top_right">
                <div class="content_top_right_div_01">
                    <div>
                        <span>剩余可投：</span>
                        <span>10000.00</span>
                        <span style="margin-right:45px;">元</span>
                    </div>
                    <div>
                        <span>起投金额：</span>
                        <span style="color:#ff9b0c;">100</span>
                    </div>   
                </div>
                <div class="content_top_right_div_01">
                    <span>账户余额：</span>
                    <a href="login.html">登录</a>或
                    <a href="register.html">注册</a>时可看
                </div>
                <form action="">
                    <input type="text" class="invest_money" placeholder="请输入投资金额">
                    <input type="button" class="invest_btn" value="立即投资">
                </form>
            </div>
        </div>
        <!-- 底部 -->
        <div class="content_main">
            <ul class="content_main_ul clearfloat">
                <li class="product_btn active">项目详情</li>
                <li class="flow_btn">资产流向</li>
                <li class="record_btn">投资记录</li>
            </ul>
            <!-- 项目详情部分 -->
            <div class="prooject_details">
                <!-- 项目简介 -->
                <div class="introduce">
                    <i></i>
                    <span>项目简介</span>
                    <p>该项目是鑫路金融定期理财产品“xxx”的三大计划之一，该计划兼具收益稳健、流动性强的特点，适合平台大部分投资人。加入月盈计划后，系统将自动进行项目匹配，资金分散至多个优质借款人。该计划有效投资满15天可进行债权转让。</p>
                </div>
                <!-- 业务流程 -->
                <div class="step">
                    <i></i>
                    <a>业务流程</a>
                    <div class="step_img">
                    </div>
                </div>
                <!-- 还款来源 -->
                <div class="introduce">
                    <i></i>
                    <a>还款来源</a>
                    <div class="introduce_text">
                        <p>第一还款来源：借款人自有资金；</p>
                        <p>第二还款来源：借款人亲属及好友等协助还款；</p>
                        <p>第三还款来源：资金担保方还款。</p>
                    </div>
                </div>
                <!-- 风控措施 -->
                <div class="risk">
                    <i></i>
                    <a>风控措施</a>
                    <ul class="risk_ul clearfloat">
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/productDetail/risk_01.png">
                            <!-- <p>上海银行存管</p> -->
                        </li>
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/productDetail/risk_02.png" style="margin-top:15px;">
                            <p>项目小额分散</p>
                        </li>
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/productDetail/risk_03.png" style="margin-top:18px;">
                            <p>钱员外信审核查</p>
                        </li>
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/productDetail/risk_04.png" style="margin-top:18px;">
                            <p>鑫路金融风控复审</p>
                        </li>
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/productDetail/risk_05.png" style="margin-top:28px;">
                            <p>合法合规经营</p>
                        </li>
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/productDetail/risk_06.png" style="margin-top:23px;">
                            <p>数据安全加密</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="money_flow">
                <i></i>
                <span>资金流向</span>
                <p>注：项目信息将以用户投资后实际匹配为准</p>
                <table>
                    <tr id="head_style">
                        <td>项目编号</td>
                        <td>借款人</td>
                        <td>借款周期（天）</td>
                        <td>借款用途</td>
                        <td>借款总额（元）</td>
                    </tr>
                    <tr>
                        <td>0001</td>
                        <td>张xx</td>
                        <td>14</td>
                        <td>短期周转</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>0002</td>
                        <td>李xx</td>
                        <td>14</td>
                        <td>短期周转</td>
                        <td>1000</td>
                    </tr>
                </table>
                <div id="laypages"></div>
            </div>
            <div class="invest_record">
                <i></i>
                <span>投资记录</span>
                <table>
                    <tr>
                        <td>投资人</td>
                        <td>有效投标金额</td>
                        <td>投标时间</td>
                    </tr>
                    <tr>
                        <td>******0820</td>
                        <td>2588元</td>
                        <td>2017-10-03 17:14:38</td>
                    </tr>
                    <tr>
                        <td>******0820</td>
                        <td>2588元</td>
                        <td>2017-10-03 17:14:38</td>
                    </tr>
                    <tr>
                        <td>******0820</td>
                        <td>2588元</td>
                        <td>2017-10-03 17:14:38</td>
                    </tr>
                    <tr>
                        <td>******0820</td>
                        <td>2588元</td>
                        <td>2017-10-03 17:14:38</td>
                    </tr>
                </table>
                <div id="laypages_02"></div>
            </div>
        </div>
    </div>

    <!-- 尾部 -->
    <footer></footer>

    <!-- 遮罩层 -->
    <div class="mask"></div>
    <!-- 登录弹窗 -->
    <div class="login_mask">
        <div class="login_mask_top  clearfloat">
            <p>登录注册</p>
            <span class="close_btn">×</span>
        </div>
        <p>您还未登录！</p>
        <button>立即登录</button>
    </div>
    <!-- 未实名认证弹窗 -->
    <div class="approve_mask">
        <div class="approve_mask_top  clearfloat">
            <p>实名认证消息</p>
            <span class="close_btn">×</span>
        </div>
        <p>您还未实名认证！</p>
        <a>用户需认证绑定银行卡后才可投资</a>
        <button>立即认证</button>
    </div>
</body>

</html>

<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/layui.js"></script>
<script>
    // 鑫火稳健
    $('.content_top_left').hover(function () {
        $(".series_mark").attr("src", "http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/content_top_01.png");
    }, function () {
        $(".series_mark").attr("src", "http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/content_top.png");
    });

    $(".close_btn").click(function () {
        $(".mask").hide();
        $(".approve_mask").hide();
        $(".login_mask").hide();
    });

    $(".content_main_ul>li").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
        $(".content_main>div").eq($(this).index()).show().siblings("div").hide();
    })

    layui.use(['laypage', 'layer'], function () {
        var laypage = layui.laypage,
            layer = layui.layer;
        laypage.render({
            elem: 'laypages',
            count: 100,
            theme: "#ffa21a",
        });
        laypage.render({
            elem: 'laypages_02',
            count: 100,
            theme: "#ffa21a",
        });
    });
</script>