<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>真实标</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/bid.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/swiper/swiper.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <headder></headder>
    <div class="xlbid_top">
        <div class="xlbid_content clearfloat">
            <!-- 左侧标的 -->
            <div class="xlsign">
                <div class="xlsign_top">
                    <p class="title">鑫火001期</p>
                </div>
                <div class="xlsign_bottom">
                    <div class="xlsign_middle">
                        <ul class="xlsign_middle_ul clearfloat">
                            <li>
                                <p class="sold">13
                                    <span>%</span>
                                </p>
                                <p>年化率</p>
                            </li>
                            <li>
                                <p>14
                                    <span>天</span>
                                </p>
                                <p>投资周期</p>
                            </li>
                            <li>
                                <p>100
                                    <span>元</span>
                                </p>
                                <p>起投金额</p>
                            </li>
                            <li>
                                <p>按周等额本息</p>
                                <p>还款方式</p>
                            </li>
                        </ul>
                    </div>
                    <div class="xlsign_progress clearfloat">
                        <div style="height:21px;">
                            <div class="xlsign_progress_bg">
                                <div class="progress_01" style="width:75%"></div>
                                <!-- 售罄状态 -->
                                <!-- <div class="progress_02"></div> -->
                            </div>
                            <div class="progress_text">已投：
                                <span>0.00</span>%
                            </div>
                        </div>
                        <div class="xlsign_totalMoney">融资金额：
                            <span>100000</span>
                        </div>
                        <div class="xlsign_residue">剩余可投：
                            <span>50000</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 未登录状态 -->
            <div class="xlnoLogin">
                <div class="xlnoLogin_state">
                    <a href="跳转到登录" class="login_btn">登录</a>
                    <a href="跳转到注册" class="register_btn">注册</a>
                    <p style="color:#999;">登录后查看详情</p>
                </div>
            </div>
            <!-- 登录状态 -->
            <div class="xlLogin" style="display:none;">
                <!-- 投资中 -->
                <div class="residue_money">剩余可投：
                    <span>120125</span>元</div>
                <div class="clearfloat">
                    <input type="text" class="input_money" placeholder="请输入金额">
                    <div class="earnings">预计收益：
                        <span class="sold">120</span>
                    </div>
                    <div class="balance">可用余额：
                        <span class="sold">10000000</span>
                    </div>
                </div>
                <div class="xlLogin_invest">
                    <a href="跳转到投资页" class="invest_btn">立即投资</a>
                </div>
                <!-- 已售罄 -->
                <!-- <div class="residue_money">剩余可投：<span>120125</span>元</div>
                <div class="clearfloat">
                    <input type="text" class="input_money" placeholder="请输入金额" disabled="disabled">
                </div>
                <div class="xlLogin_invest">
                    <a href="javascpipt:;" class="invest_btn soldOut_02">已售罄</a>
                </div> -->
            </div>
        </div>
    </div>
    <div class="xlbid_bottom">
        <div class="xlitem_top">
            <ul class="xlitem_ul clearfloat">
                <li>
                    <span class="antherborder">项目详情</span>
                </li>
                <li>
                    <span>借款人信息</span>
                </li>
                <li>
                    <span>投资记录</span>
                </li>
            </ul>
        </div>
        <div class="xldetails">
            <!-- 项目详情 -->
            <div class="xldetails_content">
                <!-- 项目介绍 -->
                <div class="item_introduce">
                    <p class="item_title">项目介绍</p>
                    <p class="item_text">
                        <span class="title"></span>是鑫路金融推出的快速理财工具。经由出借人授权，可帮助出借人分散投资、节省投资成本，从而实现快速 理财。所有借款人均经过鑫路金融层层风控筛选，现场面审，且借款人借款资金用于零用消费短期周转，风险更低，收益更为稳健。购买产品且复审通过后，完成出借操作达成借贷关系，该项目结算方式为按周等额本息还款。
                    </p>
                </div>
                <!-- 项目说明 -->
                <div class="item_explain">
                    <p class="item_title">项目说明</p>
                    <ul class="item_text clearfloat">
                        <li>项目借款总额：
                            <span>50000</span>元
                        </li>
                        <li>还款方式：
                            <span>按周等额本息</span>
                        </li>
                        <li>
                            预期年化收益：
                            <span>10</span>%
                        </li>
                        <li>
                            起投金额：
                            <span>100</span>元
                        </li>
                    </ul>
                </div>
                <!-- 资产流向 -->
                <div class="item_flow">
                    <p class="item_title">资产流向说明</p>
                    <div class="item_text">
                        <p>
                            <span class="title"></span>所有借款人均经由鑫路金融层层风控、现场面审。</p>
                        <ul class="flow_ul reality_flow_ul clearfloat">
                            <li>
                                <div class="flow_div">
                                    <p>投资</p>
                                    <p>出借授权并冻结出借款</p>
                                </div>
                                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/arrows.png" class="arrows">
                                <img src="https://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/flow_01.png">
                                <br>
                                <span>投资</span>
                            </li>
                            <li>
                                <div class="flow_div">
                                    <p>满标复审</p>
                                    <p>项目投满复审并解冻出借款</p>
                                </div>
                                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/arrows.png" class="arrows">
                                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/flow_02.png">
                                <br>
                                <span>满标复审</span>
                            </li>
                            <li>
                                <div class="flow_div">
                                    <p>生成借款协议</p>
                                    <p>生成四方电子协议，并签署电子签章存证拷贝</p>
                                </div>
                                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/arrows.png" class="arrows">
                                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/flow_04.png">
                                <br>
                                <span>生成借款协议</span>
                            </li>
                            <li>
                                <div class="flow_div">
                                    <p>放款</p>
                                    <p>根据借款协议借款金额直接放款至借款人</p>
                                </div>
                                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/arrows.png" class="arrows">
                                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/flow_05.png">
                                <br>
                                <span>放款</span>
                            </li>
                            <li>
                                <div class="flow_div">
                                    <p>等额还款</p>
                                    <p>按周等额 本息还款</p>
                                </div>
                                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/flow_06.png">
                                <br>
                                <span>等额还款</span>
                            </li>
                        </ul>
                        <div class="lookPact">
                            查看借款协议
                        </div>
                        <div class="dialog" id="1">
                            <div class="close"></div>
                            <div class="swiper-container" style="display:block">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/img_01.png">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/img_02.png">
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="swiper-zoom-container">
                                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/img_03.png">
                                        </div>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <!-- <div class="swiper-pagination swiper-pagination-white"></div> -->
                                <!-- Add Navigation -->
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- 常见问题 -->
                <div class="item_questions">
                    <p class="item_title">常见问题</p>
                    <div class="item_text">
                        <div class="question clearfloat">
                            <p>Q：是否可随时退出？</p>
                            <br>
                            <p>A：该
                                <span class="title"></span>，用户在投资周期内不可退出，不支持债权转让。</p>
                        </div>
                        <div class="question clearfloat">
                            <p>Q：什么是等额本息还款？</p>
                            <br>
                            <p>A：等额本息是指借款人将以每期相同的本金与利息返还出借人，即您每期收到的本息都是固定金额，直至最后一期还清为止。平台以每周等额本息方式进行出借人本息结算，且不收取任何服务费。</p>
                        </div>
                        <div class="question clearfloat">
                            <p>Q：
                                <span class="title"></span>的风控流程是怎样的？</p>
                            <br>
                            <p>A：鑫路金融有严谨的风控体系，借款人信息将进入风控模型，引入芝麻信用、同盾数据对借款人进行有效筛选；通过风控模型后， 借款人还需进行线下面审，对借款人银行流水、还款能力、借款用途等进行全面评估。结合线上大数据风控与线下实地面审，有效 降低项目整体风险。
                            </p>
                        </div>
                        <div class="question clearfloat">
                            <p>Q：如何知悉加入计划后，钱借给了谁以及还款计划？</p>
                            <br>
                            <p>A：鑫路金融坚持向投资者披露每一笔资金的去向和每一笔借款的还款情况，用户可通过“鑫路金融”APP自行查看。 查看流程：【我的】--【我的投资】，我的投资记录中详细记录了您的每一笔资金所匹配的借款人以及相应的还款计划。
                            </p>
                        </div>
                        <div class="question clearfloat">
                            <p>Q：如果借款人逾期怎么办？</p>
                            <br>
                            <p>A：若借款人逾期，根据四方借款协议，您的债权将会由丁方自动承接，并向您还本付息。同时丁方将基于四方借款协议约定条款， 以债权人的身份申请互联网仲裁，通过法律途径实现债权。以保障各方的合法本息权益。
                            </p>
                        </div>
                        <div class="question clearfloat">
                            <p>Q：到期退出后，资金何时回到账户</p>
                            <br>
                            <p>A：
                                <span class="title"></span>采用等额本息的计息方式，按周结算，每个还款日系统将当期本息一同返还至账户内，用户可用于提现或继续投资平台内的产品，项目到期后将剩余全部本息返还至账户（为了保障用户收益最大化，我们建议您继续投资，并且我们会不间断的为您带来更多福利）</p>
                        </div>
                    </div>
                </div>
                <!-- 安全保障 -->
                <div class="item_safety">
                    <p class="item_title">安全保障</p>
                    <ul class="safety_ul clearfloat">
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/safety_01.png">
                            <br>
                            <span>银行级风控体系</span>
                        </li>
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/safety_02.png">
                            <br>
                            <span>借款人面签流程</span>
                        </li>
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/safety_03.png">
                            <br>
                            <span>电子签章与存证</span>
                        </li>
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/safety_04.png">
                            <br>
                            <span>逾期自动债转</span>
                        </li>
                        <li>
                            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/item/safety_05.png">
                            <br>
                            <span>互联网仲裁支持</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 借款人信息 -->
            <div class="xlmaterials" style="display:none;">
                <div class="xlmaterials_content">
                    <!-- 基本信息 -->
                    <div class="basic_message">
                        <p class="item_title">基本信息</p>
                        <ul class="message_ul">
                            <li>
                                <div>借款人</div>
                                <div>李四</div>
                                <div>年龄</div>
                                <div>25</div>
                                <div>身份号码</div>
                                <div>123456789123456</div>
                            </li>
                            <li>
                                <div>籍贯</div>
                                <div>河北</div>
                                <div>手机号</div>
                                <div>15488415873</div> 
                                <div>职业</div>
                                <div>公务员</div>
                            </li>
                            <li>
                                <div>借款用途</div>
                                <div>个人消费</div>
                            </li>
                        </ul>
                    </div>
                    <!-- 历史借款信息 -->
                    <div class="history_message">
                        <p class="item_title">历史借款信息</p>
                        <div class="history_content clearfloat">
                            <div class="history_left clearfloat">
                                <div class="borrowMoney">
                                    <p>借款总金额（元）</p>
                                    <p>100000</p>
                                </div>
                                <div class="repayMoney">
                                    <p>剩余待还金额（元）</p>
                                    <p>50000</p>
                                </div>
                            </div>
                            <div class="history_right clearfloat">
                                <div class="borrowTime">
                                    <p>借款总金额（元）</p>
                                    <p>100000</p>
                                </div>
                                <div class="overdueTime">
                                    <p>剩余待还金额（元）</p>
                                    <p>50000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 更多资料已收纳归档 -->
                    <div class="history_more">
                        <p class="item_title">更多资料已收纳归档</p>
                        <ul class="history_ul clearflot">
                            <li class="deal">
                                <input type="checkbox" id="card_01" checked disabled="disabled">
                                <label for="card_01"></label> 身份证（正/反）
                            </li>
                            <li class="deal">
                                <input type="checkbox" id="card_02" disabled="disabled">
                                <label for="card_02"></label> 手持身份证（正反）
                            </li>
                            <li class="deal">
                                <input type="checkbox" id="petition" disabled="disabled">
                                <label for="petition"></label> 借款申请书
                            </li>
                            <li class="deal">
                                <input type="checkbox" id="pact" disabled="disabled">
                                <label for="pact"></label> 借款合同
                            </li>
                            <li class="deal">
                                <input type="checkbox" id="bankcard" checked disabled="disabled">
                                <label for="card_01"></label> 银行卡流水账
                            </li>
                            <!-- <li class="deal">
                                <input type="checkbox" id="person" disabled="disabled">
                                <label for="card_02"></label>
                                私营业主
                            </li>
                            <li class="deal">
                                <input type="checkbox" id="shebao" disabled="disabled">
                                <label for="petition"></label>
                                社保-公积金
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 投资记录 -->
            <div class="xlrecord" style="display:none;">
                <div class="xlrecord_content">
                    <ul class="record_ul clearfloat">
                        <li>
                            <div>投资人</div>
                            <div>有效投标金额</div>
                            <div>投资来源</div>
                            <div>投标时间</div>
                        </li>
                        <li>
                            <div>*******4851</div>
                            <div>1000元</div>
                            <div>iOS</div>
                            <div>2018-01-02 10:49:45</div>
                        </li>
                        <li>
                            <div>*******8573</div>
                            <div>100000元</div>
                            <div>Android</div>
                            <div>2018-01-01 12:29:45</div>
                        </li>
                        <li>
                            <div>*******5873</div>
                            <div>10000元</div>
                            <div>iOS</div>
                            <div>2017-12-31 15:09:24</div>
                        </li>
                        <li>
                            <div>*******4152</div>
                            <div>50000元</div>
                            <div>Android</div>
                            <div>2017-12-30 19:09:47</div>
                        </li>
                        <li>
                            <div>*******4152</div>
                            <div>50000元</div>
                            <div>Android</div>
                            <div>2017-12-30 19:09:47</div>
                        </li>
                        <li>
                            <div>*******4152</div>
                            <div>50000元</div>
                            <div>Android</div>
                            <div>2017-12-30 19:09:47</div>
                        </li>
                        <li>
                            <div>*******4152</div>
                            <div>50000元</div>
                            <div>Android</div>
                            <div>2017-12-30 19:09:47</div>
                        </li>
                        <li>
                            <div>*******4152</div>
                            <div>50000元</div>
                            <div>Android</div>
                            <div>2017-12-30 19:09:47</div>
                        </li>
                        <li>
                            <div>*******4152</div>
                            <div>50000元</div>
                            <div>Android</div>
                            <div>2017-12-30 19:09:47</div>
                        </li>
                        <li>
                            <div>*******4152</div>
                            <div>50000元</div>
                            <div>Android</div>
                            <div>2017-12-30 19:09:47</div>
                        </li>
                    </ul>
                    <div id="laypages"></div>
                </div>
            </div>
        </div>
    </div>
    <fotter></fotter>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/layui/layui.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/plugins/swiper/swiper.min.js"></script>
<script src="../../js/base.js"></script>
<script>
    var title = "鑫周期-胖虎女士个人消费";

    $(".title").text(title)

    // 切换项目详情和投资列表
    $(".xlitem_ul>li>span").click(function() {
        $(".xldetails>div").eq($(this).parent("li").index()).show().siblings("div").hide()
        $(this).addClass("antherborder").parent().siblings().find("span").removeClass("antherborder");
    })

    // 资金流向说明
    $(".flow_ul>li").hover(function() {
        $(this).find("div").stop().animate({
            opacity: "1"
        }, 300);
    }, function() {
        $(this).find("div").stop().animate({
            opacity: "0"
        }, 300);
    })

    // 分页
    layui.use(['laypage', 'layer'], function() {
        var laypage = layui.laypage,
            layer = layui.layer;
        laypage.render({
            elem: 'laypages',
            count: 100,
            theme: "#ffa21a",
        });
    });

    var swiper = new Swiper('.swiper-container', {
        zoom: true,
        pagination: {
            el: '.swiper-pagination',
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });

    // 查看借款协议
    $(".lookPact").click(function() {
        $(".dialog").addClass("color");
    })
    $(".close").click(function() {
        $(".dialog").removeClass("color");
    })
</script>