<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>注册送好礼——鑫路金融官网</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/register.css">
    <link rel="stylesheet" href="../../css/registerGift.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/xinlu-icon.ico">
</head>

<body>
    <header></header>
    <main>
        <div class="banner">
            <div class="register">
                <form class="register_part01">
                    <ul class="register_ul01 clearfloat">
                        <li>
                            <div class="phone"></div>
                            <input type="text" name="mobile" class="mibbleNum" placeholder="请输入手机号码" maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                        <div class="error_01">
                            <p></p>
                        </div>
                        <li sytle="auth_code">
                            <div class="code"></div>
                            <input type="text" name="mobileCode" placeholder="请输入验证码" class="authCode" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                        <div class="code_div01">获取验证码</div>
                        <div class="error_02">
                            <p></p>
                        </div>
                        <li>
                            <div class="pwd"></div>
                            <input type="password" name="password" class="login_pwd" placeholder="请输入登录密码">
                        </li>
                        <div class="error_03">
                            <p></p>
                        </div>
                        <li>
                            <div class="pwd_again"></div>
                            <input type="password" name="User_confirmpass" class="login_pwd02" placeholder="确认登录密码">
                        </li>
                        <div class="error_04">
                            <p></p>
                        </div>
                    </ul>
                    <div class="register_btn">
                        <input type="button" class="next" value="快速注册">
                        <div class="deal">
                            <input type="checkbox" id="deal_input" checked>
                            <label for="deal_input"> </label>
                            <a style="color:#666;">我同意按如下</a>
                            <a href="" style="color:#65b9ed">《鑫路金融注册协议》</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="content">
            <div class="contentDetail">
                <p class="title_01">新手红包</p>
                <p style="height:60px;color:#fce0c7;font-size:60px;">“</p>
                <p style="color:#fd9c1c;font-size:16px;">注册就能领588元红包，还有这种好事？当然有
                    <br> 还能领更多优惠红包！
                </p>
                <img src="../../images/registerGift/packet.png" style="margin-top:30px;">
                <p style="color:#999;line-height:4;">温馨提示</p>
                <p style="color:#999;line-height:2;">每人仅限注册并领取一次，注册成功后，红包即进入有效期，请注意及时使用； 红包领取成功
                    <br>之后，您可以在pc端“我的账户-我的红包”或app端“我的-我的红包”中进行查看。</p>
                <div class="register_div">立即注册</div>
            </div>
        </div>
        <div class="bottom">
            <div class="bottomDetail">
                <p class="title_02">新手项目</p>
                <p style="height:60px;color:#ffddad;font-size:60px;">“</p>
                <p style="color:#fd9c1c;font-size:16px;">最高预期年化率14%，时间短！收益高！起投低！投资
                    <br>就能看到涨</p>
                <ul class="bottom_ul clearfloat">
                    <li>
                        <img src="../../images/registerGift/img_01.png" style="margin-bottom:40px;">
                        <p>预期年化收益</p>
                        <p>14.00%</p>
                        <div></div>
                    </li>
                    <li>
                        <img src="../../images/registerGift/img_02.png" style="margin-bottom:40px;">
                        <p>项目期限</p>
                        <p>30天</p>
                        <div></div>
                    </li>
                    <li>
                        <img src="../../images/registerGift/img_03.png" style="margin-bottom:22px;">
                        <p>起投金额</p>
                        <p>100元</p>
                        <div></div>
                    </li>
                    <li>
                        <img src="../../images/registerGift/img_04.png" style="margin-bottom:26px;">
                        <p>按月还息到期还本</p>
                        <p>收益方式</p>
                        <div></div>
                    </li>
                </ul>
                <div class="invest_div">立即投资</div>
                <p style="color:#a3371d;line-height:4;">温馨提示</p>
                <p style="color:#a3371d;line-height:2;">新手福利标仅限平台用户第一次投资时享受，当您有过任意投资记录后则无法投资新手福利标；<br>新手福利标的不可进行债权转让。</p>
            </div>
        </div>
    </main>
    <footer></footer>
</body>

</html>

<script src="../../js/jquery.min.js"></script>
<script src="../../js/common.js"></script>
<script>
    $("header").load("head.html");
    $("footer").load("footer.html");

    $(".register_ul01>li").click(function () {
        $(this).attr("id", "active").siblings().removeAttr("id", "active");
    });
    $(".register_ul02>li").click(function () {
        $(this).attr("id", "active").siblings().removeAttr("id", "active");
    });
    // 注册协议input框
    $("#deal_input").click(function () {
        var ii = $("input[type='checkbox']").prop("checked");
        if (ii === true) {
            $(".next").css("background-color", "#fe9c1c").removeAttr("disabled");
        } else if (ii === false) {
            $(".next").css("background-color", "#ccc").attr("disabled", "disabled");
        };
    })
</script>