<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户注册-鑫路金融官网</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/register.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <main>
        <div class="register_content">
            <div class="register_top">
                <img src="../../images/register/register_01.png" alt="" class="register_top_img">
            </div>
            <div class="register_step">
                <!-- 注册第一步 -->
                <form class="register_part01" >
                    <ul class="register_ul01 clearfloat">
                        <li>
                            <div class="phone"></div>
                            <input type="text" name="mobile" class="mibbleNum" placeholder="请输入手机号码" maxlength="11" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                        <div class="error_01">
                            <p></p>
                        </div>
                        <li sytle="auth_code">
                            <div class="code"></div>
                            <input type="text" name="mobileCode" placeholder="请输入验证码" class="authCode" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                        <div class="code_div01">获取验证码</div>
                        <div class="error_02">
                            <p></p>
                        </div>
                        <li>
                            <div class="pwd"></div>
                            <input type="password" name="password" class="login_pwd" placeholder="请输入登录密码">
                        </li>
                        <div class="error_03">
                            <p></p>
                        </div>
                        <li>
                            <div class="pwd_again"></div>
                            <input type="password" name="User_confirmpass" class="login_pwd02" placeholder="确认登录密码">
                        </li>
                        <div class="error_04">
                            <p></p>
                        </div>
                    </ul>
                    <div class="register_btn">
                        <input type="button" class="next" value="下一步">
                        <div class="deal">
                            <input type="checkbox" id="deal_input" checked>
                            <label for="deal_input"> </label>
                            <a style="color:#666;">我同意按如下</a>
                            <a href="" style="color:#65b9ed">《鑫路金融注册协议》</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- 尾部 -->
    <footer></footer>
</body>

</html>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/common.js"></script>
 <script src="../../js/register.js"></script>
<script>
    $("header").load("head.html");
    $("footer").load("footer.html");
    
</script>