<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户注册-鑫路金融官网</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/register.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <main>
        <div class="register_content">
            <div class="register_top">
                <img src="../../images/register/register_02.png" alt="" class="register_top_img">
            </div>
            <div class="register_step">

                <div class="register_part02">
                    <input type="button" class="get" value="立即领取">
                </div>
            </div>
        </div>
    </main>
    <!-- 尾部 -->
    <footer></footer>
</body>

</html>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/register.js"></script>
<script>
     $(".get").click(function(){
        window.location.href = "../views/register_03.html";
    })   
    // // // 手机号码输入框焦点
    // $(".mibbleNum").blur(function () {
    //     if ($(".mibbleNum").val() == 0) {
    //         $(".error_01>p").show().text("手机号码不能为空");
    //     };
    // });
    // $(".mibbleNum").focus(function () {
    //     $(".error_01>p").hide();
    // });

    // // 登录密码输入框
    // $(".login_pwd").blur(function () {
    //     if ($(".login_pwd").val() == "") {
    //         $(".error_03>p").show().text("登录密码不能为空");
    //     };
    // });
    // $(".login_pwd").focus(function () {
    //     $(".error_03>p").hide();
    // });

    // // 确认密码验证
    // $(".login_pwd02").blur(function () {
    //     if ($(".login_pwd02").val() == "") {
    //         $(".error_04>p").show().text("确认密码不能为空");
    //     } else if($(".login_pwd").val() != $(".login_pwd02").val()){
    //         $(".error_04>p").show().text("两次密码不一致");
    //     };
    // });
    // $(".login_pwd02").focus(function () {
    //     $(".error_04>p").hide();
    // });
</script>