<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户注册-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/register.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <main>
        <div class="register_content">
            <div class="register_top">
                <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/register/register_02.png" alt="" class="register_top_img">
            </div>
            <div class="register_step">
                <form action="" class="register_part03">
                    <ul class="register_ul02 clearfloat">
                        <li>
                            <div class="real_user"></div>
                            <input type="text" class="real_name" name="accntnm" placeholder="请输入真实姓名">
                        </li>
                        <div class="error_01">
                            <p></p>
                        </div>
                        <li>
                            <div class="id_card"></div>
                            <input type="text" class="idCard" name="id_card" placeholder="请输入身份证号码" minlength="15" maxlength="18" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                        <div class="error_02">
                            <p></p>
                        </div>
                        <li>
                            <div class="bank_card"></div>
                            <input type="text" class="bankid" name="acc_no" placeholder="请输入银行卡号码" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                        <div class="error_03">
                            <p></p>
                        </div>
                        <li>
                            <select name="brankId" id="">
                                <option selected="selected">选择所属银行</option>
                            </select>
                        </li>
                        <div class="error_04">
                            <p></p>
                        </div>
                        <li>
                            <div class="code"></div>
                            <input type="text" class="auchcode" name="sms_code" placeholder="请输入验证码" onkeyup="this.value=this.value.replace(/\D/g,'')"
                                onafterpaste="this.value=this.value.replace(/\D/g,'')">
                        </li>
                        <div class="code_div02">获取验证码</div>
                        <div class="error_05">
                            <p></p>
                        </div>
                    </ul>
                    <div class="register_end">
                        <input type="button" class="gift_btn" value="完成领取红包 ">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- 尾部 -->
    <footer></footer>
    <div class="mask" style="display:block;">
    <div class="approve_mask" style="display:block;">
        <div class="approve_mask_top  clearfloat">
            <p>登录注册</p>
            <span class="close_btn">×</span>
        </div>
        <p>认证成功！</p>
        <span style="width:196px;margin:0 auto;display:block;">红包已经放入您的<a href="" style="color:#20acec;">个人用户中心</a></span>
        <button>立即使用红包</button>
    </div>
</div>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/register.js"></script>
<script>
    $(".gift_btn").click(function () {
        // 真实姓名验证
        if ($(".real_name").val() < 2) {
            $(".error_01>p").show().text("请输入真实姓名");
        } else if (/[\u4E00-\u9FA5]/.test($(".real_name").val()) != true) {
            $(".error_01>p").show().text("真实姓名必须包含中文");
        };
        // 身份证验证
        if ($(".idCard").val().length < 15) {
            $(".error_02>p").show().text("请输入身份证号码");
        } else if ($(".idCard").val() !=
            /^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$/) {
            $(".error_02>p").show().text("身份证号码格式不正确");
        };
        // 银行卡验证
        if ($(".bankid").val() < 18) {
            $(".error_03>p").show().text("请输入银行卡号");
        }
        // 验证码
        if ($(".authcode").val() == 0) {
            $(".error_05>p").show().text("请输入验证码");
        }
        $(".register_ul02>li>input").focus(function () {
            $(this).parent().siblings().find("p").hide();
        });
    })
    // 验证码点击
    $(".code_div02").click(function () {
        $.ajax({
            type: "psot",
            url: "118.31.20.195:8083/uheart/sendFuYouSmsForBindH",
            data: {
                acc_no: $(".bankid").val(),
            },
            success: function (data) {
                if (data.code == 0) {
                    downTime();
                } else {
                    down = Time();
                }
            }
        });
    });

    var flag = true;
    var at;

    function downTime() {
        if (flag) {
            flag = false;
            at = 30;
            var MyTime = setInterval(function () {
                if (at > 0) {
                    at--;
                    $(".code_div02").html("重新发送(" + at + ")").attr("disabled", "disabled");
                } else if (at == 0) {
                    $(".code_div02").html("获取验证码").removeAttr("disabled");
                    clearInterval(MyTime);
                    flag = true;
                }
            }, 1000);
        }
    }
</script>