<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>安全保障-鑫路金融官网</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/safety.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <main>
        <div class="banner"></div>
        <!-- 鑫路金融银行存管对接中 -->
        <div class="part_01" style="text-align:center;">
            <p style="font-size:40px;color:#fba223;padding:100px 0 65px 0;">鑫路金融银行存管对接中</p>
            <ul class="part_01_ul">
                <li>
                    <img src="../../images/safety/part_img02.png">
                    <p>鑫路金融</p>
                </li>
                <li>
                    <img src="../../images/safety/right.png">
                    <br>
                    <img src="../../images/safety/left.png">
                </li>
                <li>
                    <img src="../../images/safety/part_img01.png">
                    <p>上海银行</p>
                </li>
            </ul>
        </div>
        <!-- 银行存管的好处 -->
        <div class="part_02" style="text-align:center;">
            <p style="font-size:40px;color:#666;padding:100px 0 65px 0;">银行存管对用户的好处</p>
            <ul class="part_02_ul">
                <li>
                    <img src="../../images/safety/img_01.png" style="padding-bottom:40px;">
                    <p>真正的资金隔离</p>
                    <p>上海银行拥有专业的资金存管业务流程操作规范，对用户资金发生的交易、转账和资金流向进行全面监督并保留记录。</p>
                </li>
                <li>
                    <img src="../../images/safety/img_02.png" style="padding-bottom:40px;margin-top:-10px;">
                    <p>交易更安全</p>
                    <p>所有借出人与借款人均开通独立存管账户，与平台账户分开，各账户之间全面隔离。平台上资金和交易分开，平台无法直接触及资金，用户更放心。</p>
                </li>
                <li>
                    <img src="../../images/safety/img_03.png" style="padding-bottom:38px;margin-top:-20px;">
                    <p>用户授权操作</p>
                    <p>资金交易均由用户授权银行操作，存管银行对客户身份及交易授权进行认证，保障用户资金安全。</p>
                </li>
            </ul>
        </div>
        <!-- 为什么选择上海银行 -->
        <div class="part_03">
            <p style="font-size:40px;color:#666;padding:100px 0 65px 0;text-align:center;">为什么选择上海银行</p>
            <div class="part_03_content">
                <div class="part_03_left">
                    <p style="font-size:18px;">上海银行优势</p>
                    <p style="padding-top:35px;">上海银行是全国城市商业银行系统中唯一一家获得四类资格的存管银行，完全符合《网络借贷资金存管业务指引》政策要求。</p>
                    <p style="padding-top:35px;">上海银行曾获得“区域性商业银行最佳网上银行用户体验奖”，并且已与多家平台展开资金存管业务，在技术研发经验和用户体验上均具有优势。</p>
                    <p style="padding-top:35px;">截止2016年末，上海银行总资产17553亿元，同比增长21%；实现净利润143亿元，同比增长10%。在英国《银行家》2017年公布的“全球前1000家银行”排名中，按一级资本和总资产计算，上海银行分被位列全球银行业第85位和第89位；多次被《亚洲银行家》杂志评为“中国最佳城市零售银行”</p>
                </div>
                <div class="part_03_right">
                    <img src="../../images/safety/part_03.png">
                </div>
            </div>
        </div>
        <!-- 全方面平台安全保障 -->
        <div class="part_04" style="text-align:center;">
            <p style="font-size:40px;color:#666;padding:100px 0 65px 0;text-align:center;">全方面平台安全保障</p>
            <ul class="part_02_ul">
                <li>
                    <img src="../../images/safety/img_04.png" style="padding-bottom:40px;">
                    <p>严谨风控体系</p>
                    <p>银行级风控体系，三重审核，五道工序，对平台的项目层层把关，基于大数据和多家风控机构，进行全方位数据分析，精准评估借款人逾期风险。我们比您更关心资金安全！</p>
                </li>
                <li>
                    <img src="../../images/safety/img_05.png" style="padding-bottom:35px;margin-top:-5px;">
                    <p>专业资金保障</p>
                    <p>鑫路金融全程不接触客户资金，用户出借成功后，资金将直接进入借款人账户，保证交易真实和出借人资金安全。</p>
                </li>
                <li>
                    <img src="../../images/safety/img_06.png" style="padding-bottom:30px;margin-top:-5px;">
                    <p>专业技术加密</p>
                    <p>研发团队来自于第三方支付公司，利用多年技术经验倾力打造出银行级别的数据加密，严格管理您的各项信息，确保投资者交易终端环境安全。</p>
                </li>
            </ul>
        </div>
        <!-- 保证合法合规操作 -->
        <div class="part_05">
            <p style="font-size:40px;color:#666;padding:100px 0 65px 0;text-align:center;">为保证合法合规操作</p>
            <div class="part_03_content">
                <div class="part_05_left">
                    <img src="../../images/safety/part_05.png">
                </div>
                <div class="part_05_right">
                    <ul>
                        <li style="padding-bottom:50px;">
                            <p style="font-size:18px;padding-bottom:20px;">•&nbsp;运营资质齐全</p>
                            <p>运营资质齐全，每项业务均有法可依</p>
                        </li>
                        <li style="padding-bottom:50px;">
                            <p style="font-size:18px;padding-bottom:20px;">•&nbsp;利润市场化</p>
                            <p>鑫路金融平台预期收益符合市场化</p>
                        </li>
                        <li>
                            <p style="font-size:18px;padding-bottom:20px;">•&nbsp;信息披露</p>
                            <p>鑫路金融平台充分进行信息披露，用户可以随时查看</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <!-- 尾部 -->
    <footer></footer>
</body>

</html>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/common.js"></script>
<script>
    $("header").load("head.html");
    $("footer").load("footer.html");
</script>