<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>安全保障-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css">
    <link rel="stylesheet" href="../../newVersion/css/safe.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <div class="xlSafe_head"></div>
    <div class="xlSafe_part1">
        <div class="xlSafe_part1_content">
            <div class="xlSafe_title1"></div>
            <p class="xlSafe_text1">鑫路金融一直秉承合规发展的原则，严格遵守各项法律法规及政策条款，为借贷双方提供专业的居间撮合服务，借贷交易真实合法，项目披露尽职合规，让投资者安心。</p>
            <div class="xlSafe_part1_ul clearfloat">
                <li>
                    <div class="operate_top">
                        <p>60
                            <span>天</span>
                        </p>
                    </div>
                    <div class="operate_bottom">
                        <p>2017年11月15日</p>
                        <p>成立至今安全运营</p>
                    </div>
                </li>
                <li>
                    <div class="operate_top">
                        <p>10000
                            <span>位</span>
                        </p>
                    </div>
                    <div class="operate_bottom">
                        <p>全力保障资金</p>
                        <p>安全投资人数</p>
                    </div>
                </li>
                <li>
                    <div class="operate_top">
                        <p>1000000
                            <span>元</span>
                        </p>
                    </div>
                    <div class="operate_bottom">
                        <p>累计为投资人</p>
                        <p>带来理财收益</p>
                    </div>
                </li>
            </div>
        </div>

    </div>
    <div class="xlSafe_part2">
        <div class="xlSafe_part2_content">
            <p class="xlSafe_title2">资质齐全</p>
            <p class="xlSafe_text2">Full range of qualifications</p>
            <ul class="aptitude clearfloat">
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_3.png">
                    <p>营业执照图</p>
                </li>
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_4.png">
                    <p>ICP图</p>
                </li>
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_5.png">
                    <p>软著图</p>
                </li>
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_7.png">
                    <p>诚信网站图</p>
                </li>
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_6.png">
                    <p>安全联盟图</p>
                </li>
            </ul>
            <div class="xlSafe_honesty">
                <p class="xlSafe_title2">资质齐全</p>
                <p class="xlSafe_text2">Good faith management</p>
                <ul class="honesty_ul">
                    <li>
                        <div class="honesty_ul_top clearfloat">
                            <div class="xlSafe_ring"></div>
                            <div>成立至今100%如约兑付</div>
                        </div>
                        <div>自2017年11月上线以来，形成
                            <span style="color:#ff6f20;">X</span>笔投资订单，
                            <br>100%如约兑付</div>
                    </li>
                    <li>
                        <div class="honesty_ul_top clearfloat">
                            <div class="xlSafe_ring"></div>
                            <div>电子合同具备法律效力</div>
                        </div>
                        <div>复审通过后，自动生成借款协议，并加盖
                            <br>电子签章（e签宝），具备传统合同法律效力</div>
                    </li>
                    <li>
                        <div class="honesty_ul_top clearfloat">
                            <div class="xlSafe_ring"></div>
                            <div>利率市场化</div>
                        </div>
                        <div>鑫路金融平台预期利率符合市场化</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="xlSafe_part3">
        <div class="xlSafe_part3_content">
            <div class="xlSafe_title3"></div>
            <ul class="guarantee clearfloat">
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_10.png">
                    <p>合作方提供连带责任保证</p>
                    <p>每个项目，我们均要求合作方为借款人的还款义务提供连带责任担保。一旦发生项目逾期或违约，合作方将按照合同约定履行相应还款义务。</p>
                </li>
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_11.png">
                    <p>足值抵质押物担保</p>
                    <p>所有抵押贷款项目中，均要求借款人提供足值抵质押物，确保抵质押物的价值能够完全覆盖借款金额。此外，在签署借款合同的同时，严格办理抵质押物公证、抵押登记手续。</p>
                </li>
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_12.png">
                    <p>小微信贷分散风险</p>
                    <p>所有个人消费和小微经营需求的小额信贷交易撮合，笔均借款金额不超过1万元，通过小额分散降低违约关联性，控制集中性风险。</p>
                </li>
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_13.png">
                    <p>精挑细选优质资产</p>
                    <p>我们精挑细选，只为用户选择最优质的资产，从源头上保证资产必须是安全稳健的。</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="xlSafe_part4">
        <div class="xlSafe_part4_content">
            <div class="xlSafe_title4"></div>
            <p class="xlSafe_title5">账户安全</p>
            <p class="xlSafe_text5">Account security</p>
            <ul class="account_ul clearfloat">
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_15.png">
                    <div class="honesty_ul_top clearfloat">
                        <div class="xlSafe_ring"></div>
                        <div>注册开户双重验证</div>
                        <p>注册：需手机动态验证码验证才能成功注册。</p>
                        <p>开户：真实姓名和身份证号验证通过，仍需二次验证手机验证码才能开户</p>
                    </div>

                </li>
                <li>
                    <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safe/img_16.png">
                    <div class="honesty_ul_top clearfloat">
                        <div class="xlSafe_ring"></div>
                        <div>全方位技术保障</div>
                        <p>鑫路金融平台所使用的系统由自身团队研发，是一套专门为网络信息服务中介而服务的平台体系。严格管理您的各项信息，确保投资者交易终端环境安全。</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="xlSafe_part5">
        <div class="xlSafe_part5_content">
            <div class="clearfloat"> 
                <div class="same_card">
                    <div class="xlSafe_title2">同卡进出</div>
                    <div class="xlSafe_text2">Account security</div>
                    <p> 您在鑫路金融开通银行卡快捷支付，充值和提现的银行卡必须是同一张银行卡，即使账户丢失、手机丢失，账户中的钱依然不会丢失。</p>
                </div>
            </div>

            <div class="xlSafe_title6"></div>
            <ul class="law_ul">
                <li>
                    <p>平台服务内容合法</p>
                    <p>根据《网络借贷信息中介机构业务活动管理暂行办法》第2条规定，网络借贷信息中介机构是指依法设立，专门从事网络借贷信息中介业务活动的金融信息中介公司。该类机构以互联网为主要渠道，为借款人与出借人（即贷款人）实现直接借贷提供信息搜集、信息公布、资信评估、信息交互、借贷撮合等服务。</p>
                </li>
                <li>
                    <p>用户取得收益合法</p>
                    <p>《最高人民法院关于审理民间借贷案件适用法律若干问题的规定》第一条明确指出，“本规定所称的民间借贷，是指自然人、法人、其他组织之间及其相互之间进行资金融通的行为”，《最高人民法院关于审理民间借贷案件适用法律若干问题的规定》第二十六条：“借贷双方约定的利率未超过年利率24%，出借人请求借款人按照约定的利率支付利息的，人民法院应予支持。”鑫路金融平台上资金借出方向资金借入方出借资金并按照约定利率收取利息，且该等利率未超过年利率24%，为合法利息收益，受到法律保护。</p>
                </li>
                <li>
                    <p>专业法律支持</p>
                    <p>公司与广东三民律师事务所达成长期合作协议，所有业务活动以及相关合同和协议，均由专业律师核对相关法律条款，确保其符合相关法律法规，鑫路金融合法守信经营，让用户权益受国家法律保护。</p>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>