<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>安全保障-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/safety.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <main>
        <div class="banner"></div>
        <div class="safety_part01">
            <div class="safety_content clearfloat">
                <p style="text-align:center;padding-bottom:95px;font-size:40px;color:#999;">全方面平台安全保障</p>
                <div class="safety_text1">
                    <p style="color:#ffa954;font-size:30px;line-height:3;">严谨风控体系</p>
                    <p style="color:#999;font-size:16px;line-height:2;">银行级风控体系，三重审核，五道工序，对平台的项目层层把关，
                        <br>联合同盾科技与芝麻信用，对借款人进行全方位数据分析，精准评估借款人还
                        <br>款风险。对借款人个人背景、还款能力以及信用记录做出严格审查，层层
                        <br>筛选出符合风控条件的优质借款人。我们比您更关心资金安全。</p>
                    <p style="background:#ffa954;color:#fff;margin-top:35px;width:88px;height:25px;line-height:25px;text-align:center;margin-left:10px;font-size:12px;">RIGOROCUS</p>
                </div>
                <div class="safety_img01"></div>
            </div>
        </div>
        <div class="safety_part02">
            <div class="safety_content clearfloat">
                <div class="safety_img02"></div>
                <div class="safety_text2">
                    <p style="color:#666;font-size:30px;line-height:3;">合规直融模式</p>
                    <p style="color:#999;font-size:16px;line-height:2;">鑫路金融采取直接融资模式，回归P2P本质，平台只撮合成交，项目投资人可
                        <br>根据自身投资需求直接与借款人达成借贷关系。模式更加安全高效，
                        <br>平台不接触用户资金，投资人资金直接放款至借款人，杜绝资金池的存在；
                        <br>借款项目均来自消费金融领域的优质资产，小额分散的投资模式可有效降低投资人资金风险。</p>
                    <p style="background:#a7afad;color:#fff;margin-top:35px;width:88px;height:25px;line-height:25px;text-align:center;margin-left:10px;font-size:12px;">FUNDS</p>
                </div>
            </div>
        </div>
        <div class="safety_part03">
            <div class="safety_content clearfloat">
                <div class="safety_text3">
                    <p style="color:#ffa954;font-size:30px;line-height:3;">强大技术保障</p>
                    <p style="color:#999;font-size:16px;line-height:2;">鑫路金融平台所使用的系统由自身团队研发，基于阿里云高防云、
                        <br>独立数据库服务器以及ssl数据加密技术，凭借多年开发经验倾力打造所得，
                        <br>是一套专门为网络信息服务中介而服务的平台体系。严格管理您的
                        <br>各项信息，确保投资者交易终端环境安全。</p>
                    <p style="background:#ffa954;color:#fff;margin-top:35px;width:120px;height:25px;line-height:25px;text-align:center;margin-left:10px;font-size:12px;">LEGAL SUPPORT</p>
                </div>
                <div class="safety_img03"></div>
            </div>
        </div>
        <div class="safety_part04">
            <div class="safety_content clearfloat">
                <div class="safety_text4">
                    <p style="color:#ffa954;font-size:30px;line-height:3;">专业法律支持</p>
                    <p style="color:#999;font-size:16px;line-height:2;">公司与广东三民律师事务所达成长期合作协议，
                        <br>所有业务活动以及相关合同和协议，均由专业律师核对相关
                        <br>法律条款，确保其符合相关法律法规，鑫路金融合法守信经营，让用户权益受国家法律保护。</p>
                    <p style="background:#ffa954;color:#fff;margin-top:35px;width:115px;height:25px;line-height:25px;text-align:center;margin-left:10px;font-size:12px;">PROFESSIONAL</p>
                </div>
                <div class="safety_img04"></div>
            </div>
        </div>
        <div class="safety_part05">
                <p style="font-size:40px;color:#666;padding:100px 0 65px 0;">合法合规操作</p>
                <ul class="part_02_ul">
                    <li>
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safety/img_01.png" style="padding-bottom:40px;">
                        <p>用户资金安全</p>
                        <p>平台不接触用户资金，杜绝资金池</p>
                    </li>
                    <li>
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safety/img_02.png" style="padding-bottom:40px;margin-top:-10px;">
                        <p>利率市场化</p>
                        <p>鑫路金融平台预期利率符合市场化</p>
                    </li>
                    <li>
                        <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/safety/img_03.png" style="padding-bottom:38px;margin-top:-20px;">
                        <p>信息披露</p>
                        <p>鑫路金融平台充分进行信息披露，用户可随时查看</p>
                    </li>
                </ul>
        </div>
    </main>
    <!-- 尾部 -->
    <footer></footer>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/common.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>