<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>安全保障-鑫路金融官网</title>
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/safety.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../images/xinlu-icon.ico">
</head>

<body>
    <!-- 头部 -->
    <header></header>
    <main>
        <div class="banner"></div>
        <div class="safety_part01">
            <div class="safety_content clearfloat">
                <div class="safety_text1">
                    <p style="color:#ffa954;font-size:40px;line-height:3;">严谨风控体系</p>
                    <p style="color:#999;font-size:16px;line-height:2;">银行级风控体系，三重审核，五道工序，对平台的项目层层把关，基于大数据
                        <br>和多家风控机构，进行全方位数据分析，
                        <br>精准评估借款人逾期风</p>
                    <p style="background:#ffa954;color:#fff;margin-top:35px;width:88px;height:25px;line-height:25px;text-align:center;margin-left:10px;font-size:12px;">RIGOROCUS</p>
                </div>
                <div class="safety_img01"></div>
            </div>
        </div>
        <div class="safety_part02">
            <div class="safety_content clearfloat">
                <div class="safety_img02"></div>
                <div class="safety_text2">
                    <p style="color:#666;font-size:40px;line-height:3;">专户资金保障</p>
                    <p style="color:#999;font-size:16px;line-height:2;">鑫路金融全程不接触客户资金，用户出借成功后，资金将直接进入借款人账
                        <br>户，保证交易真实和出借人资金安全。</p>
                    <p style="background:#a7afad;color:#fff;margin-top:35px;width:88px;height:25px;line-height:25px;text-align:center;margin-left:10px;font-size:12px;">FUNDS</p>
                </div>
            </div>
        </div>
        <div class="safety_part03">
                <div class="safety_content clearfloat">
                        <div class="safety_text3">
                            <p style="color:#666;font-size:40px;line-height:3;">合规法律支持</p>
                            <p style="color:#999;font-size:16px;line-height:2;">公司配备（律所名称）为专用律师团队，所有业务活动以及相关合同和协议，<br>均由专业律师核对相关法律条款，确保其符合相关法律法规，<br>鑫路金融合法守信经营，让用户权益受国家法律保护。</p>
                            <p style="background:#ffa954;color:#fff;margin-top:35px;width:120px;height:25px;line-height:25px;text-align:center;margin-left:10px;font-size:12px;">LEGAL SUPPORT</p>
                        </div>
                        <div class="safety_img03"></div>
                    </div>
        </div>
        <div class="safety_part04">
                <div class="safety_content clearfloat">
                        <div class="safety_text4">
                            <p style="color:#666;font-size:40px;line-height:3;">专业技术加密</p>
                            <p style="color:#999;font-size:16px;line-height:2;">研发团队来自于三方支付公司，利用多年技术经验倾力打造出银行级别的数据<br>加密，严格管理您的各项信息，确保投资者交易终端环境安全。</p>
                            <p style="background:#ffa954;color:#fff;margin-top:35px;width:115px;height:25px;line-height:25px;text-align:center;margin-left:10px;font-size:12px;">PROFESSIONAL</p>
                        </div>
                        <div class="safety_img04"></div>
                    </div>
        </div>
    </main>
    <!-- 尾部 -->
    <footer></footer>
</body>

</html>
<script src="js/jquery.min.js"></script>
<script src="js/common.js"></script>
<script>
    $("header").load("head.html");
    $("footer").load("footer.html");
</script>