<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equlv="expires" content="0">
    <meta http-equlv="Pragma" content="no-cache">
    <meta http-equlv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="鑫路金融,鑫路金融官网,理财平台,互联网理财平台">
    <meta name="description" content="鑫路金融是一家专注于短期投资的个人理财平台,精选优质的个人理财产品,优化用户投资体验。">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>团队架构-鑫路金融官网</title>
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/base.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/common.css">
    <link rel="stylesheet" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/css/team.css">
    <link rel="shortcut icon" type="image/x-icon" href="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/xinlu-icon.ico">
</head>

<body>
    <header></header>
    <div class="banner"></div>
    <div class="content">
        <ul class="team_ul clearfloat">
            <li class="active">
                <p>OUR EXECUTIVES</p>
                <p>高&#x3000;管</p>
            </li>
            <li>
                <p>OUR TEAM</p>
                <p>团&#x3000;队</p>
            </li>
        </ul>
        <div class="executives">
            <ul class="executives_ul">
                <li>
                    <div class="img_01"></div>
                    <p>孙仕&#x3000;/&nbsp;&nbsp;运营总监</p>
                    <p>负责鑫路金融整体运营工作，制定运营策略、方案并组织执行。拥有多年互联网产品市场运营实际操作经验。专注于线上运营用户模型搭建，聚焦建立完整的互联网金融运营生态链条，为用户提供健康良性的互联网金融专属产品。</p>
                </li>
                <li>
                    <div class="img_01"></div>
                    <p>潘胜&#x3000;/&nbsp;&nbsp;风控总监</p>
                    <p>负责鑫路金融风控体系的完善及制度建设，保证平台安全合规运营。在市场开发、风险防范和管理不良资产方面具备丰富经验，尤其擅长对民间金融的风险控制。2012年进入互联网金融行业，精研数据分析，对各类风控模型都有熟练的运用以及深刻的理解。</p>
                </li>
            </ul>
        </div>
        <div class="team close_ul">
            <p>鑫路大家庭是一个充满朝气的地方，这里的成员来自五湖四海，或有不同个性、或有不同教育背景、或有不同人生经历，我们齐聚一堂，构成了鑫路的运营部门、技术部门和设计部门。</p>
            <img src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/images/team/team.png" alt="">
            <p>在这里，我们为打造一个安全可靠的理财平台而共同努力，加强科技型风控，回归金融本质，持续不断地探索互联网和金融融合的前行道路。大力发展智能金融服务，通过科技和数据手段为投资人提供专业、透明、高效的服务。</p>
        </div>
    </div>
    <footer></footer>
</body>

</html>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/jquery.min.js"></script>
<script src="http://xlstyle.oss-cn-hangzhou.aliyuncs.com/xinlu-pc/js/base.js"></script>
<script>
    $(".team_ul li").click(function () {
        $(this).addClass("active").siblings().removeClass("active");
        $(this).parent().siblings("div").eq($(this).index()).removeClass("close_ul").siblings("div").addClass("close_ul");
    })
</script>